<div class="ux-typeahead-options"
     [uxInfiniteScroll]="loadOptionsCallback"
     [collection]="visibleOptions$ | async"
     (collectionChange)="visibleOptions$.next($event)"
     [enabled]="hasBeenOpened && isInfiniteScroll()"
     [filter]="filter"
     [loadOnScroll]="true"
     [pageSize]="pageSize"
     [scrollElement]="typeaheadElement"
     (loading)="loading = true"
     (loaded)="loading = false; onLoadedHighlight($event)">

    <div *ngIf="(visibleRecentOptions$ | async).length > 0">
        <ng-container [ngTemplateOutlet]="recentOptionsHeadingTemplate"></ng-container>
    </div>

     <!-- Recent options -->
    <ux-typeahead-options-list
        *ngIf="(visibleRecentOptions$ | async).length > 0"
        class="ux-typeahead-recent-options"
        [id]="id"
        [options]="visibleRecentOptions$ | async"
        [highlighted]="highlighted$ | async"
        [activeKey]="activeKey"
        [disabledOptions]="disabledOptions"
        [isMultiselectable]="multiselectable"
        [optionTemplate]="optionTemplate || defaultOptionTemplate"
        [optionApi]="optionApi"
        [typeaheadElement]="typeaheadElement"
        (optionMouseover)="highlight($event.option)"
        (optionMousedown)="optionMousedownHandler($event.event)"
        (optionClick)="optionClickHandler($event.event, $event.option)">
    </ux-typeahead-options-list>

    <ng-container [ngTemplateOutlet]="optionsHeadingTemplate"></ng-container>

    <!-- All options -->
    <ux-typeahead-options-list
        *ngIf="(visibleOptions$ | async).length > 0"
        class="ux-typeahead-all-options"
        [id]="id"
        [startIndex]="(visibleRecentOptions$ | async).length"
        [options]="visibleOptions$ | async"
        [highlighted]="highlighted$ | async"
        [activeKey]="activeKey"
        [disabledOptions]="disabledOptions"
        [isMultiselectable]="multiselectable"
        [optionTemplate]="optionTemplate || defaultOptionTemplate"
        [optionApi]="optionApi"
        [typeaheadElement]="typeaheadElement"
        (optionMouseover)="highlight($event.option)"
        (optionMousedown)="optionMousedownHandler($event.event)"
        (optionClick)="optionClickHandler($event.event, $event.option)">
    </ux-typeahead-options-list>

    <div *uxInfiniteScrollLoading>
        <ng-container [ngTemplateOutlet]="loadingTemplate || defaultLoadingTemplate"></ng-container>
    </div>

    <div *ngIf="isInfiniteScroll() === false && (visibleOptions$ | async).length === 0 && loading">
        <ng-container [ngTemplateOutlet]="loadingTemplate || defaultLoadingTemplate"></ng-container>
    </div>

</div>
<div *ngIf="(visibleOptions$ | async).length === 0 && !loading">
    <ng-container [ngTemplateOutlet]="noOptionsTemplate || defaultNoOptionsTemplate">
    </ng-container>
</div>

<ng-template #defaultLoadingTemplate>
    <div class="ux-typeahead-loading">
        <div class="spinner spinner-accent spinner-bounce-middle"></div>
        <div>Loading...</div>
    </div>
</ng-template>

<ng-template #defaultOptionTemplate let-option="option" let-api="api">
    <span class="ux-typeahead-option" [innerHtml]="api.getDisplayHtml(option)"></span>
</ng-template>

<ng-template #defaultNoOptionsTemplate>
    <span class="ux-typeahead-no-options">No results</span>
</ng-template>
