@import "../../styles/variables.less";

ux-typeahead {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    z-index: @select-drop-z-index;
    padding: 5px 5px 5px 0;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    background-color: @dropdown-bg;
    box-shadow: 0 0 3px @dropdown-shadow;

    &.open {
        display: block;
    }

    & > ol {
        margin-bottom: 0;
        padding: 0;

        & > li {
            display: list-item;
            list-style: none;
            margin: 0;
            padding: 0 10px;
            line-height: 24px;
            cursor: pointer;

            &.highlighted {
                background-color: @shift-select-selected-light;
            }

            &.selected {
                cursor: default;
                color: @grey5;
            }
        }
    }
}
