<ol>

    <li *ngFor="let option of options; let i = index"
        [attr.id]="id + '-option-' + (i + startIndex)"
        [class.disabled]="option.isDisabled"
        [class.highlighted]="highlighted.key === option.key && highlighted.isRecentOption === option.isRecentOption"
        [class.active]="activeKey === option.key"
        [attr.aria-selected]="isMultiselectable ? option.isDisabled : (activeKey === option.key ? true : null)"
        [uxTypeaheadHighlight]="highlighted.key === option.key && highlighted.isRecentOption === option.isRecentOption"
        [uxScrollIntoViewIf]="highlighted.key === option.key && highlighted.isRecentOption === option.isRecentOption"
        [scrollParent]="typeaheadElement.nativeElement"
        (mouseover)="optionMouseover.emit({ option: option, event: $event })"
        (mousedown)="optionMousedown.emit({ option: option, event: $event })"
        (click)="optionClick.emit({ option: option, event: $event })">

        <ng-container [ngTemplateOutlet]="optionTemplate"
            [ngTemplateOutletContext]="{option: option.value, api: optionApi}">
        </ng-container>

    </li>

</ol>
