ux-popover {
    .popover {
        position: static;

        &.top {
            transform: translateY(-11px);
        }

        &.bottom {
            transform: translateY(0);
        }

        &.right {
            transform: translateX(0);
        }

        &.left {
            transform: translateX(-11px);
        }
    }

    .ux-popover-no-padding {
        padding: 0;

        .popover-content {
            padding: 0;
        }
    }
}