.ux-custom-filter.active {
    font-weight: 600;
}

.ux-custom-filter .hpe-down {
    font-size: 0.625rem;
}

.ux-custom-filter .dropdown-menu .dropdown-list-item .dropdown-item {
    padding-left: 10px;
}

.ux-custom-filter .dropdown-menu .dropdown-list-item .dropdown-item .hpe-icon {
    width: 16px;
}

.ux-custom-filter .dropdown-menu .dropdown-list-item .dropdown-item .filter-dropdown-title {
    padding-left: 10px;
}
