ux-dashboard-table-widget {
    .table {
        height: 100%;
        margin-bottom: 0;
        border: none;

        .table-body {
            height: 100%;
            overflow-y: visible;
        }
    }
}
