<ux-predefined-widget class="widget-element"
                      [id]="id"
                      [colSpan]="colSpan"
                      [rowSpan]="rowSpan"
                      [name]="name"
                      [heading]="heading"
                      [fixedMode]="fixedMode">
    <table class="table"
           uxFixedHeaderTable
           [dataset]="data">
        <thead *ngIf="header.length">
            <tr>
                <th *ngFor="let cell of header">{{ cell }}</th>
            </tr>
        </thead>

        <tbody class="table-body">
            <tr *ngFor="let item of data">
                <td *ngFor="let cell of item">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</ux-predefined-widget>

