.draggable-card-list-demo {
    width: 100%;
    height: 470px;
}

.workbook-col {
    width: 180px;
    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.items-col {
    width: 58px;
}

.last-accessed-col {
    width: 125px;
}

.author-col {
    width: 121px;
}

.draggable-example {
    background-color: #FAFAFA;
}
.card-content {
  width: 100%;
  height: 100%;
  padding-top: 5px;
}

.card-content .chart-container {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: top;
}

.card-content .text-container {
  display: inline-block;
  width: ~"calc(100% - 70px)";
  padding-left: 10px;
}

.card-content .text-container .status {
  width: 100%;
  height: 15px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4b4d4e;
}