<div class="container">
    <button
        type="button"
        id="left-popover"
        class="btn button-secondary"
        uxPopover="Popover on the left"
        placement="left"
        [isOpen]="isOpen"
        popoverClass="left-popover"
    >
        Popover on left
    </button>

    <button
        type="button"
        id="top-popover"
        class="btn button-secondary"
        uxPopover="Popover on the top"
        placement="top"
        [isOpen]="isOpen"
        popoverClass="top-popover"
    >
        Popover on top
    </button>

    <button
        type="button"
        id="bottom-popover"
        class="btn button-secondary"
        uxPopover="Popover on the bottom"
        placement="bottom"
        [isOpen]="isOpen"
        popoverClass="bottom-popover"
    >
        Popover on bottom
    </button>

    <button
        type="button"
        id="right-popover"
        class="btn button-secondary"
        uxPopover="Popover on the right"
        placement="right"
        [isOpen]="isOpen"
        popoverClass="right-popover"
    >
        Popover on right
    </button>

    <button
        type="button"
        id="custom-fallback"
        class="btn button-secondary"
        uxPopover="Custom fallback"
        placement="right"
        fallbackPlacement="top"
        [isOpen]="isOpen"
        popoverClass="fallback-popover"
    >
        Custom Fallback
    </button>

</div>
