<div class="container">
    <button
        type="button"
        id="left-menu"
        class="btn button-secondary"
        [uxMenuTriggerFor]="menuLeft">
        Menu on left
    </button>

    <button
        type="button"
        id="top-menu"
        class="btn button-secondary"
        [uxMenuTriggerFor]="menuTop">
        Menu on top
    </button>

    <button
        type="button"
        id="bottom-menu"
        class="btn button-secondary"
        [uxMenuTriggerFor]="menuBottom">
        Menu on bottom
    </button>

    <button
        type="button"
        id="right-menu"
        class="btn button-secondary"
        [uxMenuTriggerFor]="menuRight">
        Menu on right
    </button>

    <button
        type="button"
        id="right-bottom-menu"
        class="btn button-secondary"
        [uxMenuTriggerFor]="menuBottomRight">
        Bottom Right
    </button>
</div>

<ux-menu id="menuTop" #menuTop menuClass="ux-menu-demo" placement="top">
    <button type="button" uxMenuItem>
        <span class="dropdown-menu-icon"></span>
        <span class="dropdown-menu-text">Menu Item</span>
    </button>
</ux-menu>

<ux-menu id="menuRight" #menuRight menuClass="ux-menu-demo" placement="right">
    <button type="button" uxMenuItem [uxMenuTriggerFor]="subMenu">
        <span class="dropdown-menu-icon"></span>
        <span class="dropdown-menu-text">Menu Item</span>
    </button>
</ux-menu>

<ux-menu id="menuBottom" #menuBottom menuClass="ux-menu-demo" placement="bottom">
    <button type="button" uxMenuItem [uxMenuTriggerFor]="subMenu">
        <span class="dropdown-menu-icon"></span>
        <span class="dropdown-menu-text">Menu Item</span>
    </button>
</ux-menu>

<ux-menu id="menuLeft" #menuLeft menuClass="ux-menu-demo" placement="left">
    <button type="button" uxMenuItem [uxMenuTriggerFor]="subMenu">
        <span class="dropdown-menu-icon"></span>
        <span class="dropdown-menu-text">Menu Item</span>
    </button>
</ux-menu>

<ux-menu id="menuBottomRight" #menuBottomRight menuClass="ux-menu-demo" placement="right">
    <button type="button" uxMenuItem [uxMenuTriggerFor]="subMenu">
        <span class="dropdown-menu-icon"></span>
        <span class="dropdown-menu-text">Menu Item</span>
    </button>
</ux-menu>

<ux-menu id="subMenu" #subMenu menuClass="ux-menu-demo">
    <button type="button" uxMenuItem>
        <span class="dropdown-menu-text">Sub Menu Item</span>
    </button>
    <button type="button" uxMenuItem>
        <span class="dropdown-menu-text">Sub Menu Item</span>
    </button>
    <button type="button" uxMenuItem>
        <span class="dropdown-menu-text">Sub Menu Item</span>
    </button>
</ux-menu>