.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

button {
    position: absolute;
}

#top-menu {
    top: 0;
    right: 50%;
}

#right-menu {
    top: 50%;
    right: 0;
}

#bottom-menu {
    bottom: 0;
    right: 50%;
}

#left-menu {
    top: 50%;
    left: 0;
}
