<nav role="navigation" [attr.aria-label]="ariaLabel">
  <ul #container class="pagination"
    [ngClass]="classes"
    direction="horizontal"
    (blur)="isKeyboardEvent = false"
    (keydown.ArrowLeft)="select(page - 1); isKeyboardEvent = true"
    (keydown.ArrowRight)="select(page + 1); isKeyboardEvent = true"
    (keydown.Home)="select(1); isKeyboardEvent = true; $event.preventDefault()"
    (keydown.End)="select(pageCount); isKeyboardEvent = true; $event.preventDefault()">

    <li class="pagination-prev page-item"
        *ngIf="directionButtons"
        [class.disabled]="page === 1 || disabled">

      <a class="page-link"
         tabindex="0"
         uxFocusIndicator
         [programmaticFocusIndicator]="true"
         [attr.aria-label]="previousAriaLabel"
         [ngClass]="pageBtnClass"
         (click)="select(page - 1)"
         (keydown.enter)="select(page - 1)">
        <ng-container [ngTemplateOutlet]="previousBtnTemplate || defaultPreviousBtnTemplate"></ng-container>
      </a>
    </li>

    <ng-container *ngFor="let pg of pages; trackBy: trackByFn">
      <li *ngIf="pg.visible"
          [class.disabled]="disabled"
          [class.active]="page === pg.index"
          class="pagination-page page-item">

        <a class="page-link"
           tabindex="0"
           uxFocusIndicator
           [programmaticFocusIndicator]="true"
           [ngClass]="pageBtnClass"
           [focusIf]="isKeyboardEvent && page === pg.index"
           [attr.aria-current]="page === pg.index"
           [attr.aria-setsize]="pageCount"
           [attr.aria-posinset]="pg.index"
           (click)="select(pg.index)"
           (keydown.enter)="select(pg.index)">
            {{ pg.index }}
        </a>
      </li>
    </ng-container>

    <li class="pagination-next page-item"
        *ngIf="directionButtons"
        [class.disabled]="page === pageCount || disabled">

      <a class="page-link"
         tabindex="0"
         uxFocusIndicator
         [programmaticFocusIndicator]="true"
         [attr.aria-label]="nextAriaLabel"
         [ngClass]="pageBtnClass"
         (click)="select(page + 1)"
         (keydown.enter)="select(page + 1)">

        <ng-container [ngTemplateOutlet]="nextBtnTemplate || defaultNextBtnTemplate"></ng-container>
      </a>
    </li>
  </ul>
</nav>

<ng-template #defaultPreviousBtnTemplate>
  <span class="hpe-icon hpe-previous"></span>
</ng-template>

<ng-template #defaultNextBtnTemplate>
  <span class="hpe-icon hpe-next"></span>
</ng-template>
