.radio-button-container {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
      
    ::ng-deep .ux-radio-button-label {
        font-size: 16px;
    
        .highlight {
            color: blue;
            font-weight: 600;
        }
    }
}

.dropdown-placeholder {
    margin-top: 216px;
}
