.radio-button-container {
    padding-top: 16px;
    padding-bottom: 16px;
    outline: none;

    ux-radio-button {
        padding: 4px 16px;
        margin-bottom: 0;
    
        ::ng-deep .ux-radio-button-label {
            font-size: 16px;
        
            .highlight {
                color: #2a2a2a;
                font-weight: 600;
            }
        }
    }
}
    
.radio-button-container:focus ux-radio-button.focused {
      background-color: #e7f1f9;
}

.dropdown-placeholder {
    margin-top: 216px;
}
