<div #notification
    class="notification"
    *ngFor="let notificationRef of notifications$ | async; let index = index"
    [style.height.px]="_getNotificationHeight(notification, notificationRef)"
    [style.top.px]="_getNotificationPosition(index)"
    [style.background-color]="notificationRef.backgroundColor"
    [@notificationState]>

    <!-- Notification Content -->
    <ng-container
        [ngTemplateOutlet]="notificationRef.templateRef"
        [ngTemplateOutletContext]="{ $implicit: notificationRef, data: notificationRef.data }">
    </ng-container>
</div>
