<ux-facet-header [header]="header" [(expanded)]="expanded"></ux-facet-header>

<!-- Create a container which will show when section is expanded -->
<div class="facet-check-list-container"
    tabindex="-1"
    role="listbox"
    [class.facet-check-list-scrollbar]="scrollbar"
    [class.facet-check-list-scrollbar-focused]="isFocused"
    *ngIf="expanded">

    <!-- Iterate through each possible facet -->
    <ux-facet-check-list-item *ngFor="let facet of facets; let index = index"
        [facet]="facet"
        [simplified]="simplified"
        [tabbable]="activeIndex === index"
        [selected]="facetService.isSelected(facet)"
        (selectedChange)="toggleFacet(index, facet)"
        (keydown)="onKeydown($event)"
        (itemFocus)="isFocused = true; onFocus(index)"
        (itemBlur)="isFocused = false">
    </ux-facet-check-list-item>

</div>