<ux-facet-header [header]="header" [(expanded)]="expanded"></ux-facet-header>

<!-- Create a container which will show when section is expanded -->
<div class="facet-check-list-container"
    role="listbox"
    [class.facet-check-list-scrollbar]="scrollbar"
    *ngIf="expanded">

    <!-- Iterate through each possible facet -->
    <ux-facet-check-list-item *ngFor="let facet of facets; let index = index"
        [facet]="facet"
        [tabbable]="activeIndex === index"
        [selected]="isFacetSelected(facet)"
        (selectedChange)="toggleFacet(index, facet)"
        (keydown)="onKeydown($event)">
    </ux-facet-check-list-item>

</div>