.reorderable-row {
    background-color: #fff;
}

.reorderable-row:focus {
    outline: 2px dotted;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00a7a2;
    outline-offset: 0;
}

.table tr:hover .drag-handle-column {
    color: #dcdedf;
}

.drag-handle-column {
    width: 48px;
    text-align: center;
    color: #dcdedf;
    transition: color 250ms ease-in-out;
    cursor: move;
}

.table tr:hover .drag-handle-column:hover {
    color: #bdbec0;
}