<div class="multiple-select-container">
  <div ng-transclude ng-show="!mssa.state.selecting"></div>
  <div class="multiple-select-selecting" ng-if="mssa.state.selecting">
    <div class="row">
      <div class="col-xs-9">
        <span class="selecting-text"> 
          <span ng-bind="mssa.provider.selectItemsText" ng-if="mssa.state.count===0"></span>
          <span ng-if="mssa.state.count>0">
            <span ng-bind="mssa.provider.selectedItemsText"></span>&nbsp;
            <b ng-bind="mssa.state.count"></b>&nbsp;
            <span ng-if="mssa.state.count>1" ng-bind="mssa.provider.selectedItemsUnitText"></span>
            <span ng-if="mssa.state.count===1" ng-bind="mssa.provider.selectedItemUnitText"></span>&nbsp;&nbsp;
          </span>
        </span>
        <a href="" class="multiple-select-link" ng-click="mssa.provider.selectAll();" ng-if="!mssa.state.selectAllMode || mssa.provider.deselectedItems.length">
          <span ng-bind="mssa.provider.selectAllText"></span>
        </a>
        <a href="" class="multiple-select-link" ng-click="mssa.provider.selectNone();" ng-if="mssa.state.selectAllMode && !mssa.provider.deselectedItems.length">
          <span ng-bind="mssa.provider.selectNoneText"></span>
        </a>
        <a href="" ng-bind="mssa.provider.action.name" class="btn button-primary m-r-xs m-l-lg" ng-disabled="!mssa.provider.itemsSelected()" ng-click="mssa.provider.proceed();"></a>
        <span class="v-separator"></span>
        <a href="" ng-click="mssa.provider.cancel();$event.preventDefault();" class="btn btn-link cancel-btn"><span ng-bind="mssa.provider.cancelText" class="cancel-btn-text"></span></a>
      </div>
    </div>
    <div class="multiple-select-error" ng-class="{'show-error':mssa.provider.showError}">
      <span class="error-text" ng-bind="mssa.provider.selectionInvalidText"></span>
    </div>
  </div>
</div>