.badge-separator {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.icon-example {
    margin-left: 100px;
}

.example-list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        float: left;
        display: block;
        width: 120px;
    }
}