<tr class="multiSortHeader" ng-class="vm.classes">

	<th ng-repeat="header in vm.headers" class="header {{ ::header.fixedClass }}"
		ng-class="{ 'text-center': header.center, 'clickable': header.sortable }" 
    	ng-click="vm.select(header)">
		
		<p class="multiSortTitle" ng-bind="header.sorterHeader" ng-style="{ width: !vm.columnData[header.sort] ? '100%' : 'calc(100% - 36px)' }"></p>

		<div class="multiSortContainer" ng-class="{ 'ng-hide': !vm.columnData[header.sort] }">
    		<i class="hpe-icon text-muted sortableHeaderIcon" ng-class="vm.columnData[header.sort] ? vm.columnData[header.sort].icon : ''"></i>
        	<p class="multiSortNumber text-muted" ng-bind="vm.columnData[header.sort] ? vm.columnData[header.sort].order : ''"></p>
		</div>

	</th>
</tr>
