.hover-action-container {
    outline: none;
}

.hover-action-container:focus,
.hover-action-container.hover-action-container-active {
    background-color: #f5f5f5;
}

.hover-action-container .hover-action-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

.hover-action-container .hover-action-btn:focus {
    outline: 2px dotted;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00a7a2;
    outline-offset: 0;
}

.hover-action-container .hover-action-icon {
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
}
