ux-hierarchy-bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid @organization-chart-hierarchy-bar-border;
    box-shadow: 0 0 5px @organization-chart-hierarchy-bar-border;
    align-items: center;
    padding: 0 25px;
    overflow: hidden;
}