.column-picker-list {
    height: 500px;
    border: 1px solid #e5e5e5;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-color: #f5f7f8;
}

.column-picker-list-item {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 16px;
    background-color: #fff;
    cursor: pointer;
}

.column-picker-list-item.ux-selection-selected {
    background-color: #e5f1fd;
    color: #000;
    border-bottom-color: #ced9e5;
}