<div class="ux-column-sorting">

    <!-- The default sort indicator -->
    <ng-container *ngIf="!_sortIndicator">

        <ux-icon
            class="ux-column-sorting-icon"
            [class.column-sorting-icon-hidden]="_state === columnSortingState.NoSort"
            [name]="_icon">
        </ux-icon>

        <p class="ux-column-sorting-number" aria-hidden="true">{{ order }}</p>
    </ng-container>

    <!-- Custom sort indicator -->
    <ng-container
        *ngIf="_sortIndicator"
        [ngTemplateOutlet]="_sortIndicator"
        [ngTemplateOutletContext]="{ state: _state, order: order }">
    </ng-container>

</div>