.hierarchy-bar-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}