.white-space-normal.table-responsive>.table>tbody>tr>th,
.white-space-normal.table-responsive>.table>tbody>tr>td {
    white-space: normal;
}

.detail-row-responsive-demo {
    width: 99%;
    min-width: 600px;
    max-width: 800px;
    min-height: 400px;
}

.detail-row-responsive-demo .contacts-list-container {
  position: absolute;
  top: 0;
}