<ux-marquee-wizard [resizable]="resizable"
                   [(sidePanelWidth)]="sidePanelWidth">

    <ux-marquee-wizard-step header="Step 1">
        <ux-icon *uxMarqueeWizardStepIcon name="soa"></ux-icon>
        <p>Step 1 Content</p>
    </ux-marquee-wizard-step>

    <ux-marquee-wizard-step header="Step 2">
        <ux-icon *uxMarqueeWizardStepIcon name="schedule-clone"></ux-icon>
        <p>Step 2 Content</p>
    </ux-marquee-wizard-step>

    <ux-marquee-wizard-step header="Step 3">
        <ux-icon *uxMarqueeWizardStepIcon name="sync"></ux-icon>
        <p>Step 3 Content</p>
    </ux-marquee-wizard-step>

    <ux-marquee-wizard-step header="Step 4">
        <ux-icon *uxMarqueeWizardStepIcon name="storage"></ux-icon>
        <p>Step 4 Content</p>
    </ux-marquee-wizard-step>

    <ng-template *ngIf="hasFooterTemplate" #footerTemplate let-step="step">
        <button id="reset" type="button" class="btn button-secondary">Reset Step {{step}}</button>
    </ng-template>

</ux-marquee-wizard>

<button id="resizeable" class="btn button-primary" (click)="resizable = true">Enable resizable</button>
<button id="footerTemplate" class="btn button-secondary" (click)="hasFooterTemplate = true">Add footerTemplate</button>

<ux-number-picker [(value)]="sidePanelWidth"></ux-number-picker>

<p id="sidePanelWidthChange">{{ sidePanelWidth | number: '1.1-1' }}</p>

