.ux-filter-custom {
    .filter-dropdown {
        &.active {
            font-weight: 600;
        }

        .hpe-down {
            font-size: 0.625rem;
        }
    }

    .dropdown-menu {
        padding: 10px;
    }
}