.cardTab {
  padding: 7px 9px;
}

.cardTab .cardTitle {
  color: #333;
  font-size: 17px;
}

.cardTab .cardValue {
  text-align: center;
  font-size: 26px;
  color: #686868;
  margin: 0;
}

.cardTab .cardSubtitle {
  text-align: center;
  color: #B8B8B8;
  margin-bottom: 0;
}

.cardTab .cardImg {
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cardTab .cardImg.img1 {
  background-image: url("https://uxaspects.github.io/UXAspects/assets/img/card-img1.png");
}

.cardTab .cardImg.img2 {
  background-image: url("https://uxaspects.github.io/UXAspects/assets/img/card-img2.png");
}

.cardTab .cardImg.img3 {
  background-image: url("https://uxaspects.github.io/UXAspects/assets/img/card-img3.png");
}

.cardTab .cardImg.img4 {
  background-image: url("https://uxaspects.github.io/UXAspects/assets/img/card-img4.png");
}

.cardTab .cardImg.img5 {
  background-image: url("https://uxaspects.github.io/UXAspects/assets/img/card-img5.png");
}