<ux-predefined-widget class="widget-element"
                      [id]="id"
                      [colSpan]="colSpan"
                      [rowSpan]="rowSpan"
                      [name]="name"
                      [heading]="heading"
                      [fixedMode]="fixedMode">
    <div #textWrapper class="widget-text" [class.is-truncated]="textWrapper.clientHeight < textParagraph.clientHeight">
        <p #textParagraph>{{ text }}</p>
    </div>
    <button class="widget-side-panel-opener btn"
            (click)="open()"
            [attr.title]="editable ? localizedStrings.edit : localizedStrings.showFullText">
        <ux-icon name="chevron-right" *ngIf="!editable"></ux-icon>
        <ux-icon name="edit" *ngIf="editable"></ux-icon>
    </button>
</ux-predefined-widget>
<ux-side-panel #sidePanel
               class="widget-side-panel"
               attachTo="container"
               width="100%">
    <div class="ux-side-panel-header">
        <h3>{{ heading }}</h3>
        <button uxSidePanelClose
                aria-label="Close Side Panel"
                type="button"
                class="btn btn-lg btn-link btn-icon button-secondary">
            <ux-icon name="close"></ux-icon>
        </button>
    </div>
    <textarea #textArea
              class="widget-side-panel-textarea ux-side-panel-content"
              [disabled]="!editable">
        {{ text }}
    </textarea>
    <div class="ux-side-panel-footer" *ngIf="editable">
        <button type="button" class="m-b btn button-primary" (click)="save()">{{ localizedStrings.save }}</button>
        <button type="button" class="m-b btn button-secondary" (click)="cancel()">{{ localizedStrings.cancel }}</button>
    </div>
</ux-side-panel>
