ux-dashboard-text-widget {
    .widget-text {
        height: 100%;
        overflow: hidden;
        position: relative;

        p {
            white-space: pre-wrap;
        }
    }

    .ux-side-panel.open > .ux-side-panel-host {
        border-left: none;
    }

    .ux-side-panel > .ux-side-panel-host > .widget-side-panel-textarea {
        background-color: transparent;
        border: none;
        outline: none;
    }
}
