ux-dashboard-text-widget {
    ux-predefined-widget {
        .widget-text {
            height: 100%;
            overflow: hidden;
            position: relative;

            p {
                white-space: pre-wrap;
            }

            &.is-truncated::after {
                background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                bottom: 0;
                content: ' ';
                display: block;
                height: 30px;
                position: absolute;
                width: 100%;
            }
        }
    }

    .ux-side-panel.open > .ux-side-panel-host {
        border-left: none;
    }

    .ux-side-panel > .ux-side-panel-host > .widget-side-panel-textarea {
        background-color: transparent;
        border: none;
        outline: none;
    }
}
