<div class="employee-list" [uxInfiniteScroll]="loadCallback" [(collection)]="loadedEmployees" [scrollElement]="scrollElement"
    [pageSize]="pageSize" [filter]="debouncedFilterText | async" [loadOnScroll]="loadOnScroll">

    <ol id="employees">
        <li *ngFor="let employee of loadedEmployees" class="employee-item">
            <div class="employee-details">
                <div>
                    <span class="employee-name">{{employee.name}}</span>
                    <span class="employee-department">({{employee.department}})</span>
                </div>
                <div>
                    <span class="employee-email">{{employee.email}}</span>
                </div>
            </div>
            <div class="employee-id">{{employee.id}}</div>
        </li>
    </ol>

    <button id="button1" *uxInfiniteScrollLoadButton type="button" class="btn btn-link button-primary employee-load-more">Load more</button>

    <div id="loading" *uxInfiniteScrollLoading class="employee-loading">
        <div class="spinner spinner-accent spinner-bounce-middle"></div>
        <div>Loading...</div>
    </div>

</div>

<div id="panel" class="customize-container">
    <div class="container-fluid">
        <div class="row m-b">
            <div class="col-md-12 col-sm-12">
                <input id="filter" type="text" class="form-control" placeholder="Filter"
                    [ngModel]="filterText | async" (ngModelChange)="filterText.next($event)">
            </div>
        </div>
        <div class="row m-b">
            <div class="col-md-6 col-sm-12">
                <ux-checkbox id="checkbox1" [(value)]="loadOnScroll">loadOnScroll</ux-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label for="pageSize">pageSize</label>
                <ux-number-picker id="numberPicker" [(value)]="pageSize"></ux-number-picker>
            </div>
        </div>
    </div>
</div>