node_modules/
.grunt/
_SpecRunner.html
jshint.log
.awcache/
docs/app/assets/licenses.txt
src/fonts/hpe-icons.eot
src/fonts/hpe-icons.ttf
src/fonts/hpe-icons.woff
src/fonts/hpe-icons.svg
src/styles/hpe-icons.less