node_modules/
.node_modules__*/
!docs/app/showcase/charts/dist/
!docs/app/showcase/list_view/dist/
.grunt/
_SpecRunner.html
jshint.log
.awcache/
docs/app/assets/licenses.txt
src/fonts/*-icons.woff
src/fonts/*-icons.ttf
src/styles/hpe-icons.less
dist/
.tscache/
e2e/_test-output/
e2e/coverage/
e2e/dist/
e2e/html/
e2e/xml/
.ng_build/
.ng_pkg_build/
target/
.vscode
.idea
*.iml
.tmp
