<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" configfailurepolicy="continue" verbose="10">
  <parameter name="rootUrl" value="http://16.73.33.111:4000"/>
  <!-- <parameter name="rootUrl" value="http://elements.hpswlabs.hp.com/dev_preview"/> -->
  <parameter name="implicitWaitTimeMS" value="10000"/>
  <parameter name="displayWaitTimeMS" value="10000"/>
  <parameter name="verticalScrollPixels" value="-100"/>
  <parameter name="chromeDriverLocation" value="/home/UXAspectsTestUser/ux-aspects/Selenium/ChromeDriver/chromedriver"/>
  <parameter name="geckoDriveroLocation" value="/home/UXAspectsTestUser/ux-aspects/Selenium/GeckoDriver/geckodriver"/>
  <parameter name="IEDriverLocation" value="/home/UXAspectsTestUser/ux-aspects/Selenium/IEdriverServer/IEdriverServer"/>
  <parameter name="edgeDriverLocation" value="/home/UXAspectsTestUser/ux-aspects/Selenium/MicrosoftWebDriver/MicrosoftWebDriver"/>
  <!-- <parameter name="chromeDriverLocation" value="C:\Git3\elements\configuration\chromedriver.exe"/>
  <parameter name="geckoDriverLocation" value="C:\Git3\elements\configuration\geckodriver.exe"/>
  <parameter name="IEDriverLocation" value="C:\Git3\elements\configuration\IEdriverServer.exe"/>
  <parameter name="edgeDriverLocation" value="C:\Git3\elements\configuration\MicrosoftWebDriver.exe"/> -->
  <parameter name="useRemoteWebDriver" value="true"/>
  <parameter name="browserPlatform" value="vista"/>
  <parameter name="gridHubURL" value="http://16.73.33.111:4444/wd/hub"/>
  
  <!-- CHROME -->
  
  <test name="Chrome-Charts-BarCharts">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="charts/bar-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.BarCharts"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Charts-SparkCharts">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="charts/spark-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.Spark"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-Buttons">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-InputControls">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/input-controls"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.InputControls"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-Panels">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/panels"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.ItemDisplayPanel"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-Select">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/select"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Select"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-Splitters">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/splitter"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.SideInsetSplitters"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-Tabs">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/tabs"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Tabs"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-TreeViews">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/tree-view"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.TreeViews"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-Components-Wizard">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="components/wizard"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Wizard"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Chrome-CSS-Buttons">
    <parameter name="browser" value="Chrome"/>
    <parameter name="page" value="css/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.CSS.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <!-- FIREFOX -->

  <!-- <test name="Firefox-Charts-BarCharts">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="charts/bar-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.BarCharts"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Charts-SparkCharts">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="charts/spark-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.Spark"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-Buttons">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-InputControls">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/input-controls"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.InputControls"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-Panels">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/panels"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.ItemDisplayPanel"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-Select">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/select"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Select"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-Splitters">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/splitter"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.SideInsetSplitters"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-Tabs">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/tabs"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Tabs"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-TreeViews">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/tree-view"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.TreeViews"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-Components-Wizard">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="components/wizard"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Wizard"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="Firefox-CSS-Buttons">
    <parameter name="browser" value="Firefox"/>
    <parameter name="page" value="css/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.CSS.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- IE 11 -->
  
  <test name="IE-Charts-BarCharts">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="charts/bar-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.BarCharts"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="IE-Charts-SparkCharts">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="charts/spark-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.Spark"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <!-- <test name="IE-Components-Buttons">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="IE-Components-InputControls">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/input-controls"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.InputControls"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-Components-Panels">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/panels"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.ItemDisplayPanel"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-Components-Select">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/select"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Select"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-Components-Splitters">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/splitter"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.SideInsetSplitters"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-Components-Tabs">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/tabs"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Tabs"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-Components-TreeViews">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/tree-view"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.TreeViews"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-Components-Wizard">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="components/wizard"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Wizard"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- <test name="IE-CSS-Buttons">
    <parameter name="browser" value="IE"/>
    <parameter name="page" value="css/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.CSS.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test> -->
  
  <!-- EDGE -->
  
  <test name="Edge-Charts-BarCharts">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="charts/bar-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.BarCharts"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Charts-SparkCharts">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="charts/spark-charts"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Charts.Spark"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-Buttons">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-InputControls">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/input-controls"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.InputControls"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-Panels">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/panels"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.ItemDisplayPanel"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-Select">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/select"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Select"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-Splitters">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/splitter"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.SideInsetSplitters"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-Tabs">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/tabs"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Tabs"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-TreeViews">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/tree-view"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.TreeViews"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-Components-Wizard">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="components/wizard"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.Components.Wizard"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
  
  <test name="Edge-CSS-Buttons">
    <parameter name="browser" value="edge"/>
    <parameter name="browserPlatform" value="win10"/>
    <parameter name="page" value="css/buttons"/>
	<classes>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.OpenPage"></class>
       <class name="WebDriverTests.WebDriverTests.CSS.Buttons"></class>
       <class name="WebDriverTests.WebDriverTests.UXAspectsTesting.CloseDriver"></class>
	</classes>
  </test>
</suite> <!-- Suite -->

