/*
	Preview Pane Window
*/
@media screen and (max-width: 769px) {
  .preview-pane-window .preview-items {
    max-height: 445px;
  }
}

.preview-pane-window .preview-items .card {
  padding: 16px 0 16px 11px;
  height: 105px;
}

.preview-pane-window .preview-items .card:first-of-type {
  border-top: none;
}

.preview-pane-window .preview-items .card .icon {
  background-image: url('https://pages.github.hpe.com/ashley-glenn-hunter/ux-aspects/assets/img/page.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 28px;
  background-size: contain;
}

.preview-pane-window .preview-items .card .content {
  width: calc(100% - 50px);
  padding-left: 2px;
}

.preview-pane-window .preview-items .card .content .document-name {
  color: #333;
  font-weight: 200;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 2px;
  overflow: hidden;
  max-width: calc(100% - 85px);
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.preview-pane-window .preview-items .card .content .document-description {
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  margin: 0;
  max-width: calc(100% - 20px);
}

.preview-pane-window .preview-items .card .content .document-description span {
  color: #676a6c;
}

.preview-pane-window .preview-items .card .content .document-progress {
  margin-right: 20px;
  float: right;
  width: 25%;
}

.preview-pane-window .preview-items .card .label {
  position: absolute;
  top: 17px;
  right: 25px;
}

.preview-pane-window .spark-bottom-label {
  font-size: 14px;
}

@media screen and (max-width: 630px) {
  .preview-pane-window .preview-items .card .card-label {
    display: none;
  }
}

.pp-toggle {
  display: none;
}

.ppw-button-container {
  display: flex;
  justify-content: flex-end;
}

.ppw-button-container .ppw-button {
  padding: 0;
}

.ppw-button-container .ppw-button .ppw-open {
  padding: 4px 8px;
  display: inline-block;
}

.spark-chart-pw {
  width: 100%;
  float: left;
  padding-left: 0px;
}

.spark-chart-pw .spark-label-left {
  width: auto;
}

.preview-pane-window .preview-pane-right {
  height: 480px;
  max-height: 480px;
  min-height: 480px;
}

.preview-pane-window .preview-items {
  height: 550px;
  overflow-y: auto;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}

.preview-pane-shadow {
  height: 57px;
}

.preview-display {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
