<div class="slider">

    <div class="track" ng-class="vm.options.track.height">

        <div class="track-section track-lower"
             ng-style="{ 'flex-grow': vm.trackSizes.lower, 'background': vm.trackColors.lower }">
        </div>

        <div class="thumb lower"
             ng-style="{ 'left': vm.thumbPositions.lower, 'z-index': vm.thumbOrder.lower }"      
             ng-class="[vm.options.handles.style, vm.options.track.height]"
             ng-mouseenter="vm.lowerThumbState.hover = true"
             ng-mouseleave="vm.lowerThumbState.hover = false">

             <div class="tooltip top tooltip-lower" 
                  ng-style="{ 'opacity': vm.tooltipLowerVisible ? 1 : 0 }">

                    <div class="tooltip-arrow" 
                         ng-style="{'border-top-color': vm.options.handles.callout.background }">
                    </div>

                    <div class="tooltip-inner" 
                         ng-style="{ 'background-color': vm.options.handles.callout.background, 'color': vm.options.handles.callout.color }" 
                         ng-bind="vm.options.handles.callout.formatter(vm.thumbLowerValue)">
                    </div>
             </div>
        </div>

        <div class="track-section track-range"
             ng-show="vm.options.type === 'range'"
             ng-style="{ 'flex-grow': vm.trackSizes.range, 'background': vm.trackColors.range }">
        </div>

        <div class="thumb upper" 
             ng-show="vm.options.type === 'range'"
             ng-style="{ 'left': vm.thumbPositions.upper, 'z-index': vm.thumbOrder.upper }"
             ng-class="[vm.options.handles.style, vm.options.track.height]"
             ng-mouseenter="vm.upperThumbState.hover = true"
             ng-mouseleave="vm.upperThumbState.hover = false">

             <div class="tooltip top tooltip-upper" 
                  ng-style="{ 'opacity': vm.tooltipUpperVisible ? 1 : 0 }">

                    <div class="tooltip-arrow" 
                         ng-style="{'border-top-color': vm.options.handles.callout.background }">
                    </div>

                    <div class="tooltip-inner" 
                         ng-if="vm.options.type === 'range'"
                         ng-style="{ 'background-color': vm.options.handles.callout.background, 'color': vm.options.handles.callout.color }" 
                         ng-bind="vm.options.handles.callout.formatter(vm.thumbUpperValue)">
                    </div>
             </div>
        </div>

        <div class="track-section track-higher"
             ng-style="{ 'flex-grow': vm.trackSizes.higher, 'background': vm.trackColors.higher }">
        </div>

    </div>

    <div class="tick-container" 
         ng-if="vm.options.track.ticks.major.show || vm.options.track.ticks.minor.show"
         ng-class="{ 'show-labels': vm.options.track.ticks.major.labels || vm.options.track.ticks.minor.labels }">

            <div class="tick" ng-repeat="tick in vm.ticks" ng-class="::tick.type" ng-style="::{ 'left': tick.position + '%' }" ng-show="::tick.showTicks">
                <div class="tick-indicator"></div>
                <div class="tick-label" ng-show="::tick.showLabels" ng-bind="::tick.label"></div>
            </div>
    </div>
</div>