ux-facet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid @grey6;
    outline: none;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &:focus {
        background-color: @grey7;
    }

    .facet-header-title {
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all;
    }
}

.facet-selected-tag {
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    outline: none;
    max-width: 100%;
    color: @tag-input-tag-color;
    background-color: @tag-input-tag-bg;
    border: 1px solid @tag-input-tag-border;
    border-radius: 1px;
    padding: 0 5px;

    &.ux-reorderable-moving {
         opacity: 0.5;
    }
}