<div class="range-header">

  <div class="header-section">
    <div *ngIf="!rangeService.start" class="select-header">{{ selectStartTitle }}</div>
      <div *ngIf="rangeService.start" class="date-header">
          <ng-container *ngIf="!dateLocalization">
              {{ rangeService.start | date: 'd MMMM y' }}
          </ng-container>
          <ng-container *ngIf="dateLocalization">
              {{ rangeService.start | dateLocale: dateLocalization }}
          </ng-container>
      </div>
    <div [style.visibility]="rangeService.start && showTime ? 'visible' : 'hidden'" class="time-header">
        <ng-container *ngIf="!timeLocalization">
            {{ rangeService.start | date: showMeridian ? 'shortTime' : 'HH:mm'}}
        </ng-container>
        <ng-container *ngIf="timeLocalization">
            {{ rangeService.start | dateLocale: timeLocalization}}
        </ng-container>
    </div>
  </div>

  <div class="header-separator">
    <ux-icon name="link-next"></ux-icon>
    <p class="duration" [style.visibility]="_duration !== null && _duration !== undefined ? 'visible' : 'hidden'">
        {{ durationTitle(_duration || 0) }}
    </p>
  </div>

  <div class="header-section">
    <div *ngIf="!rangeService.end" class="select-header">{{ selectEndTitle }}</div>
    <div *ngIf="rangeService.end" class="date-header">
        <ng-container *ngIf="!dateLocalization">
            {{ rangeService.end | date: 'd MMMM y' }}
        </ng-container>
        <ng-container *ngIf="dateLocalization">
            {{ rangeService.end| dateLocale: dateLocalization }}
        </ng-container>
    </div>
    <div [style.visibility]="rangeService.end && showTime ? 'visible' : 'hidden'" class="time-header">
        <ng-container *ngIf="!timeLocalization">
            {{ rangeService.end | date: showMeridian ? 'shortTime' : 'HH:mm'}}
        </ng-container>
        <ng-container *ngIf="timeLocalization">
            {{ rangeService.end | dateLocale: timeLocalization}}
        </ng-container>
    </div>
  </div>

</div>

<div class="content">
  <ux-date-time-picker
    uxDateRangePicker
    picker="start"
    class="start-date-picker"
    [date]="rangeService.start"
    (dateChange)="startChange$.next($event)"
    [min]="min"
    [max]="max"
    [weekdays]="weekdays"
    [startOfWeek]="startOfWeek"
    [showTime]="showTime"
    [showTimezone]="showTimezone"
    [showSeconds]="showSeconds"
    [showMeridian]="showMeridian"
    [showSpinners]="showSpinners"
    [months]="months"
    [monthsShort]="monthsShort"
    [meridians]="meridians"
    [nowBtnText]="nowBtnText"
    [showNowBtn]="showNowBtn"
    [nowBtnAriaLabel]="nowBtnAriaLabel"
    [timezones]="timezones"
    [(timezone)]="startTimezone"
    (timezoneChange)="startTimezoneChange.emit($event)">
  </ux-date-time-picker>

  <ux-date-time-picker
    uxDateRangePicker
    picker="end"
    class="end-date-picker"
    [date]="rangeService.end"
    (dateChange)="endChange$.next($event)"
    [min]="min"
    [max]="max"
    [weekdays]="weekdays"
    [startOfWeek]="startOfWeek"
    [showTime]="showTime"
    [showTimezone]="showTimezone"
    [showSeconds]="showSeconds"
    [showMeridian]="showMeridian"
    [showSpinners]="showSpinners"
    [months]="months"
    [monthsShort]="monthsShort"
    [meridians]="meridians"
    [nowBtnText]="nowBtnText"
    [showNowBtn]="showNowBtn"
    [nowBtnAriaLabel]="nowBtnAriaLabel"
    [timezones]="timezones"
    [(timezone)]="endTimezone"
    (timezoneChange)="endTimezoneChange.emit($event)">
  </ux-date-time-picker>
</div>
