<div class="container p-lg">

    <ux-dashboard #dashboard
                  id="dashboardWidgetContainer"
                  class="customizable-dashboard"
                  [class.dashboard-grabbing]="dashboard.isGrabbing"
                  [options]="options"
                  [(layout)]="layout">

        <ux-dashboard-widget id="analytics-1-widget"
                             name="Usage Analytics"
                             [colSpan]="4"
                             [rowSpan]="2"
                             [resizable]="true"
                             minColSpan="2"
                             minRowSpan="2">

            <div class="widget-content"
                 [class.widget-grabbing]="usageHandle.isGrabbing"
                 uxDashboardWidgetDragHandle>

                <h3 class="widget-title">Widget 1</h3>

                <button class="widget-grab-handle"
                        uxDashboardGrabHandle
                        #usageHandle="ux-dashboard-grab-handle">
                    <ux-icon name="pan"></ux-icon>
                </button>

            </div>

        </ux-dashboard-widget>

        <ux-dashboard-widget
            id="subscription-widget"
            name="Service"
            [colSpan]="2"
            [resizable]="true"
            minColSpan="2">
            <div class="widget-content"
                 [class.widget-grabbing]="handle2.isGrabbing"
                 uxDashboardWidgetDragHandle>

                <h3 class="widget-title">Widget 2</h3>

                <button class="widget-grab-handle"
                        uxDashboardGrabHandle
                        #handle2="ux-dashboard-grab-handle">
                    <ux-icon name="pan"></ux-icon>
                </button>

            </div>

        </ux-dashboard-widget>

        <ux-dashboard-widget
            id="users-widget"
            name="Users"
            [resizable]="true"
            [canMove]="false">

            <div class="widget-content">

                <h3 class="widget-title">Widget 3</h3>
            </div>

        </ux-dashboard-widget>

        <ux-dashboard-widget id="alert-widget" name="Alert" autoPositioning="false" [col]="undefined" [row]="undefined">

            <div class="widget-content"
                 [class.widget-grabbing]="handle4.isGrabbing"
                 uxDashboardWidgetDragHandle>

                <h3 class="widget-title">Widget 4</h3>

                <button class="widget-grab-handle"
                        uxDashboardGrabHandle
                        #handle4="ux-dashboard-grab-handle">
                    <ux-icon name="pan"></ux-icon>
                </button>

            </div>

        </ux-dashboard-widget>

    </ux-dashboard>
</div>

<p id="layout-output">{{ layout | json }}</p>
