<input type="text"
    id="date-range-input"
    placeholder="Select a date range"
    [ngModel]="date"
    uxFocusIndicatorOrigin
    [ngModelOptions]="{ updateOn: 'blur' }"
    (ngModelChange)="onDateChange($event)"
    class="form-control"
    aria-label="Selected date">

<ux-date-range-picker
    [(start)]="start"
    [(end)]="end"
    [min]="min"
    [max]="max"
    [showTime]="showTime"
    [showTimezone]="showTimezone"
    [showSeconds]="showSeconds"
    [showSpinners]="showSpinners"
    [dateLocalization]="dateLocalization"
    [timeLocalization]="timeLocalization"
    [showNowBtn]="showNowBtn"
    (startChange)="onRangeChange()"
    (endChange)="onRangeChange()"
    (startTimezoneChange)="onTimezoneChange(true, $event)"
    (endTimezoneChange)="onTimezoneChange(false, $event)">
</ux-date-range-picker>

<br>

<button id="clear-btn" class="btn button-secondary" (click)="clear()">Clear</button>
<button type="button" id="enable-min-max" class="btn button-secondary" (click)="enableMinAndMax()">Enable min/max</button>
<button type="button" id="disable-min-max" class="btn button-secondary" (click)="disableMinAndMax()">Disable min/max</button>
<button type="button" id="date-locale" class="btn button-secondary" (click)="addDateLocale()">Add Date
    Locale</button>
<button type="button" id="time-locale" class="btn button-secondary" (click)="addTimeLocale()">Add Time Locale</button>
