.container {
    margin-top: 150px;
}

.container-inner {
    margin: 0 auto;
    width: fit-content;
}

button.button-primary {
    margin-bottom: 30px;
}

.btn-container {
    margin-bottom: 30px;
}

.justify-content-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}