.preview-display {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.spark-label .x-large {
    font-size: 24px;
}

.column-choose-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    text-align: center;
    line-height: 30px;
    color: #999999;

    &:hover {
        background-color: #ebebeb;
        color: #999999;        
    }
}

.column-chooser-modal {

    .modal-content {

        background-color: #fafafa;

        .modal-header {
            padding: 9px 15px;
            background-color: #333;
            color: #fff;

            .modal-title {
                font-size: 18px;
                font-weight: 300;
            }
        }

        .modal-footer {
            border-top-color: #e2e2e2;
        }
    }
}

.select-table-container {
    border-color: #e3e3e3;
    border-width: 1px;
    background-color: #f3f3f3;    
}

table.select-table tbody tr {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;

    &.highlight, &.highlight td {
        color: #60798d;
        background-color: #e6f1f8;
        border-color: #d9e4ec;
        border: 1px solid #d9e4ec;
        font-weight: 500;
    }
}

.selected-column-container {

    height: 300px;
    border: 1px solid #e3e3e3;
    background-color: #f3f3f3;

    .table {
        tbody {
            tr {
                cursor: pointer;
                background-color: #fff;
                height: 39px;

                &.highlighted {
                    color: #60798d;
                    background-color: #e6f1f8;
                }

                td {
                    border-top: none;
                    border-bottom: 1px solid #e5e5e5;
                }
            }  
        }
    }    

    .table-primary-text {
        padding-left: 0;
    }

    .reorder-column {
	    width: 36px;
        padding: 2px 5px;
    }
    
    .reorderable-controls {
        margin: 2px 0 0 0;
        text-align: center;
        width: 20px;

        .reorder-up {
            border-color: transparent transparent #666666 transparent;
            border-style: solid;
            border-width: 0 4px 6px 4px;
            cursor: pointer;
            height: 0;
            margin-left: 4px;
            visibility: hidden;
            width: 0;
        }
        .reorder-drag {
            color: #666666;
            cursor: ns-resize;
            font-size: 13px;
            margin-left: -3px;
            margin-top: 1px;
            margin-bottom: -1px;
            visibility: hidden;
        }
        .reorder-down {
            border-color: #666666 transparent transparent transparent;
            border-style: solid;
            border-width: 6px 4px 0 4px;
            cursor: pointer;
            height: 0;
            margin-left: 4px;
            visibility: hidden;
            width: 0;
        }
    }
    tr:hover .reorderable-controls .reorder-up, tr:hover .reorderable-controls .reorder-drag, tr:hover .reorderable-controls .reorder-down, tr.dragging .reorderable-controls .reorder-up, tr.dragging .reorderable-controls .reorder-down  {
        opacity: 0.5;
        visibility: visible;
    }
    tr:hover .reorderable-controls .reorder-up:hover, tr:hover .reorderable-controls .reorder-drag:hover, tr:hover .reorderable-controls .reorder-down:hover, tr.dragging .reorderable-controls .reorder-drag  {
        opacity: 1;
        visibility: visible;
    }
}

.font-normal {
    font-weight: 500;
}

.slight-opacity {
    opacity: 0.8
}

//List View 2 grouping styling START
.current-view-container {
    background-color: white; 
    padding: 15px;
    margin-bottom: 15px; 
    .current-view-header {
        font-family: 'Source Sans Pro'; 
        font-weight: 600; 
        color: inherit; 
        vertical-align: 
        bottom; 
        border-bottom: 1px solid #e5e5e5; 
        padding-bottom: 10px;
    }
    .btn-group {
        margin-top: 5px;
        width: 100%;
        .dropdown-toggle {
            border: 1px solid #e5e6e7;
            padding: 8px;
            text-align: left;
            width: 100%;
            &> div {
                text-align: left;
                margin-left: 10px;
                margin-right: 10px;
                border-bottom: none;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: ~'calc(100% - 60px)';
                vertical-align: bottom;
            }
        }
    }
    .dropdown-menu {
        padding: 2px;
        &> li > a {
            padding: 3px 15px 3px 10px;
            &:focus {
                outline: none;
            }
            &> span {
                padding-right: 10px;
            }
        }
    }
}

.table-container {
    overflow-x: auto;
}

table.list-view-table {
    border-collapse: separate;
    td.icon-column {
        max-width: 31px;
        min-width: 31px;
        width: 31px;
        vertical-align: middle;
    }
    thead {
        tr.table-header-dark {
            th {
                border-bottom: none;
            }
        }
    }
    tbody {
        &+ tbody {
            border-top: none;
        }
    }
    .list-view-spark {
        width: calc(100% - 40px);
        transform: translate(-50%, 0%);
        left: 50%;
        position: relative;
    }
    &.table {
        .spark-column {
            width: 180px;
        }
        th {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        tr:hover {
            &.no-hover {
                background-color: transparent;   
            }
        }
        tbody {
            tr {
                td {
                    line-height: 17px;
                    padding: 0px;
                    padding-top: 5px;
                    padding-left: 8px;
                    padding-bottom: 5px;
                }
            }
        }
    }
    .list-hover-actions {
        a.list-hover-action {
            padding: 4px;
        }
    }
}

.chat-grouping {
    td.discussion-border {
        border-left: 6px solid transparent;
    }
    &.chat-group {
        background-color: #ffffff;
        &:hover {
            background-color: #f5f5f5;
        }
        td.discussion-border {
            border-left: 6px solid #C5BCC7;
            &.discussion-highlight {
                border-left: 6px solid #7b63a3;
            }
        }
        &.first {
            td.discussion-border {
                border-top: 1px solid #a29fa3;
                border-top-left-radius: 6px;
                &~ td {
                    border-top: 1px solid #a29fa3;
                }
            }
        }
        &.last {
            td.discussion-border {
                border-bottom: 1px solid #a29fa3;
                border-bottom-left-radius: 6px;
                &~ td {
                    border-bottom: 1px solid #a29fa3;
                }
            }
            &+ .chat-group.first {
                td {
                    border-top: none;
                }
            }
        }
    }
}


.document-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.word-icon {
    background: url(../img/IconWordColorized16x16.png) no-repeat;
    .document-icon();
}

.powerpoint-icon {
    background: url(../img/IconPowerPointColorized16x16.png) no-repeat;
    .document-icon();
}

.pdf-icon {
    background: url(../img/IconPDFColorized16x16.png) no-repeat;
    .document-icon();
}

.html-icon {
    background: url(../img/IconHTMLColorized16x16.png) no-repeat;
    .document-icon();
}

.excel-icon {
    background: url(../img/IconExcelColorized16x16.png) no-repeat;
    .document-icon();
}

.email-icon {
    background: url(../img/IconEmailColorized16x16.png) no-repeat;
    .document-icon();
}

//END

.scroll-cardview {
	height: 978px;
}

// List view spacing

.row{
    .p-r-nil{
        .list-view-button-spacing {
            margin-right: 7px;
        }
    }
}

.v-separator-button-spacing {
    margin-right: 4px;
    margin-left: -1px;
}

.v-separator-filter-spacing {
    margin-right: 6px;
    margin-left: 10px;
}

.v-separator-cols-spacing {
    margin-right: 6px;
    margin-left: 6px;
}

.v-separator-view-spacing {
    margin-right: 5px;
    margin-left: 7px;
}

.v-separator-sort-by {
    margin-right: 10px;
    margin-left: -2px;
}

.list-view-button-spacing {
    margin-right: 6px;
}

.list-view-filter-dropdown {
    margin-right: -3px;
}

//List View 1 display panel
.display-panel {
    z-index: 9999;
}

.display-panel-item-selected {
    background-color: #f5f5f5;
}

//Static Tooltips Styling
.custom-tooltip {
    width: 120px;
}

// Flex toolbar
.toolbar-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .toolbar-right-filter {
        width: 160px;
    }
    
    .toolbar-right-buttons {
        flex: 0 0 auto;
    }
}

/* Spacing for elements when they wrap, excluding the condensed toolbar */
.affix-toolbar:not(.affix) {
    .toolbar-left, .toolbar-right {
        & > * {
            margin-bottom: 7px;
        }
    }
}

// keep the non-wrapped toolbar height consistent on print mode
@media (min-width: 1200px) {
    .showcase-toolbar {
        height: 61px;
    }
}
