<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <ux-navigation
                [items]="items"
                [tree]="tree"
                [autoCollapse]="autoCollapse">
            </ux-navigation>
        </div>
        <div class="col-sm-6 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="btn-container">
        <button id="enable-tree-btn" class="btn button-secondary" (click)="tree = true">Enable Tree Mode</button>
        <button id="enable-auto-collapse-btn" class="btn button-secondary" (click)="autoCollapse = true">Enable Auto Collapse</button>
        <button id="disable-exact" class="btn button-secondary" (click)="disableExact()">Disable Exact</button>
    </div>
</div>
