ux-filter-dynamic {
    .filter-dropdown {
        padding: 6px;
        padding-right: 7px;
        padding-left: 6px;

        &:hover {
            background-color: @filter-dropdown-hover-bg;
            border-radius: 0;
            border-color: @filter-dropdown-hover-border;
            text-decoration: none;
        }

        &:focus {
            background-color: @filter-dropdown-focus-bg;
            border-radius: 0;
            border-color: @filter-dropdown-focus-border;
            text-decoration: none;
        }

        &.active {
            font-weight: 600;
        }

        .hpe-down {
            font-size: 0.625rem;
        }
    }

    .dropdown-menu {
        width: 220px;

        .dropdown-list-item {
            .dropdown-item {
                padding-left: 10px;

                .hpe-icon {
                    width: 16px;
                }

                .filter-dropdown-title {
                    padding-left: 10px;
                }
            }
        }

        hr {
            margin-top: 0;
            margin-bottom: 0;
        }

        .typeahead-box {
            padding: 10px;

            .dropdown-menu {
                width: 220px;
                margin-left: -10px;
                margin-right: 10px;

                .active > a {
                    margin-left: 10px;
                    width: 200px;
                    background-color: @filter-dropdown-hover-bg;
                    border-radius: 0;
                    border-color: @filter-dropdown-hover-border;
                    text-decoration: none;
                    color: @text-color;
                    font-weight: normal;
                    padding-left: 10px;
                    padding-right: 10px;

                    strong {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}