<div class="btn-group ux-dynamic-filter">

    <button
        type="button"
        [class.active]="selected !== initial"
        class="filter-dropdown btn dropdown-toggle"
        [uxMenuTriggerFor]="menu"
        #trigger="ux-menu-trigger">
        {{ selected?.title }}
        <span class="hpe-icon hpe-down"></span>
    </button>

    <ux-menu #menu menuClass="ux-dynamic-filter-menu" (closed)="onClose()">
        <!-- Initial Option -->
        <button
            uxMenuItem
            *ngIf="showTypeahead"
            (click)="removeFilter()"
            (keydown.enter)="removeFilter()">
            <i class="hpe-icon" [class.hpe-checkmark]="initial === selected"></i>
            <span class="filter-dropdown-title">{{ initial.name }}</span>
        </button>

        <!-- Selected Options -->
        <button uxMenuItem *ngIf="selected !== initial && showTypeahead">
            <i class="hpe-icon hpe-checkmark"></i>
            <span class="filter-dropdown-title">{{ selected.name }}</span>
        </button>

        <ux-menu-divider *ngIf="showTypeahead"></ux-menu-divider>

        <div *ngIf="showTypeahead" class="typeahead-box" role="none">

            <input type="text"
                class="form-control"
                [placeholder]="options?.placeholder"
                [attr.aria-activedescendant]="highlightedElement?.id"
                [attr.aria-controls]="typeaheadId"
                aria-autocomplete="list"
                aria-multiline="false"
                [ngModel]="query$ | async"
                (ngModelChange)="query$.next($event); updateTypeahead($event)"
                (keydown)="typeaheadKeyService.handleKey($event, typeahead); $event.stopPropagation();"
                (keydown.enter)="$event.preventDefault()"
                (blur)="typeaheadOpen = false"
                (click)="$event.stopPropagation()">

            <ux-typeahead #typeahead
                [id]="typeaheadId"
                [(open)]="typeaheadOpen"
                display="title"
                [selectOnEnter]="true"
                [options]="typeaheadItems"
                [optionTemplate]="filterOptionTemplate"
                (optionSelected)="select($event); trigger.closeMenu($event.origin)"
                (highlightedElementChange)="highlightedElement = $event">
            </ux-typeahead>
        </div>

        <ng-container *ngIf="!showTypeahead">

            <button
                *ngFor="let filter of filters"
                type="button"
                uxMenuItem
                (click)="selectFilter(filter); trigger.closeMenu('mouse')"
                (keydown.enter)="selectFilter(filter); trigger.closeMenu('keyboard')">
                <i class="hpe-icon" [class.hpe-checkmark]="filter === selected"></i>
                <span class="filter-dropdown-title">{{ filter.name }}</span>
            </button>

        </ng-container>

    </ux-menu>
</div>

<ng-template #filterOptionTemplate let-option="option" let-api="api">
    <span [attr.aria-label]="option" [innerHTML]="option | filterTypeaheadHighlight: (query$ | async)"></span>
</ng-template>