ux-filter-dynamic {
    .filter-dropdown {
        padding: 6px;
        padding-right: 7px;
        padding-left: 6px;

        &:hover {
            background-color: @filter-dropdown-hover-bg;
            border-radius: 0;
            border-color: @filter-dropdown-hover-border;
            text-decoration: none;
        }

        &:focus.ux-focus-indicator.ux-focus-indicator-active {
            background-color: @filter-dropdown-focus-bg;
            border-radius: 0;
            border-color: @filter-dropdown-focus-border;
            text-decoration: none;
        }

        &.active {
            font-weight: 600;
        }

        ux-icon {
            font-size: 0.625rem;
        }
    }
}

.ux-dynamic-filter-menu {
    width: 220px;
    box-shadow: 0 0 3px @grey4;

    .ux-menu-item {
        padding-left: 10px;

        ux-icon {
            width: 16px;
        }

        .filter-dropdown-title {
            padding-left: 10px;
        }
    }

    .typeahead-box {
        padding: 10px;

        ux-typeahead {
            position: static;
            box-shadow: none;
            padding-bottom: 0;
            margin-bottom: 0;

            .ux-typeahead-options {
                li {
                    font-size: 1rem;
                    padding: 6px 10px;

                    .filter-typeahead-highlighted {
                        color: @grey1;
                    }
                }
            }

            .ux-typeahead-no-options {
                font-size: 1rem;
            }
        }
    }
}