/*
  Flot Line Chart With Facet Panel
*/

.flot-facet-container {
    overflow: hidden;
}

.flot-facet-container .flot-chart-facet-container {
    display: block;
    height: 500px;
}

.flot-facet-container .flot-side-panel {
    height: 500px;
    box-shadow: -5px 0px 12px #ccc;
    border: 1px solid #ddd;
}

.flot-facet-container .flot-side-panel .date-range-label {
    padding: 0;
    margin: 6px 0;
}

.flot-facet-container .flot-side-panel .warning-text {
    color: #ff454f;
    text-align: center;
    margin-top: 10px;
}

.flot-facet-container .flot-side-panel .no-indent {
    padding-left: 0;
}