<ul class="hierarchy-bar-popover-list">
    <li class="hierarchy-bar-popover-list-item"
        ng-repeat="child in vm.getHierarchyBarChildren(crumb)"
        ng-click="vm.selectNodeCallback(child)">

        <img class="hierarchy-bar-popover-list-item-image" ng-if="vm.options.image" ng-src="{{ vm.options.image(child) }}">
        <span ng-bind="vm.getHierarchyBarName(child)"></span>

    </li>

    <li class="hierarchy-bar-popover-list-item" ng-show="vm.isLoading(crumb)">
    	<div class="hierarchy-bar-popover-list-item-image">
    		<span class="spinner spinner-bounce-middle spinner-accent"></span>
    	</div>
        <span ng-bind="vm.options.action.title"></span>
    </li>

</ul> 
