.table {
    overflow: hidden;

    td,
    th {
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }
}

.button-spaced {
    margin-left: 10px;
}