.table > tbody {
    height: 750px;
}

.identity-column {
    width: 100px;
    flex: none;
}

.virtual-loading-indicator {
    text-align: center;
    justify-content: center;
    font-style: italic;
}

.virtual-loading-indicator > .spinner {
    margin: 0.3em 1em 0.3em 0.5em;
}

.virtual-load-button {
    padding: 0;
}

.virtual-load-button > .btn {
    height: 100%;
    padding: 8px;
}

.virtual-table-action:hover {
    background-color: transparent;
}