<ux-wizard [disableNextWhenInvalid]="disableNextWhenInvalidWizard">

    <ux-wizard-step header="Step 1" [disableNextWhenInvalid]="disableNextWhenInvalid" [valid]="!step1Invalid">
        <p>Step 1 Content</p>
        <ux-checkbox [(value)]="step1Invalid" id="step1Invalid">Set this step to error state</ux-checkbox>
    </ux-wizard-step>

    <ux-wizard-step header="Step 2" [valid]="!step2Invalid">
        <p>Step 2 Content</p>
        <ux-checkbox [(value)]="step2Invalid" id="step2Invalid">Set this step to error state</ux-checkbox>
    </ux-wizard-step>

    <ux-wizard-step header="Step 3">
        <p>Step 3 Content</p>
    </ux-wizard-step>

    <ux-wizard-step header="Step 4" [disableNextWhenInvalid]="disableNextWhenInvalid" [valid]="!step4Invalid">
        <p>Step 4 Content</p>
        <ux-checkbox [(value)]="step4Invalid" id="step4Invalid">Set this step to error state</ux-checkbox>
    </ux-wizard-step>

    <ux-wizard-step *ngIf="step5" header="Step 5">
        <p>Step 5 Content</p>
    </ux-wizard-step>

    <ng-template *ngIf="hasFooterTemplate" #footerTemplate let-step="step">
        <button id="reset" type="button" class="btn button-secondary">Reset Step {{step}}</button>
    </ng-template>

</ux-wizard>

<button id="addStep5" class="btn button-secondary" (click)="step5 = true">Add Step 5</button>
<button id="removeStep5" class="btn button-secondary" (click)="step5 = false">Remove Step 5</button>
<button id="footerTemplate" class="btn button-secondary" (click)="hasFooterTemplate = true">Add footerTemplate</button>
<button id="disableNextWhenInvalid" class="btn button-secondary" (click)="disableNextWhenInvalid = !disableNextWhenInvalid">Set Next Invalid(Step)</button>
<button id="disableNextWhenInvalidWizard" class="btn button-secondary" (click)="disableNextWhenInvalidWizard = true">Set Next Invalid(Wizard)</button>