<div class="ux-color-picker" uxTabbableList direction="horizontal">
    <div class="ux-color-picker-swatch">
        <div *ngFor="let row of _colors" class="ux-color-picker-swatch-row">
            <div *ngFor="let color of row"
                class="ux-color-picker-color"
                [class.ux-small]="buttonSize === 'sm'"
                [class.ux-large]="buttonSize === 'lg'"
                [class.ux-circle]="buttonStyle === 'circle'"
                [class.ux-selected]="color === selected">

                <button type="button"
                    [attr.aria-label]="colorAriaLabel(color)"
                    aria-selected="color === selected"
                    class="btn btn-icon"
                    [style.background-color]="color.rgba"
                    (click)="selectedChange.emit(color)"
                    uxTabbableListItem
                    [uxTooltip]="color.name"
                    [tooltipDisabled]="!showTooltips">
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="showInput" class="ux-color-picker-input-panel">
        <div class="ux-color-picker-input-header">

            <div class="ux-color-picker-preview"
                [style.background-color]="selected?.rgba"
                [class.ux-circle]="buttonStyle === 'circle'">
            </div>

            <label *ngIf="inputMode === 'hex'" attr.for="{{ id }}-input-field">HEX</label>

            <label *ngIf="inputMode === 'rgba'" attr.for="{{ id }}-input-field">RGBA</label>

            <button type="button"
                [attr.aria-label]="switchModeAriaLabel(inputMode)"
                class="btn btn-link btn-icon button-secondary ux-color-picker-input-toggle"
                (click)="toggleInputMode(); $event.stopPropagation()">
                <span class="hpe-icon hpe-chevron-right"></span>
            </button>
        </div>

        <div class="ux-color-picker-input"
            [class.has-error]="_input.invalid"
            [class.has-feedback]="_input.invalid">

            <input type="text"
                attr.id="{{id}}-input-field"
                [attr.aria-description]="inputAriaLabel(inputMode)"
                class="form-control"
                [formControl]="_input"
                (keyup.enter)="inputSubmit.emit()">

            <span class="hpe-icon hpe-alert form-control-feedback"></span>
        </div>
    </div>
</div>
