@import "../../assets/styles/variables.less";

.theme-selector-button {
    height: 50px;
    font-size: 0.9375rem;
    border: none;
    padding: 15px;
    background-color: transparent;

    .theme-selector-button-icon {
        margin-left: 8px;
    }
}

::ng-deep .uxd-theme-selector-dropdown {
    min-width: 250px;
}
