@import "../../assets/styles/variables.less";
@import "../../assets/styles/mixins.less";

.theme-selector-button {
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    border: none;
    padding: 15px;
    background-color: inherit;

    ux-icon {
        margin-left: 8px;
    }
}

::ng-deep .uxd-theme-selector-dropdown {
    min-width: 250px;
    margin-top: -1px;
}
