<div class="select-table-container" ng-style="{ 'height': vm.tableHeight || '300px' }">
  <div scroll-config="::{ autoReinitialise: false, showOnlyOnHover:false, enableKeyboardNavigation:true }"
       style="overflow: auto; height: calc(100% - 5px);"
       scroll-pane id="{{ ::vm.id }}">

      <table class="table table-hover select-table">
        <tbody>
          <tr tabindex="0"
              ng-repeat="value in vm.visibleValues track by $index"
              ng-keydown="vm.onKeydown($event, value)"
              ng-mousedown="$event.preventDefault()"
              ng-click="vm.onClick($event, value)"
              ng-class="{ 'highlight': vm.isSelected(value) }">

              <td ng-bind="vm.getDisplayText(value)"></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>