<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-r-md p-b-md">
      <p class="text-black p-b-lg">Range Track - Persistent Callout</p>
      <ux-slider
        id="range-callout"
        [value]="rangeCallout.value"
        [options]="rangeCallout.options"
      ></ux-slider>
    </div>
    <div class="col-md-6 p-l-md p-b-md">
      <p class="text-black p-b-lg">Range Track - Callout on Drag</p>
      <ux-slider
        id="range-callout-on-drag"
        [value]="rangeCalloutOnDrag.value"
        [options]="rangeCalloutOnDrag.options"
      ></ux-slider>
    </div>
  </div>
</div>
