<ux-predefined-widget class="widget-element"
                      [id]="id"
                      [colSpan]="colSpan"
                      [rowSpan]="rowSpan"
                      [name]="name"
                      [heading]="heading"
                      [fixedMode]="fixedMode">
    <div class="widget-status">
        <ux-icon name="{{ status.icon }}"></ux-icon> {{ status.label }}
    </div>
    <div class="widget-actions">
        <button class="m-b btn button-secondary widget-action-button" *ngFor="let action of actions" (click)="action.action()">
            <ng-container *ngIf="action.iconTemplate">
                <ng-container *ngTemplateOutlet="action.iconTemplate"></ng-container>
            </ng-container>
            <ux-icon *ngIf="action.icon" name="{{ action.icon }}"></ux-icon>
            {{ action.label }}
        </button>
    </div>
</ux-predefined-widget>
