ux-input-dropdown {
    display: inline-block;
    position: relative;

    .form-control {
        padding-right: 60px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.select-menu {
    position: relative;
    overflow-y: auto;

    .filter-container {
        position: relative;

        .filter-button {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            padding: 8px 8px 5px;
            min-width: auto;
        }
    }
}
