.hover-actions-demo-container {
    display: table;
    width: 475px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 10px 15px;
    margin: 10px 10px 20px;
}

.hover-actions-demo-container .icon {
    display: table-cell;
    font-size: 20px;
    color: #60798D;
    vertical-align: middle;
    width: 35px;
}

.hover-actions-demo-container .text {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    font-size: 18px;
    width: 60px;
}

.hover-actions-demo-container .description {
    display: table-cell;
    vertical-align: middle;
    color: #888;
    font-size: 18px;
    width: 140px;
}

.hover-actions-demo-container .actions {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
}