<ux-time-picker *ngIf="datepicker.showTime$ | async"
    [ngModel]="datepicker.selected$ | async"
    (ngModelChange)="datepicker.selected$.next($event)"
    [showSeconds]="datepicker.showSeconds$ | async"
    [showMeridian]="datepicker.showMeridian$ | async"
    [showSpinners]="datepicker.showSpinners$ | async"
    [readonlyInput]="datepicker.showSpinners$ | async">
</ux-time-picker>

<ng-container *ngIf="datepicker.showTimezone$ | async">

    <div class="time-zone-picker" *ngIf="datepicker.showSpinners$ | async">

        <button class="time-zone-spinner" (click)="incrementTimezone()">
            <span class="hpe-icon hpe-up"></span>
        </button>

        <input class="form-control"
               type="text"
               [readOnly]="true"
               tabindex="-1"
               [ngModel]="(datepicker.timezone$ | async).name">

        <button class="time-zone-spinner" (click)="decrementTimezone()">
            <span class="hpe-icon hpe-down"></span>
        </button>
    </div>

    <div class="time-zone-picker" *ngIf="!(datepicker.showSpinners$ | async)">

        <select class="form-control time-zone-select"
                tabindex="0"
                [ngModel]="(datepicker.timezone$ | async).name"
                (ngModelChange)="selectTimezone($event)">

            <option *ngFor="let zone of datepicker.timezones$ | async"
                    [selected]="zone.name === (datepicker.timezone$ | async).name"
                    [value]="zone.name">
                {{ zone?.name }}
            </option>

        </select>
    </div>

</ng-container>