ux-card-tab {
    position: relative;
    display: inline-block;
    width: 190px;
    height: 170px;
    background-color: @card-tab-bg;
    box-shadow: @card-tab-border 0 1px 8px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid @card-tab-border;
    transition: border 500ms linear;
    padding: 7px 9px;
    outline: none;

    &:hover,
    &:focus {
        border-color: @card-tab-hover-border;
    }

    &.active {
        border-color: @card-tab-active-border;

        &:before,
        &:after {
            content: '';
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &.top {
            &:before,
            &:after {
                bottom: 100%;
                left: 50%;
            }

            &:before {
                border-top-color: @card-tab-active-border;
                margin-left: -10px;
                border-width: 10px;
            }

            &:after {
                border-top-color: @card-tab-bg;
                margin-left: -9px;
                border-width: 9px;
            }
        }

        &.bottom {
            &:before,
            &:after {
                top: 100%;
                left: 50%;
            }

            &:before {
                border-top-color: @card-tab-active-border;
                margin-left: -10px;
                border-width: 10px;
            }

            &:after {
                border-top-color: @card-tab-bg;
                margin-left: -9px;
                border-width: 9px;
            }
        }
    }
}