<div class="container">
    <button
        type="button"
        id="left-tooltip"
        class="btn button-secondary"
        uxTooltip="Tooltip on the left"
        placement="left"
    >
        Tooltip on left
    </button>

    <button
        type="button"
        id="top-tooltip"
        class="btn button-secondary"
        uxTooltip="Tooltip on the top"
        placement="top"
    >
        Tooltip on top
    </button>

    <button
        type="button"
        id="bottom-tooltip"
        class="btn button-secondary"
        uxTooltip="Tooltip on the bottom"
        placement="bottom"
    >
        Tooltip on bottom
    </button>

    <button
        type="button"
        id="right-tooltip"
        class="btn button-secondary"
        uxTooltip="Tooltip on the right"
        placement="right"
    >
        Tooltip on right
    </button>

    <button
        type="button"
        id="custom-fallback"
        class="btn button-secondary"
        uxTooltip="Custom fallback"
        placement="right"
        fallbackPlacement="top"
    >
        Custom Fallback
    </button>

</div>
