.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

button {
    position: absolute;
}

#top-tooltip {
    top: 0;
    right: 50%;
}

#right-tooltip {
    top: 50%;
    right: 0;
}

#bottom-tooltip {
    bottom: 0;
    right: 50%;
}

#left-tooltip {
    top: 50%;
    left: 0;
}

#custom-fallback {
    top: 40%;
    right: 0;
}
