<div id="ux-codepen-container">
<button id="buttonLarge" type="button" class="btn btn-icon btn-circular button-primary btn-lg" aria-label="Contract">
    <span class="hpe-icon hpe-contract" aria-hidden="true"></span>
</button>
<button id="buttonMedium" type="button" class="btn btn-icon btn-circular button-primary" aria-label="Contract">
    <span class="hpe-icon hpe-contract" aria-hidden="true"></span>
</button>
<button id="buttonSmall" type="button" class="btn btn-icon btn-circular button-primary btn-sm" aria-label="Contract">
    <span class="hpe-icon hpe-contract" aria-hidden="true"></span>
</button>
</div>