<ux-sankey-chart
    class="sankey-chart"
    [nodes]="nodes"
    [links]="links"
    [columns]="columns"
    [maxWidth]="300"
    [minHeight]="minHeight">

    <ng-template #sankeyNodeTemplate let-node="node" let-active="active" let-focus="focus">
        <div class="sankey-node"
             [class.sankey-node-active]="active"
             [class.sankey-node-focus]="focus">
            <div class="sankey-node-space">{{ node.data.space | fileSize }}</div>
            <div class="sankey-node-files">{{ getFileCount(node.data.files) }}</div>
            <div class="sankey-node-name">{{ node.data.name }}</div>
        </div>
    </ng-template>
</ux-sankey-chart>

<div class="m-t-lg">
    <button type="button" id="set-min-height-56" class="btn button-secondary" (click)="minHeight = 56">Set minHeight = 56</button>
    <button type="button" id="set-min-height-75" class="btn button-secondary" (click)="minHeight = 75">Set minHeight = 75</button>
    <button type="button" id="set-min-height-100" class="btn button-secondary" (click)="minHeight = 100">Set minHeight = 100</button>
</div>
