.dnd-cards-demo {
    display: flex;
    height: 400px;
}

/* Styles for both drop containers */
.dnd-cards-demo > * {
    border: 1px solid transparent;
    background-color: #f2f2f2;
}

.dnd-cards-demo > .cdk-drop-list-dragging,
.dnd-cards-demo > .cdk-drop-list-receiving {
    border: 1px dashed #00a7a2;
}

/* Cards (left-hand) container */
.dnd-cards-container {
    width: 200px;
    margin-right: 20px;
    padding: 10px;
}

/* Card styles */
.card {
    display: block;
    width: 100%;
    height: 105px;
    margin: 0 0 10px;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
    padding: 10px 30px;
    background-color: #fff;
}

.dnd-cards-container > .card:focus {
    outline: 2px dotted;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00a7a2;
    outline-offset: 0;
}

.card.cdk-drag-preview,
.card.gu-mirror {
    border: 1px solid #00a7a2;
}

.card.cdk-drag-containers {
    border: 1px solid #00a7a2;
}

.card .name {
    font-size: 1.25rem;
    font-weight: 600;
}

.card .type {
    color: #aaa;
}

/* List (right-hand) container */
.dnd-list-container {
    flex: 1;
}

/* List item styles */
.demo-list-item {
    display: flex;
    align-items: top;
    position: relative;
    width: 100%;
    border: 1px solid #f2f2f2;
    padding: 10px 10px 10px 30px;
    background-color: #fff;
}

.demo-list-item .title {
    width: 30%;
    padding-top: 4px;
}

.demo-list-item .component {
    flex: 1;
}

/* Drag handle */
.handle {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14px;
    color: #c9cacb;
    cursor: move;
}

.handle:hover {
    color: inherit;
}

.handle > * {
    pointer-events: none;
}

/* Item which is being dragged */
.card.ux-reorderable-moving,
.demo-list-item.ux-reorderable-moving {
    visibility: hidden;
}
