<tr *ngIf="editable; else uneditable" class="leb-condition-row" [style.padding-left.px]="indent">
    <td class="field-selection">
        <ux-select
            [value]="_field"
            [input]="_field?.label || null"
            (valueChange)="handleFieldSelected($event)"
            [allowNull]="true"
            [options]="fields"
            [display]="'label'"
            [key]="'name'">
        </ux-select>
    </td>

    <td class="operator-selection">
        <ux-select
            *ngIf="_field?.name"
            [value]="_operator"
            (valueChange)="handleOperatorSelected($event)"
            [input]="_operator?.label || null"
            [allowNull]="true"
            [options]="operators"
            [display]="'label'"
            [key]="'name'">
        </ux-select>
    </td>

    <td class="value-input-container">
        <div #inputContainer></div>
    </td>

    <td>
        <button
            [disabled]="!(_field && _operator && _value)"
            (click)="confirmCondition()"
            type="button"
            class="btn btn-link btn-icon btn-lg button-secondary"
            aria-label="Confirm condition">
            <span class="ux-icon ux-icon-checkmark" aria-hidden="true"></span>
        </button>
    </td>
</tr>

<ng-template #uneditable>
    <tr class="leb-condition-row" uxHoverActionContainer [style.padding-left.px]="indent">
        <td>
            {{ _field.label }} {{ _operator.label }} {{ _value | displayValue:_field.fieldType:_field.data }}
        </td>

        <td>
            <button
                [disabled]="_editBlocked"
                uxHoverAction
                (click)="editCondition()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-primary"
                aria-label="Edit condition">
                <span class="ux-icon ux-icon-edit" aria-hidden="true"></span>
            </button>

            <button
                [disabled]="_editBlocked"
                uxHoverAction
                (click)="embedConditionInGroup()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-secondary"
                aria-label="Add group around condition">
                <span class="ux-icon ux-icon-chart-organization" aria-hidden="true"></span>
            </button>

            <button
                [disabled]="_editBlocked"
                uxHoverAction
                (click)="deleteCondition()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-secondary delete-btn"
                aria-label="Delete condition">
                <span class="ux-icon ux-icon-trash" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
</ng-template>
