<tr
    expressionRow
    [rowPath]="path"
    *ngIf="_isInEditMode; else staticMode"
    class="leb-condition-row"
    [style.padding-left.px]="indent || 8"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    (keydown.escape)="cancelEdit()">

    <td class="field-selection">
        <ux-select
            [value]="_field"
            [input]="_field?.label || null"
            (valueChange)="handleFieldSelected($event)"
            [options]="fields"
            display="label"
            key="name">
        </ux-select>
    </td>

    <td class="operator-selection">
        <ux-select
            *ngIf="_field?.name"
            [value]="_operator"
            (valueChange)="handleOperatorSelected($event)"
            [input]="_operator?.label || null"
            [options]="operators"
            display="label"
            key="name">
        </ux-select>
    </td>

    <td class="value-input-container">
        <div #inputContainer></div>
    </td>

    <td>
        <button
            [disabled]="!(_field && _operator && (_value || _value === 0) && _valid)"
            (click)="confirmCondition()"
            uxFocusIndicatorOrigin
            type="button"
            class="btn btn-link btn-icon btn-lg button-primary"
            [attr.aria-label]="('confirmConditionAriaLabel' | l10n) || 'Confirm edit'">
            <span class="ux-icon ux-icon-checkmark" aria-hidden="true"></span>
        </button>

        <button
            (click)="cancelEdit()"
            uxFocusIndicatorOrigin
            type="button"
            class="btn btn-link btn-icon btn-lg button-secondary"
            [attr.aria-label]="('cancelConditionEditAriaLabel' | l10n) || 'Cancel editing'">
            <span class="ux-icon ux-icon-close" aria-hidden="true"></span>
        </button>
    </td>
</tr>

<ng-template #staticMode>
    <tr
        expressionRow
        [rowPath]="path"
        class="leb-condition-row"
        uxHoverActionContainer
        [style.padding-left.px]="indent || 8">
        <td>
            <span class="leb-field-display">{{ _field?.label }}</span>{{' '}}<span
            class="leb-operator-display">{{ _operator?.label }}</span>{{' '}}<span
            class="leb-value-display">{{ _value | displayValue:_field?.fieldType:_field?.data }}</span>
        </td>

        <td>
            <button
                [disabled]="_editBlocked"
                uxHoverAction
                uxFocusIndicatorOrigin
                (click)="editCondition()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-primary"
                [attr.aria-label]="('editConditionAriaLabel' | l10n) || 'Edit condition'">
                <span class="ux-icon ux-icon-edit" aria-hidden="true"></span>
            </button>

            <button
                [disabled]="_editBlocked"
                uxHoverAction
                uxFocusIndicatorOrigin
                (click)="embedConditionInGroup()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-secondary"
                [attr.aria-label]="('embedConditionAriaLabel' | l10n) || 'Embed condition'">
                <span class="ux-icon ux-icon-chart-organization" aria-hidden="true"></span>
            </button>

            <button
                [disabled]="_editBlocked"
                uxHoverAction
                uxFocusIndicatorOrigin
                (click)="deleteCondition()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-warning btn-delete-condition"
                [attr.aria-label]="('deleteConditionAriaLabel' | l10n) || 'Delete condition'">
                <span class="ux-icon ux-icon-trash" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
</ng-template>
