/* Keep */

tr.leb-condition-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    &.cdk-keyboard-focused {
        background-color: @table-hover-bg;
        .focus-outline();
    }

    &.cdk-mouse-focused {
        outline: none;
    }

    td {
        margin-right: @spacing-xs;

        &:last-child {
            margin-right: 0;
        }
    }

    .form-group {
        margin-bottom: 0;
    }
}

.field-selection {
    flex: 1;
}

.operator-selection {
    flex: 1;
}

.value-input-container {
    flex: 2;
}

.leb-field-display {
    font-weight: bold;
}

.leb-value-display {
    color: @grey3;
    font-weight: bold;
}
