/* Keep */

tr.leb-condition-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    td {
        margin-right: @spacing-xs;

        &:last-child {
            margin-right: 0;
        }
    }
}

.field-selection {
    flex: 1;
}

.operator-selection {
    flex: 1;
}

.value-input-container {
    flex: 2;
}

.delete-btn span {
    color: @critical;
}

.delete-btn:disabled span {
    color: @link-btn-disabled-color;
}

.leb-field-display {
    font-weight: bold;
}

.leb-value-display {
    color: @primary;
    font-weight: bold;
}
