tr.leb-condition-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    td {
        margin-right: @spacing-xs;

        &:last-child {
            margin-right: 0;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    // Edit mode containers
    .field-selection {
        flex: 1;
    }

    .operator-selection {
        flex: 1;
    }

    .value-input-container {
        flex: 2;
    }

    // Condition Text
    .leb-field-display {
        font-weight: bold;
    }

    .leb-operator-display {
        color: @grey4;
    }

    .leb-value-display {
        font-weight: bold;
        color: @primary;
    }

    // Buttons
    .edit-btn,
    .confirm-btn {
        .button-primary;

        &:disabled {
            .button-primary-disabled;
        }
    }

    .embed-btn {
        .button-secondary;

        &:disabled {
            .button-secondary-disabled;
        }
    }

    .delete-btn,
    .cancel-btn {
        .button-warning;

        &:disabled {
            background-color: @btn-warning-disabled-bg;
            color: @btn-warning-disabled-color;
            border-color: @btn-warning-disabled-border;
        }
    }
}
