.hover-action-container {
    outline: none;

    &:focus,
    &.hover-action-container-active {
        background-color: #f5f5f5;
    }

    .hover-action-icon {
        display: inline-block;
        padding: 3px 6px;
        cursor: pointer;
    }
}