<div class="wizard-body">

    <div class="wizard-steps"
        uxTabbableList
        [direction]="orientation"
        role="tablist"
        [attr.aria-orientation]="orientation">

        <div *ngFor="let stp of steps; let index = index"
            role="tab"
            class="wizard-step"
            [class.active]="stp.active"
            [class.visited]="stp.visited"
            [class.invalid]="stp.active && !stp.valid && invalidIndicator"
            [attr.aria-posinset]="index + 1"
            [attr.aria-setsize]="steps.length"
            [attr.aria-selected]="stp.active"
            [attr.aria-controls]="id + '-step-' + index"
            [id]="id + '-step-' + index + '-label'"
            uxFocusIndicator
            uxTabbableListItem
            [programmaticFocusIndicator]="true"
            [disabled]="index !== 0 && !stp.visited"
            (click)="gotoStep(stp)"
            (keydown.enter)="gotoStep(stp)">
            <span class="wizard-step-text">{{ stp.header }}</span>
            <ux-icon *ngIf="stp.visited && !stp.active" class="wizard-step-icon" name="checkmark"></ux-icon>
        </div>

    </div>

    <div class="wizard-content">
        <ng-content></ng-content>
    </div>

</div>

<div class="wizard-footer">

    <ng-container *ngIf="footerTemplate"
                  [ngTemplateOutlet]="footerTemplate"
                  [ngTemplateOutletContext]="{ step: step }">
    </ng-container>

    <button #tip="ux-tooltip"
            type="button"
            class="btn button-secondary"
            *ngIf="previousVisible"
            [uxTooltip]="previousTooltip"
            [disabled]="previousDisabled || step === 0"
            [attr.aria-label]="previousAriaLabel"
            (click)="previous(); tip.hide()">
        {{ previousText }}
    </button>

    <button #tip="ux-tooltip"
            type="button"
            class="btn button-primary"
            *ngIf="nextVisible && !isLastStep()"
            [uxTooltip]="nextTooltip"
            [disabled]="nextDisabled || isNextDisabled()"
            [attr.aria-label]="nextAriaLabel"
            (click)="next(); tip.hide()">
        {{ nextText }}
    </button>

    <button #tip="ux-tooltip"
            type="button"
            class="btn button-primary"
            *ngIf="finishVisible && isLastStep() || finishAlwaysVisible"
            [uxTooltip]="finishTooltip"
            [disabled]="finishDisabled || isNextDisabled()"
            [attr.aria-label]="finishAriaLabel"
            (click)="finish(); tip.hide()">
        {{ finishText }}
    </button>

    <button #tip="ux-tooltip"
            type="button"
            class="btn button-secondary"
            *ngIf="cancelVisible && !isLastStep() || cancelAlwaysVisible"
            [uxTooltip]="cancelTooltip"
            [disabled]="cancelDisabled"
            [attr.aria-label]="cancelAriaLabel"
            (click)="cancel(); tip.hide()">
        {{ cancelText }}
    </button>

</div>
