<div>
	<tags-input 
		ng-model="ti.tags"
		text="text"
		ng-disabled="ngDisabled"
		key-property="{{ti.keyProperty}}"
		display-property="{{ti.displayProperty}}"
		tabindex="{{ti.tabIndex}}"
		placeholder="{{ti.placeholder}}"
		min-length="{{ti.minTagLength}}"
		max-length="{{ti.maxTagLength}}"
		min-tags="{{ti.minNumberTags}}"
		max-tags="{{ti.maxNumberTags}}"
		add-on-space="{{ti.addOnSpace}}"
		add-on-comma="{{ti.addOnComma}}"
		add-on-blur="{{ti.addOnBlur}}"
		add-on-paste="{{ti.addOnPaste}}"
		paste-split-pattern="{{ti.pasteSplitPattern}}"
		replace-spaces-with-dashes="false"
		enable-editing-last-tag="{{ti.enableEditingLastTag}}"
		add-from-autocomplete-only="{{ti.addFromAutocompleteOnly}}"
		on-tag-adding="ti.onTagAdding($tag)"
		on-tag-added="ti.onTagAdded($tag)"
		on-invalid-tag="ti.onInvalidTag($tag)"
		on-tag-removing="ti.onTagRemoving($tag)"
		on-tag-removed="ti.onTagRemoved($tag)"
		on-tag-clicked="ti.onTagClicked($tag)"
		template="{{ti.template}}"
		max-tags-hidden="{{ti.maxTagsHidden}}"
		>

		<auto-complete 
			ng-if="ti.autocomplete"
			source="ti.source($query) || ti.loadTags($query)"
			displayProperty="{{ti.displayProperty}}"
			debounce-delay="{{ti.autocompleteDelay}}"
			min-length="{{ti.autocompleteMinLength}}"
			select-first-match="{{ti.selectFirstMatch}}"
			template="{{ti.autocompleteTemplate}}"
			>
		</auto-complete>

	</tags-input>
	<p class="text-warning" ng-show="ti.showMessage" ng-bind="ti.maxTagsMessage"></p>
</div>