/*
    Flippable Cards
*/
.flip-card-content {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.flip-card-content.cursor-pointer {
    cursor: pointer;
}

.flip-card-content .front-title {
    font-size: 21px;
    font-weight: 600;
    color: #333;
}

.flip-card-content.card-back {
    padding: 15px 10px 10px 10px;
    background-color: #7B63A3;
    height: 100%;
}

.flip-card-content.card-back p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.flip-card-content.card-back span.muted {
    font-size: 12px;
    color: #ccc;
}

.flip-card-content.card-back span.right-align {
    display: inline-block;
    width: 65px;
    text-align: right;
}

.flip-card-content.card-back span.left-align {
    display: inline-block;
    width: 70px;
    text-align: left;
    margin-left: 5px;
}

.spark-left-align {
    display: inline-block;
    width: 53px;
    text-align: left;
    margin-left: 5px;
}

.spark-left-align.second {
    width: 35px;
}

.flip-card-content.card-back span.reviewed {
    color: #2ad2c9;
}

.flip-card-content.card-back span.produced {
    color: #ff8d6d;
}

.card-back hr {
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: 1px solid #ccc;
    opacity: 0.25;
}

.card-icon {
    margin-left: 15px;
    margin-top: -12px;
    color: #01A982;
    opacity: 0.9;
}

.card-logo {
    margin-left: 20px;
    margin-top: -5px;
    position: absolute;
}

.flip-card-nested-donut {
    float: right;
    right: 10px;
    bottom: 15px;
    position: absolute;
}

.card-text {
    font-size: 18px;
    font-weight: 600;
}

.card-text.documents {
    color: #666;
}

.card-text.reviewed {
    color: #24b2a4;
}

.card-text.produced {
    color: #ea7e65;
    display: inline-block;
    margin-bottom: 0px;
}

.card-text .text-muted {
    font-size: 14px;
    color: #999;
}

.clickable-icon {
    margin: 10px;
    cursor: pointer;
    color: #999
}

.clickable-icon.icon-back {
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.nested-donut-example {
    width: 100%;
    margin-top: 15px;
}

.nested-donut-example:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.nested-donut-example .nested-donut-text {
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

.nested-donut-example .nested-donut-container {
    vertical-align: middle;
}

.nested-donut-text p {
    font-size: 18px;
    font-weight: 600;
}

.nested-donut-text p.documents {
    color: #666;
}

.nested-donut-text p.reviewed {
    color: #24b2a4;
}

.nested-donut-text p.produced {
    color: #ea7e65;
}

.nested-donut-text p span+span {
    font-size: 14px;
    color: #999;
}

.bold-icon {
    font-weight: bold;
}