.draggable-panel-list-demo {
	background-color: #f7f7f7;
	height: 400px;
}

.body-dark .draggable-panel-list-demo {
	background-color: #404040;
}

.body-dark .draggable-panel-list-demo div {
	background-color: #444444;
}

.draggable-panel-list-demo div {
	background-color: #ffffff;
}

.list-item-large-demo {
	height: 130px;
}

.list-item-small-demo {
	height: 50px;
}