.notification-modal {
  width: 340px;
}

.notification-scroll-container {
  height: 100%;
}

.notification-panel {
  display: table;
  border-top: 1px solid #E5E5E5;
  padding: 6px 0;
}

.notification-panel .notification-panel-icon {
  display: table-cell;
  width: 20px;
  padding-right: 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  color: #888;
}

.notification-panel .notification-panel-text {
  display: table-cell;
}

.notification-panel .notification-panel-text .notification-text {
  margin: 0;
  color: #666666;
  font-size: 16px;
  line-height: 1.2em;
}

.notification-panel .notification-panel-timestamp {
  display: table-cell;
  width: 110px;
  text-align: right;
  vertical-align: middle;
}

.notification-panel .notification-panel-timestamp .notification-timestamp {
  margin: 0;
  color: #999;
  font-size: 14px;
  padding-right: 5px;
}

.inset-scroll {
  overflow: auto;
  height: 100%;
}