.focus-container {
    border-style: dashed;
    border-width: 1px;
    padding: 20px;
    width: 450px;
    max-width: 100%;
}

.focus-label {
    width: 450px;
    max-width: 100%;
    text-align: center;
    margin: 10px 0 0;
}