.list-users-tbody {
    height: calc(80vh);
    display: block;
    overflow: scroll;
  }

table {
    width: 100%;
    min-height: 40px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    vertical-align: top;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    background-color: transparent;
    color: #323435;
    display: flex;
    flex-direction: column;
}