.modal-inset {
  height: calc(100% - 10px);
  margin: 5px;
}

.modal-inset .scroll-container {
  height: 100%;
}

.user-scroll-container {
  margin: 0 15px;
}

.disk-space-list {
  list-style-type: none;
  padding: 0;
}

.disk-space-list-item .user-container {
  display: table;
  border-bottom: 1px solid #eee;
  padding: 5px 0px;
}

.disk-space-list-item .user-container .icon-container {
  display: table-cell;
  vertical-align: middle;
}

.disk-space-list-item .user-container .user-info-container {
  display: table-cell;
  width: 100%;
  padding-left: 10px;
}

.disk-space-list-item .user-container .spark-label-1 {
    font-size: 11px;
}