.draggable-panel-list-demo {
    background-color: #f7f7f7;
    height: 400px;
}

.draggable-panel-list-demo div {
    background-color: #fff;
}

.list-item-large-demo {
    height: 130px;
}

.list-item-small-demo {
    height: 50px;
}