.table tbody {
    outline: none;
}

.clickable {
    outline: none;
}

.ux-selection-focused {
    background-color: #f5f5f5;
}

.ux-selection-selected {
    background-color: #e7f1f9;
}

.ux-selection-focused.ux-selection-selected {
    background-color: #daeaf5;
}