.chart-alternate1 {
    color: @alternate1;
}

.spark-label .x-large {
    font-size: 24px;
    max-height: 24px;
    display: inline-block;
}

.spark-label .large {
    font-size: 16px;
}

.spark-label .medium {
    font-size: 14px;
}

.spark-label .small {
    font-size: 11px;
}

.spark-label .light {
    opacity: 0.6;
}
