.primary-bg {
  background: @primary;
}

.accent-bg {
  background: @accent;
}

.secondary-bg {
  background: @secondary;
}

.alternate1-bg {
  background: @alternate1;
}

.alternate2-bg {
  background: @alternate2;
}

.alternate3-bg {
  background: @alternate3;
}

.vibrant1-bg {
  background: @vibrant1;
}

.vibrant2-bg {
  background: @vibrant2;
}

.grey1-bg {
  background: @grey1;
}

.grey2-bg {
  background: @grey2;
}

.grey3-bg {
  background: @grey3;
}

.grey4-bg {
  background: @grey4;
}

.grey5-bg {
  background: @grey5;
}

.grey6-bg {
  background: @grey6;
}

.grey7-bg {
  background: @grey7;
}

.grey8-bg {
  background: @grey8;
}

.chart1-bg {
  background: @chart1;
}

.chart2-bg {
  background: @chart2;
}

.chart3-bg {
  background: @chart3;
}

.chart4-bg {
  background: @chart4;
}

.chart5-bg {
  background: @chart5;
}

.chart6-bg {
  background: @chart6;
}

.ok-bg {
  background: @ok;
}

.warning-bg {
  background: @warning;
}

.critical-bg {
  background: @critical;
}

.partition1-bg {
  background: @partition1;
}

.partition9-bg {
  background: @partition9;
}

.partition10-bg {
  background: @partition10;
}

.partition11-bg {
  background: @partition11;
}

.partition12-bg {
  background: @partition12;
}

.partition13-bg {
  background: @partition13;
}

.partition14-bg {
  background: @partition14;
}

.social-chart-node-bg {
  background: @social-chart-node-color;
}

.social-chart-edge-bg {
  background: @social-chart-edge-color;
}

.color-chart {
  position: absolute;
  visibility: hidden;
}

.color-box-container {
  width: 150px;
  display: inline-block;
  .color-box {
    height: 120px;
    width: 120px;
    &.color-box-border {
      border: 1px solid @grey5;
    }
  }
  p {
    width: 120px;
    display: inline-block;
    margin-bottom: 5px;
  }
}