//============================
//Filter Button Styles --- Start
//============================
.btn-group {
    .filter-dropdown {
        padding: 6px;
        padding-right: 7px;
        padding-left: 6px;
    }
}

.btn-group {
    .filter-dropdown,
    .btn-clear {
        border: 0;
        background: none;
        text-transform: none;
        box-shadow: none;
        font-size: @font-size;
    }
}

.filter-dropdown {
    &:hover {
        background-color: @filter-dropdown-hover-bg;
        border-radius: 0;
        border-color: @filter-dropdown-hover-border;
        text-decoration: none;
    }

    &:focus {
        background-color: @filter-dropdown-focus-bg;
        border-radius: 0;
        border-color: @filter-dropdown-focus-border;
        text-decoration: none;
    }
}

.filter {
    .dropdown-toggle {
        .hpe-down {
            font-size: 0.625rem;
            margin-left: 3px;
        }
    }

    .dropdown-menu > li {
        & > a {
            padding: 6px;

            span {
                margin-left: 10px;
            }

            &:focus,
            &:hover {
                color: inherit;
            }
        }
    }
}

.filter-selected {
    font-family: @font-family;
    font-weight: 600;
}

.filter-selected {
    text-decoration: none;
    background-color: @filter-selected-bg;
}

.filter {
    .dropdown-menu > li > a {
        &:hover {
            text-decoration: none;
            background-color: @filter-option-hover-bg;
        }

        &:focus {
            text-decoration: none;
            background-color: @filter-option-focus-bg;
        }
    }
}

.sorter-container {
    white-space: nowrap;
}

.sorter-title {
    vertical-align: middle;
}

.sorter-icon {
    display: inline-block;
    vertical-align: text-bottom;
}

.sorter-text {
    margin: 0;
    display: inline-block;
    width: ~'calc(100% - 38px)';
}

.sorter-text > span {
    margin-right: 10px;
}

.sorter-option-disabled {
    opacity: 0.5;
}

.form-control {
    &.filter-text {
        opacity: 0.9;
        font-size: @font-size-lg;
        line-height: normal;
    }
}

.expand-input-close {
    color: @text-color;
    font-family: @font-family;
    font-weight: @font-weight-light;
    font-size: @font-size-md;
}

.btn-clear {
    &:focus {
        outline: 0;
    }

    &:hover {
        outline: 0;
        color: @btn-clear-hover-color;
    }
}

.btn {
    &.listview-clear {
        background: url(../img/filter_clear_light.png) no-repeat;
        width: 22px;
        height: 12px;
        margin-left: 3px;
        margin-right: 10px;
        margin-bottom: 2px;
        display: none;
        padding-right: 9px;
        box-shadow: none;

        &:active {
            background: url(../img/filter_clear_light.png) no-repeat;
        }

        &:focus {
            .native-focus-outline;
        }

        &.clear-selected {
            outline: 0;
            color: @btn-clear-hover-color;
            font-weight: bold;
            display: inline-block;
        }
    }
}

.dynamic-filter {
    width: 220px;

    .input-container {
        padding: 10px;
        border-top: 1px solid @dynamic-filter-divider;
    }

    .default-container {
        span {
            margin-left: 10px;
        }
    }

    input + ul {
        position: static;
        box-shadow: none;

        li.active > a {
            background-color: @dynamic-filter-option-active;
            color: inherit;
        }
    }

    a {
        padding: 3px;
        text-transform: none;
    }
}

//============================
//Filter Button Styles --- End
//============================