.ux-icon {
    vertical-align: baseline;
}

.ux-rotate-90 {
    .rotate(90deg);
}

.ux-rotate-180 {
    .rotate(180deg);
}

.ux-rotate-270 {
    .rotate(270deg);
}

.ux-flip-vertical {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.ux-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.ux-fw {
    width: 1.28571429em;
    text-align: center;
}

.ux-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ux-2x {
    font-size: 2em;
}

.ux-3x {
    font-size: 3em;
}

.ux-4x {
    font-size: 4em;
}

.ux-5x {
    font-size: 5em;
}
