// Provide a checkbox/radiobutton layout utility
.checkbox-container,
.radio-button-container,
.toggleswitch-container {
    display: flex;
    flex-direction: column;

    ux-checkbox,
    ux-radio-button,
    ux-toggleswitch {
        margin-bottom: 5px;
    }
}