.nav > li > a {
    font-weight: 600;
    padding: 14px 20px 14px 25px;

    &:focus {
        outline: 0;
    }
}

.navbar-default {
    .nav > li > a {
        font-weight: 300;
        font-size: 0.9375rem;

        span.arrow {
            font-size: 0.625rem;
            line-height: inherit;
            position: relative;
            top: 4px;
            right: 3px;
        }
    }

    .nav-fourth-level > li > a {
        font-size: 0.875rem;
        line-height: 1.2;
    }

    .nav-fifth-level > li > a {
        font-size: 0.8125rem;
        line-height: 0.9;
    }
}

.navbar-default {
    .nav ul > li > a {
        span {
            &.arrow {
                font-size: 0.625rem;
                position: relative;
                line-height: inherit;
                right: 10px;
            }
        }
    }
}

.nav > li > a {
    i {
        margin-right: 6px;
        font-size: 1rem;
    }
}

.heading {
    font-size: 2.5rem;
    margin-top: -8px;
    margin-bottom: 3px;
    word-wrap: break-word;
}

.nav.nav-second-level > li {
    &.active {
        border: none;
    }
}

.nav {
    &.nav-second-level {
        &.collapse[style] {
            height: auto !important;
        }
    }

    &.nav-third-level {
        &.collapse[style] {
            height: auto !important;
        }
    }

    &.nav-fourth-level {
        &.collapse[style] {
            height: auto !important;
        }
    }

    &.nav-fifth-level {
        &.collapse[style] {
            height: auto !important;
        }
    }
}

.nav-second-level,
.nav-third-level,
.nav-fourth-level,
.nav-fifth-level {
    li {
        border-bottom: none !important;
        border-left: 0 !important;
    }
}

.nav-second-level {
    li {
        a {
            padding: 5px 10px;
            padding-left: 52px;
        }
    }
}

.nav-third-level {
    li {
        a {
            padding-left: 62px;
        }
    }
}

.nav-fourth-level {
    li {
        a {
            padding-left: 72px;
        }
    }
}

.nav-fifth-level {
    li {
        a {
            padding-left: 82px;
        }
    }
}

//============================
//panels and tabs
//============================
.panel-heading {
    padding: 10px;
}

.panel-body {
    padding: 15px 10px;
}

h4 {
    &.panel-title {
        font-family: @font-family;
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: @tabs-color;
    background-color: @tabs-bg;
    cursor: default;
}

.nav {
    &.nav-tabs {
        li {
            background: none;
        }
    }
}

.nav-tabs > li > a {
    color: lighten(@tabs-color, 15%);
    border-width: 0 0 3px;
    font-family: @font-family;
    font-weight: @font-weight-semibold;
    padding: 8px 20px 0;
    cursor: pointer;
    height: 40px;

    &:hover,
    &:focus {
        background-color: @tabs-hover-bg;
        color: @tabs-hover-color;
        border-color: transparent;
        border-radius: 0;
    }

    i + span,
    ux-icon + span {
        padding-left: 8px;
    }
}

.outline-tab {
    .nav-tabs > li > a {
        border-width: 1px 1px 2px;
        border-radius: 4px 4px 0 0;

        &:hover,
        &:focus {
            border-bottom-width: 2px;
            border-bottom-color: @tabs-bg;
            border-radius: 4px 4px 0 0;
        }
    }
}

// minimal-tab style for tab with minimal effects
.minimal-tab {
    border-style: none;

    > li {
        padding: 0 10px;

        &.active {
            > a {
                &,
                &:hover,
                &:focus {
                    border-bottom: 3px solid @tabs-active-border;
                    border-left: none;
                    background-color: @tabs-active-bg;
                    border-right: none;
                    border-top: none;
                    cursor: default;
                    color: @tabs-active-color;
                }
            }
        }

        > a {
            padding: 8px 0 0;
        }
    }
}

//left and right stacked tabs
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs,
.tabs-left > .outline-tab > .nav-tabs,
.tabs-right > .outline-tab > .nav-tabs {
    width: 20%;
    border-bottom: 0;

    & > li {
        border-width: 0 0 3px;

        &.active > a {
            &:hover,
            &:focus {
                border-width: 0 0 3px;
                background-color: @tabs-active-bg;
                border-bottom: 3px solid @tabs-active-border;
                color: @tabs-active-color;
                border-left: none;
                border-right: none;
                border-top: none;
                cursor: default;
            }
        }

        float: none;
        text-align: left;
        clear: both;

        & > a {
            min-width: 50px;
            border-width: 0 0 3px;
            display: table;
            margin-right: 0;
            margin-bottom: 30px;
            padding: 10px 0 3px;
            line-height: normal;
            height: 30px;

            .tab-title {
                line-height: normal;
            }

            &:hover,
            &:focus {
                background-color: @tabs-hover-bg;
                border-color: transparent;
            }

            &.text-right {
                float: right;
            }

            &.text-left {
                float: left;
            }
        }
    }
}

.tab-content {
    & > .tab-pane {
        display: none;
    }

    & > .active {
        display: block;
    }
}

.tabs-left > .nav-tabs,
.tabs-left > .outline-tab > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-bottom: none;
}

.tabs-right > .nav-tabs,
.tabs-right > .outline-tab > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-bottom: none;
}

.dropdown-menu {
    border: medium none;
    box-shadow: 0 0 3px @dropdown-shadow;
    color: @dropdown-color;
    background-color: @dropdown-bg;
    display: none;
    float: left;
    font-size: @font-size-sm;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: @dropdown-menu-z-index;
    border-radius: 2px;

    li > a {
        color: inherit;
        line-height: 25px;
        padding: 6px 20px;
        text-align: left;
        font-weight: normal;
        font-size: @font-size;
        display: block;

        &:hover {
            text-decoration: none;
            background-color: @dropdown-hover-bg;
            color: @dropdown-hover-color;
        }

        &:focus {
            .native-focus-outline();
        }

        &.font-bold {
            .font-semibold;
        }
    }

    .divider {
        margin: 5px 0;
    }
}
