.alert-info {
    color: @alert-info-color;
    background-color: @alert-info-bg;
    border: 1px solid @alert-info-border;
}

.alert-info {
    .alert-link {
        color: @alert-info-color;
    }
}

.alert-error {
    color: @alert-error-color;
    background-color: @alert-error-bg;
    border: 1px solid @alert-error-border;
}

.alert-error {
    .alert-link {
        color: @alert-error-color;
    }
}

.alert {
    .close {
        font-size: 0.875rem;
        opacity: 0.5;
        top: 4px;

        &:focus {
            .native-focus-outline;
        }
    }
}

.alert-link {
    .font-semibold;

    &:focus {
        .native-focus-outline;
    }
}

/*
  Toast Notifications
*/

@-webkit-keyframes fadeInNotification {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 0.9;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInNotification {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 0.9;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutNotification {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
}

@keyframes fadeOutNotification {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
}

.fadeOutNotification {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutNotification;
    animation-name: fadeOutNotification;
}

.fadeInNotification {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInNotification;
    animation-name: fadeInNotification;
}

.notification-container {
    position: fixed;
    z-index: 9999999;
    top: 12px;
    right: 12px;
    width: 300px;

    .notification {
        position: relative;
        width: 300px;
        min-height: 67px;
        background-color: @notification-bg;
        border-radius: @notification-border-radius;
        opacity: 0;
        margin-bottom: 4px;
        transition: top 500ms ease-in-out;

        .dismiss {
            position: absolute;
            color: @notification-color;
            opacity: 1;
            font-size: 0.8125rem;
            right: 5px;
            top: 3px;
            cursor: pointer;
            transition: opacity 0.3s linear;

            &:hover {
                opacity: 0.8;
            }
        }

        .notification-content {
            display: table;
            width: 100%;
            min-height: 67px;

            .notification-icon {
                display: table-cell;
                width: 50px;
                color: @notification-color;
                vertical-align: middle;
                text-align: center;
                font-size: 1.438rem;
            }

            .notification-title {
                color: @notification-color;
                font-size: @font-size-lg;
                font-family: @font-family;
                font-weight: 600;
                margin-bottom: 3px;
                word-break: break-word;
            }

            .notification-text {
                display: table-cell;
                vertical-align: middle;
                padding: 15px 15px 15px 0;

                .notification-label {
                    color: @white;
                    margin: 0;
                    font-size: @font-size-lg;
                    line-height: 20px;
                    word-break: break-word;
                }

                .notification-subtitle {
                    display: block;
                    color: @notification-color;
                    margin-top: 3px;
                    font-size: 0.8125rem;
                    opacity: 0.8;
                    word-break: break-word;
                }
            }
        }
    }
}

/*
 * Angular Alerts
 */
ux-alert {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;

    .alert-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: none;
        padding-right: 12px;
    }

    .alert-content {
        flex: 1;
        padding: 2px 0;
    }

    .alert-close {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: none;
        border: none;
        color: inherit;
        background: transparent;

        &:focus {
            .native-focus-outline();
        }
    }

    &.ux-alert-info {
        color: @alert-info-color;
        background-color: @alert-info-bg;
        border: 1px solid @alert-info-border;
    }

    &.ux-alert-error {
        color: @alert-error-color;
        background-color: @alert-error-bg;
        border: 1px solid @alert-error-border;
    }

    &.ux-alert-success {
        color: @alert-success-color;
        background-color: @alert-success-bg;
        border: 1px solid @alert-success-border;
    }

    &.ux-alert-warning {
        color: @alert-warning-color;
        background-color: @alert-warning-bg;
        border: 1px solid @alert-warning-border;
    }

    &.ux-alert-dark {
        color: @alert-dark-color;
        background-color: @alert-dark-bg;
        border: 1px solid @alert-dark-border;
    }
}

/*
 * Badge
 */

.ux-badge-container {
    position: relative;
    overflow: visible;

    .ux-badge {
        display: block;
        position: absolute;
        text-align: center;
        background-color: #000;
        color: #fff;
        line-height: 1;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-transform: none !important;
    }

    &.ux-badge-small .ux-badge {
        height: 12px;
        line-height: 12px;
        min-width: 12px;
        border-radius: 6px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 10px;
    }

    &.ux-badge-medium .ux-badge {
        height: 16px;
        line-height: 16px;
        min-width: 16px;
        border-radius: 8px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;
    }

    &.ux-badge-large .ux-badge {
        height: 20px;
        line-height: 20px;
        min-width: 20px;
        border-radius: 10px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 16px;
    }

    &.ux-badge-above,
    &.ux-badge-top {
        .ux-badge {
            top: 0;
        }

        &.ux-badge-small .ux-badge {
            top: -6px;
        }

        &.ux-badge-medium .ux-badge {
            top: -8px;
        }

        &.ux-badge-large .ux-badge {
            top: -10px;
        }
    }

    &.ux-badge-below,
    &.ux-badge-bottom {
        .ux-badge {
            bottom: 0;
        }

        &.ux-badge-small .ux-badge {
            bottom: -6px;
        }

        &.ux-badge-medium .ux-badge {
            bottom: -8px;
        }

        &.ux-badge-large .ux-badge {
            bottom: -10px;
        }
    }

    &.ux-badge-before,
    &.ux-badge-left {
        .ux-badge {
            left: 0;
        }
    }

    &.ux-badge-after,
    &.ux-badge-right {
        .ux-badge {
            right: 0;
        }
    }

    &.ux-badge-hidden .ux-badge {
        display: none;
    }
}
