.table > thead > tr > th {
    border-bottom-width: 1px;
    .font-semibold;
}

.table > tbody > tr > td {
    border-top-color: @table-border;
}

.table > tbody > tr > th {
    border-top: 0;
}

.table > tbody > tr > td {
    &.vertical-center-icon {
        vertical-align: middle;
    }
}

.table {
    &.ux-resizable-expanding-table {
        td,
        th {
            border: none;
        }
    }
}

// ngx-bootstrap - pagination
.pagination {
    & > li.page-item {
        & > a {
            .btn;
            .button-secondary;

            text-align: center;
            min-width: 45px;
            padding: 6px 12px;

            &:hover {
                .button-secondary-hover;
            }
        }

        &.active > a {
            .button-primary-active;

            &:hover {
                .button-primary-hover;
            }

            &:focus {
                .button-primary-active;
            }
        }

        &.disabled {
            & > a {
                .button-secondary-disabled;
            }
        }
    }
}

//pagination
.pagination-details {
    margin: 20px 0;
    padding: 6px 12px;
    vertical-align: top;
    display: inline-block;
}

.pagination > .disabled > span,
.pagination > .disabled > a {
    .button-secondary-disabled;

    &:hover,
    &:focus {
        .button-secondary-disabled;
    }
}

.pagination > li {
    & > a {
        .button-secondary;

        min-width: 45px;
        border-radius: 0 !important;

        &:hover {
            .button-secondary-hover;
        }
    }

    &.active > a {
        .button-primary-active;

        &:hover {
            .button-primary-hover;
        }

        &:focus {
            .button-primary-active;
        }
    }
}

table {
    &.dataTable {
        clear: both;
        margin-top: 6px;
        margin-bottom: 6px;
        max-width: none;
    }
}

.dataTables_filter {
    label {
        float: right;
        font-weight: normal;
    }
}

.dataTables_length {
    label {
        float: left;
        text-align: left;
        font-weight: normal;
    }
}

.dataTables_paginate {
    float: right;
    margin: 0;

    ul {
        &.pagination {
            margin: 2px 0;
            white-space: nowrap;
        }
    }
}

.dataTables_info {
    padding-top: 8px;
}

.dataTable {
    thead {
        .sorting_asc {
            background: url('../img/sort_asc.png') no-repeat center right;
        }

        .sorting_desc {
            background: url('../img/sort_desc.png') no-repeat center right;
        }

        .sorting {
            background: url('../img/sort.png') no-repeat center right;
        }
    }
}

// Documentation Grids
.show-grid {
    margin: 15px 0;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid @table-grid-border;
    background-color: @table-grid-bg !important;
}

//hover actions
.table > tbody > tr {
    &.hover-actions > td {
        &.item-actions {
            position: relative;
        }

        .list-hover-actions {
            top: 0;
            padding: 0;
            right: 10px;
            position: absolute;
            border: 0;
            opacity: 0;
            width: 100%;
            white-space: nowrap;
        }
    }
}

.table > tbody > tr {
    &.hover-actions {
        &:focus {
            outline: 0;
        }
    }

    .hover-action-btn {
        border: none;
        background-color: transparent;
        padding: 0;

        &:focus {
            .native-focus-outline();
        }
    }
}

.table > tbody > tr {
    &.hover-actions {
        &:focus,
        &:hover,
        &.child-focus {
            background-color: @table-hover-bg;

            & > td.listview-document-bg {
                background-color: @table-hover-bg;
            }

            & > td .list-hover-actions {
                opacity: 1;
            }

            &.multiple-select-item--selecting {
                & > td .list-hover-actions {
                    opacity: 0;
                }
            }
        }
    }
}

.table-hover > tbody > tr {
    &:hover {
        background: @table-hover-bg;
    }
}

.table > tbody > tr {
    &.hover-actions {
        &:focus,
        &.child-focus {
            background-color: @table-hover-bg;

            & > td.listview-document-bg {
                background-color: @table-hover-bg;
            }
        }
    }
}

.table > tbody > tr {
    &.highlight {
        background-color: @table-hover-bg;
    }

    &.hover-actions {
        &.highlight > td {
            &.listview-document-bg {
                background-color: @table-hover-bg;
            }
        }
    }
}

.list-hover-actions {
    position: relative;
    margin-top: 3px;
    box-shadow: -2px 0 4px @table-hover-bg;

    .list-hover-action {
        display: inline-block;
        padding: 6px;
        color: @text-color;
        opacity: 0.5;
        border: none;
        background-color: transparent;

        &:hover,
        &:focus,
        &:active {
            opacity: 1;
            color: @text-color;
        }
    }
}

.select-link {
    &:link {
        color: @primary;
        border-bottom: 1px dotted @primary;
    }

    &:hover,
    &:focus {
        color: @grey2;
        border-bottom: 1px solid @primary;
        outline-color: @accent;
    }

    &:active {
        color: @grey2;
        border-bottom: 1px solid @grey2;
    }

    &:visited {
        color: @primary;
        border-bottom: 1px solid @hyperlink-color;
    }
}

//multiple-list-select styling
.multiple-list-select-selecting {
    .multiple-select-link {
        .select-link;
    }
}

.multiple-list-select-selecting {
    .cancel-btn {
        line-height: 22px;
        .button-secondary;
    }
}

.table > tbody > tr.row-selected {
    background-color: @table-hover-bg;

    & > td .list-hover-actions {
        opacity: 1;
    }
}

.table > tbody > tr.hover-actions:hover > td > .listview-document-bg,
.table > tbody > tr.hover-actions:focus > td > .listview-document-bg,
.table > tbody > tr.highlight > td > .listview-document-bg {
    background-color: @document-bg;
}

.table > tbody > tr.single-select-selected-bg > td > .listview-document-bg {
    background-color: @document-bg;
}

.table > tbody > tr.multiple-list-select-item--selecting:hover > td.item-actions .list-hover-actions,
.table > tbody > tr.multiple-list-select-item--selecting > td.item-actions .list-hover-actions {
    visibility: hidden;
    opacity: 0;
}

.table > tbody > tr > td > .listview-document-bg {
    vertical-align: middle;
}

//multiple select
.multiple-select-container {
    .multiple-select-action {
        margin-right: 5px;
    }

    .multiple-select-error {
        background-color: darken(@primary, 4%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        line-height: 34px;
        color: @white;
        transition: all 200ms linear;
        overflow: hidden;

        .error-text {
            display: inline-block;
            padding: 10px 20px;
        }

        &.show-error {
            height: 100%;
        }
    }
}

.multiple-select-selecting {
    .btn {
        vertical-align: baseline;
    }

    .btn-sm {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .multiple-select-link {
        .select-link;

        vertical-align: text-top;
    }

    .cancel-btn {
        line-height: 22px;
        .button-secondary;
    }
}

.multiple-select-checkbox-table {
    .multiple-select-checkbox {
        margin-bottom: 0;

        .el-checkbox {
            position: absolute;
            display: none;
        }

        .el-checkbox-content {
            margin-left: 0;
            transition: padding 100ms linear;
        }
    }
}

//multiple select item
//disable hover actions
.table > tbody > tr.multiple-select-item--selecting {
    td:first-child {
        position: relative;
        transition: padding 100ms linear;
        padding-left: 39px;

        &:before {
            position: absolute;
            background: url(../img/blue_checkboxes.png) no-repeat;
            background-position: 0 0;
            height: 22px;
            width: 22px;
            left: 8px;
            top: 9px;
            display: block;
            content: "";
        }

        &:hover {
            &:before {
                background-position: -24px 0;
            }
        }

        &.multiple-select-checkbox-table {
            padding-left: 8px;

            .multiple-select-checkbox {
                .el-checkbox {
                    display: inline-flex;
                }

                .el-checkbox-content {
                    padding-left: 31px;
                }
            }

            &:before {
                display: none;
            }
        }
    }

    &.multiple-select-item--selected {
        td:first-child:before {
            background-position: -48px 0;
        }
    }

    & > td.listview-document-bg,
    &:hover > td.listview-document-bg {
        background-color: transparent;
    }

    &:hover,
    &.multiple-select-item--selected {
        background-color: @table-hover-bg;
        cursor: pointer;

        & > td.item-actions .list-hover-actions {
            visibility: hidden;
            opacity: 0;
        }
    }
}

// Shift/ctrl select item
.table {
    tr.shift-select-selected-bg,
    tr.ux-selection-selected {
        background-color: @shift-select-selected-light;

        & > td.item-actions .list-hover-actions {
            box-shadow: none;
        }

        &:hover,
        &:focus,
        &.child-focus,
        &.ux-selection-focused {
            background-color: @shift-select-selected-hover-light;

            & > td.item-actions .list-hover-actions {
                box-shadow: none;
            }
        }

        &.ux-selection-focused:focus {
            .native-focus-outline();
        }
    }
}

.affix-toolbar {
    &.multiple-select-mode {
        background: @white;
    }
}

.affix {
    .multiple-select-selecting {
        .btn-sm {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.multiple-select-selecting {
    .multiple-list-select-selecting {
        .btn {
            vertical-align: middle;
        }
    }
}

.selecting-text {
    vertical-align: text-top;
}

.table-responsive {
    border: none;
}

.horizontal-scrollbar {
    border: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.table-header-dark {
    th {
        color: @grey2;
        text-transform: uppercase;
        font-size: 0.875rem;
    }
}

.listview-page-icon {
    background: url('../img/page.png') no-repeat;
    width: 20px;
    height: 23px;
    background-size: contain;
}

.listview-text-emphasis {
    color: @grey2;
}

// Fixed Header Table
.scrollableContainer {
    position: relative;
    padding-top: 35px;
    overflow: hidden;

    .headerSpacer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    th {
        .orderWrapper {
            position: absolute;
            top: 0;
            right: 2px;
            cursor: pointer;
            font-size: 0.625rem;
        }
    }
}

.scrollArea {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;

    /*  the implementation of this is still quite buggy; specifically, it doesn't like the
        absolutely positioned headers within
    -webkit-overflow-scrolling: touch;  */
    table {
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 0;
        width: 100%;
        border: none;

        /*border-collapse: separate;*/
        th {
            padding: 0 !important;
            border: none !important;
            min-width: 40px;

            .box {
                padding: 0 8px;
                padding-right: 11px;

                /*  order icon width*/
                height: 100%;

                > .row {
                    height: 100%;
                }
            }
        }

        .th-inner {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: absolute;
            top: 0;
            height: 36px;
            line-height: 36px;
            border-bottom: 1px solid @table-border;

            .ng-scope {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .condensed {
                padding: 0 3px;
            }
        }

        tbody {
            tr {
                td:first-child {
                    border-left: none;
                }

                td:last-child {
                    border-right: none;
                }

                td {
                    border-bottom: 1px solid @table-border;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            tr:first-child td {
                border-top: none;
            }
        }
    }
}

/*  to hack fix firefox border issue    */

@-moz-document url-prefix() {
    .scrollArea table th .box {
        border-left: none;
    }
}

.scrollableContainer {
    .scaler {
        position: absolute;
        top: 0;
        width: 2px;
        height: 100%;
    }

    th {
        .resize-rod {
            position: absolute;
            top: 0;
            right: 0;
            cursor: col-resize;
            width: 4px;
            height: 100%;
        }
    }
}

.scrollable-resizing {
    .scrollableContainer {
        cursor: col-resize;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.sortableHeader {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    float: left;
}

.sorter-header-sm {
    .sortableHeader {
        font-size: 0.875rem;
    }

    .sortableHeaderIcon {
        padding-bottom: 3px;
    }

    &.multiSortHeader {
        .multiSortTitle {
            font-size: 0.875rem;
        }

        .multiSortNumber {
            font-size: 0.875rem;
        }

        .sortableHeaderIcon {
            padding-top: 5px;
        }
    }
}

.sorter-header-md {
    .sortableHeader {
        font-size: 1rem;
    }

    .sortableHeaderIcon {
        padding-bottom: 1px;
    }

    &.multiSortHeader {
        .multiSortTitle {
            font-size: 1rem;
        }

        .multiSortNumber {
            font-size: 1rem;
        }

        .sortableHeaderIcon {
            padding-top: 5px;
        }
    }
}

.sorter-header-lg {
    .sortableHeader {
        font-size: 1.125rem;
    }

    .sortableHeaderIcon {
        padding-top: 2px;
    }

    &.multiSortHeader {
        .multiSortTitle {
            font-size: 1.125rem;
        }

        .multiSortNumber {
            font-size: 1.125rem;
        }

        .sortableHeaderIcon {
            padding-top: 6px;
        }
    }
}

.scrollable-header-sm {
    .sortableHeader {
        font-size: 0.875rem;
    }

    .sortableHeaderIcon {
        padding-bottom: 3px;
    }

    .multiSortTitle {
        font-size: 0.875rem;
    }

    .multiSortNumber {
        font-size: 0.875rem;
    }
}

.scrollable-header-md {
    .sortableHeader {
        font-size: 1rem;
    }

    .sortableHeaderIcon {
        padding-bottom: 2px;
    }

    .multiSortTitle {
        font-size: 1rem;
    }

    .multiSortNumber {
        font-size: 1rem;
    }
}

.scrollable-header-lg {
    .sortableHeader {
        font-size: 1.125rem;
    }

    .sortableHeaderIcon {
        padding-bottom: 2px;
    }

    .multiSortTitle {
        font-size: 1.125rem;
    }

    .multiSortNumber {
        font-size: 1.125rem;
    }
}

.sortableHeaderIcon {
    display: inline-block;
    width: 18px;
    vertical-align: middle;

    &.sortable-header-icon-inline {
        margin-left: 5px;
    }
}

.multiSortTitle {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    margin-bottom: 0;
    line-height: 28px;
}

.multiSortHeader {
    &:hover {
        .multiSortNumber {
            display: inline-block;
            opacity: 1;
            transition: 0.5s;
        }
    }

    .header {
        padding-bottom: 0;
    }

    .sortableHeaderIcon {
        float: left;
    }
}

.multiSortNumber {
    opacity: 0;
    width: 18px;
    float: right;
}

.multiSortContainer {
    width: 36px;
    display: inline-block;
    height: 22px;

    &.inline-sort-icon {
        width: 41px;
    }
}

.fixed-layout {
    table-layout: fixed;
}

.no-cell-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-col-icon {
    width: 65px;
    min-width: 65px;
    max-width: 65px;
    .no-cell-overflow;
}

.table-col-xs {
    width: 5%;
    min-width: 5%;
    max-width: 5%;
    .no-cell-overflow;
}

.table-col-sm {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    .no-cell-overflow;
}

.table-col-md {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    .no-cell-overflow;
}

.table-col-lg {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    .no-cell-overflow;
}

.table-col-xl {
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    .no-cell-overflow;
}

.expand-input {
    .dropdown-menu {
        width: 35%;
        box-shadow: 0 0 3px @dropdown-menu-shadow;
        border-radius: 0;
        line-height: 16px;
        margin: 4px;

        li {
            a {
                width: 100%;
                border-radius: 0;
                line-height: 16px;
                margin: 0;
                padding: 3px 12px;
            }

            a:hover,
            a:focus,
            a:active {
                color: @text-color;
                background: @dropdown-menu-hover-bg;
            }
        }
    }
}

.expand-input {
    .dropdown-menu {
        .active {
            a:hover,
            a:focus,
            a {
                color: @text-color;
                background: @dropdown-menu-hover-bg;
            }
        }
    }
}

.search-toolbar-icon {
    display: inline-block;
    width: 40px;
    height: 34px;

    .hpe-icon {
        font-size: 1.5rem;
        padding: 4px;
        margin-left: 2px;
    }
}

.search-toolbar-icon:hover,
.search-toolbar-icon:focus {
    cursor: pointer;
    background: none !important;
}

.search-toolbar-input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

//sortDirectionToggle
.sort-direction-toggle {
    p {
        float: left;
        padding: 6px;
        margin-bottom: 0;
    }

    .sort-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        margin-right: 1px;
        float: right;
        padding: 6px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: @table-sort-hover-bg;
        }

        &:focus {
            .native-focus-outline();
        }
    }
}

//Table Row Headers
.detail-row-header {
    white-space: nowrap;

    .title {
        line-height: 1;
        display: inline-block;
        max-width: 100%;
    }

    .sort {
        display: none;
    }

    &.sort {
        .title {
            max-width: ~'calc(100% - 60px)';
        }

        .sort {
            display: inline;
            pointer-events: none;
            max-width: 42px;

            i {
                vertical-align: top;
            }

            .number {
                transition: 0.5s;
                opacity: 0;
                width: 18px;
                display: inline;
            }
        }
    }

    .filter {
        display: inline-flex;
        width: 18px;

        i {
            vertical-align: top;
            color: @primary;

            span {
                height: inherit;
                width: inherit;
                display: block;
            }
        }
    }
}

.scrollArea {
    table {
        .detail-row-header {
            .sort {
                i {
                    vertical-align: baseline;
                }
            }

            .filter {
                display: inline-flex;

                i {
                    display: inline-block;
                    vertical-align: baseline;
                }
            }
        }
    }
}

th {
    &:hover {
        .detail-row-header {
            &.sort {
                .sort {
                    .number {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

.detail-row-header-popover {
    width: 300px;
    max-width: none;

    .popover-content,
    .popover-title {
        padding: 5px;
    }
}

/*
  Integrated Table Control
*/

.integrated-table {
    tbody {
        tr {
            &:focus {
                background-color: #f5f5f5;
            }
        }
    }
}

/*
 * Fixed Header Table Styling
 */

.ux-fixed-header-table {
    display: flex;
    flex-direction: column;

    &.ux-resizable-expanding-table {
        thead,
        tbody {
            tr {
                display: flex;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    &.ux-resizable-expanding-table-overflow {
        thead,
        tbody {
            tr {
                display: inline-flex;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    thead,
    tbody {
        display: block;

        tr {
            display: flex;

            th,
            td {
                display: block;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    tbody {
        overflow-y: scroll;
        min-height: 1px;
        margin-top: -1px;
    }
}

/*
 * Reorderable Table
 */
.reorderable-row {
    &:focus {
        .native-focus-outline();
    }
}