.treegrid {
    &.table > thead > tr > th {
        border-bottom: none;
    }
}

.treegrid-expand-header {
    margin-left: 58px;

    &.has-checkbox {
        margin-left: 0;
    }
}

.treegrid-header-checkbox {
    margin-left: 31px;
}

.treegrid-header {
    th:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;

        .treegrid-header-text {
            margin-left: 25px;
        }
    }
}

.treegrid-row {
    &:focus {
        background-color: @table-hover-bg;
        .native-focus-outline();
    }

    > td:first-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > ux-checkbox {
            margin-right: 10px;
        }
    }
}

// AngularJS row (avoiding naming conflict with Angular component)
.treegrid-row-ng1 {
    &.disabled {
        cursor: default;
        color: @form-control-disabled-color;

        .treegrid-expand {
            color: @text-color;
        }
    }
}

// AngularJS row indent
.treegrid-indent {
    display: inline-block;

    &.treegrid-level-0 {
        width: 0;
    }

    &.treegrid-level-1 {
        width: 25px;
    }

    &.treegrid-level-2 {
        width: 50px;
    }

    &.treegrid-level-3 {
        width: 75px;
    }

    &.treegrid-level-4 {
        width: 100px;
    }

    &.treegrid-level-5 {
        width: 125px;
    }
}

// AngularJS expander
.treegrid-expand {
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin-left: 2px;
    margin-right: 3px;

    .treegrid-expand-toggle {
        :not(.spinner) {
            cursor: pointer;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    .spinner {
        margin: 4px auto;
    }
}

// Angular expander
.treegrid-expander {
    display: inline-block;
    width: 28px;
    margin-left: 2px;
    margin-right: 3px;

    button {
        width: 100%;
        margin: 0;
        border: none;
        background-color: transparent;
        text-align: center;

        &:focus {
            outline: none;
        }

        .treegrid-expander-icon {
            opacity: 0.5;
            transition: transform linear 0.15s;

            &:hover {
                opacity: 1;
            }
        }

        .spinner {
            margin: 5px auto;
        }
    }
}

.treegrid-row-expanded {
    .treegrid-expander-icon {
        transform: rotate(90deg);
    }
}

.treegrid-checkbox {
    margin-right: 5px;

    .treegrid-multiple-select-checkbox {
        margin: 0;

        .el-checkbox-content {
            margin: 0;
        }
    }
}

.treegrid-icon {
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin-right: 5px;
}

.treegrid-loading {
    text-align: center;
    margin-bottom: 15px;
}

// Angular Tree Component Styling - Third Party Component
.angular-tree-component {
    .tree-node {
        &:hover {
            background-color: transparent;
        }

        > .node-wrapper {
            > ux-checkbox {
                margin-right: 5px;
            }
        }
    }

    // Node Content Outline
    .node-content-wrapper {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;

        &:hover {
            background-color: @treeview-hover-bg;
        }

        &.node-content-wrapper-active,
        &.node-content-wrapper-focused {
            background-color: @shift-select-selected-light;
        }
    }

    // Expand/Collapse Arrow
    tree-node-expander {
        .toggle-children-wrapper {
            display: block;
            padding: 0 3px 5px 1px;

            .toggle-children {
                background-image: none;
                font-family: 'ux-icons';
                opacity: 0.5;
                font-size: 12px;
                width: 11px;
                height: 17px;
                .ux-icon-chevron-right();
            }
        }
    }
}