<div #rootElement class="dropdown" [ngStyle]="{'width.px': width ? width.toString() : null}" dropdown>

  <button type="button" class="select-button" dropdownToggle (click)="onToggle()">
    <ng-container [ngTemplateOutlet]="buttonContentRef"></ng-container>
    <i class="ux-select-icon ux-icon ux-icon-close clear-icon" *ngIf="allowNull && selected"
       (click)="resetValue($event)">
    </i>
    <i class="ux-select-icon ux-icon ux-icon-chevron-down chevron-icon"></i>
  </button>

  <div class="dropdown-menu" *dropdownMenu [ngStyle]="{'max-height.px': maxHeight ? maxHeight.toString() : null}">
    <div [hidden]="busy">
      <span [hidden]="hideFilter">
        <input #filterInput type="text" placeholder="{{placeholder}}" class="filter-input" [(ngModel)]="filterText"
               (ngModelChange)='onFilterTextChanged($event)' (click)="$event.stopPropagation()"/>
        <button type="button" class="btn btn-flat btn-icon-only filter-button" (click)="resetFilter($event)">
          <ux-icon [name]="(filterText.length === 0) ? 'search' : 'close'"></ux-icon>
        </button>
      </span>
      <ng-container [ngTemplateOutlet]="dropdownContentRef"></ng-container>
    </div>
    <div class="busy-indicator" [hidden]="!busy">
      <div class="ux-loader"></div>
    </div>
  </div>

</div>
