<div class="ux-select-container">
    <button #button type="button" class="form-control"
            [uxMenuTriggerFor]="menu">
        <ng-container [ngTemplateOutlet]="buttonContentRef"></ng-container>
    </button>
    <div class="ux-select-icons">
        <ux-icon name="close"
                 class="ux-select-icon ux-select-clear-icon"
                 *ngIf="allowNull && selected"
                 (click)="resetValue($event)">
        </ux-icon>
        <ux-icon name="chevron-down"
                 class="ux-select-icon ux-select-chevron-icon"
                 (click)="menuTrigger.toggleMenu(); $event.stopPropagation()">
        </ux-icon>
    </div>
</div>

<ux-menu #menu menuClass="select-menu"
         (opened)="filterInputElement.nativeElement.focus()">

    <div [style.max-height.px]="maxHeight"
         [style.width.px]="button.offsetWidth">

        <div *ngIf="!busy">
            <div *ngIf="!hideFilter">

                <input #filterInput
                        type="text"
                        [placeholder]="placeholder"
                        class="form-control"
                        [(ngModel)]="filterText"
                        (input)="filterChange.emit(filterText)"
                        (click)="$event.stopPropagation()" />

                <button type="button"
                        class="btn btn-flat btn-icon-only filter-button"
                        (click)="resetFilter($event)"
                        [tabindex]="filterText.length > 0 ? 0 : 1">

                    <ux-icon [name]="filterText.length === 0 ? 'search' : 'close'"></ux-icon>
                </button>
            </div>

            <ng-container [ngTemplateOutlet]="dropdownContentRef"></ng-container>
        </div>

        <div class="busy-indicator" *ngIf="busy">
            <div class="ux-loader"></div>
        </div>
    </div>
</ux-menu>