<div class="demo-toolbar">

    <div class="demo-toolbar-left">
        <ux-toolbar-search id="searchLeft"
            [alwaysExpanded]="alwaysExpanded"
            [(expanded)]="expanded"
            direction="right"
            (search)="onSearch($event)">

            <input uxToolbarSearchField
                #searchField
                type="text"
                class="form-control"
                placeholder="Search"
                aria-label="Search"
                [(ngModel)]="searchText">

            <button uxToolbarSearchButton
                type="button"
                class="btn btn-link btn-icon button-secondary"
                aria-label="Toggle Search">
                <ux-icon name="search"></ux-icon>
            </button>

            <button *ngIf="searchText"
                type="button"
                class="btn btn-link btn-icon button-secondary ux-toolbar-search-clear"
                (click)="searchText = ''; searchField.focus()">
                <ux-icon name="close"></ux-icon>
            </button>

        </ux-toolbar-search>

        <button type="button" class="btn btn-link btn-icon button-secondary">
            <ux-icon name="add"></ux-icon>
        </button>

        <button type="button" class="btn btn-link btn-icon button-secondary">
            <ux-icon name="edit"></ux-icon>
        </button>
    </div>

    <div class="demo-toolbar-right" [formGroup]="form">
        <button type="button" class="btn btn-link btn-icon button-secondary">
            <ux-icon name="grid"></ux-icon>
        </button>

        <button type="button" class="btn btn-link btn-icon button-secondary">
            <ux-icon name="list"></ux-icon>
        </button>

        <ux-toolbar-search
            id="searchRight"
            [alwaysExpanded]="alwaysExpanded"
            direction="left"
            (search)="onSearchRight()">

            <input uxToolbarSearchField
                formControlName="search"
                type="text"
                class="form-control"
                placeholder="Search"
                aria-label="Search">

            <button uxToolbarSearchButton
                    type="button"
                    class="btn btn-link btn-icon button-secondary"
                    aria-label="Toggle Search">
                <ux-icon name="search"></ux-icon>
            </button>
        </ux-toolbar-search>
    </div>

</div>

<p class="m-t-md">Searched for:
    <strong id="searchedFor">{{searchedFor}}</strong>
</p>

<button id="always-expanded-btn" class="btn button-primary" (click)="alwaysExpanded = true">Set Always Expanded</button>