<div class="volume-container">

    <div class="volume-slider-container" #volumeContainer [class.active]="volumeActive">
        <button #volumeIcon
                class="volume-slider-icon"
                [uxTooltip]="muteTooltip"
                (click)="toggleMute()">

            <span class="hpe-icon"
                  [class.hpe-volume-mute]="volume === 0"
                  [class.hpe-volume-low]="volume > 0 && volume <= 70"
                  [class.hpe-volume]="volume > 70">
            </span>
        </button>

        <div class="volume-slider-node">
            <div class="volume-slider" #volumeSlider>
                <div class="volume-track-lower" [style.width.%]="volume"></div>
                <div class="volume-slider-thumb"
                     (mousedown)="dragStart($event)"
                     [style.left.%]="volume"
                     tabindex="0"
                     (keydown.ArrowRight)="volume = volume + 10"
                     (keydown.ArrowLeft)="volume = volume - 10">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<button class="control-button">
    <svg viewBox="0 0 51.5 64" width="14" height="17" (click)="goToStart()">
        <rect x="0" y="0" width="7.5" height="64" />
        <polygon points="51.5,64 51.5,0 7.4,32 " />
    </svg>
</button>

<button class="control-button" (click)="togglePlay()">
    <svg *ngIf="!playing" viewBox="0 0 45 64" width="20" height="29">
        <polygon points="0.4,0 0.4,64 44.6,32" />
    </svg>
    <svg *ngIf="playing" viewBox="0 0 43 56.9" width="20" height="29">
        <rect y="0.1" width="15.7" height="56.9" />
        <rect x="27.3" y="0.1" width="15.7" height="56.9" />
    </svg>
</button>

<button class="control-button">
    <svg viewBox="0 0 51.5 64" width="14" height="17" (click)="goToEnd()">
        <rect x="44.1" y="0" width="7.5" height="64" />
        <polygon points="0,64 0,0 44.1,32 " />
    </svg>
</button>

<div class="spacer"></div>

<button *ngIf="mediaPlayerService.type !== 'audio'" class="control-button" (click)="setFullscreen()">
    <span class="hpe-icon"
          [class.hpe-expand]="!mediaPlayerService.fullscreen"
          [class.hpe-contract]="mediaPlayerService.fullscreen">
    </span>
</button>

<ng-template #muteTooltip>{{ volume === 0 ? 'Unmute' : 'Mute' }}</ng-template>