ux-select {
    ux-tag-input {
        font-size: 1.125rem;

        ux-typeahead {
            font-size: initial;
        }
    }

    ux-typeahead .ux-typeahead-options > ol > li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    .inner-addon {
        > input:read-only {
            background-color: @form-control-bg;
            color: @form-control-color;
            border-color: @form-control-border;

            &:focus {
                border-color: @form-control-focus-border;
            }
        }
    }

    .right-addon {
        .select-arrow {
            cursor: pointer;
            pointer-events: all;
        }
    }
}