<input
    type="text"
    #input
    #popover="ux-popover"
    [placeholder]="('dateRangeInputPlaceholder' | l10n) || 'Select a date range'"
    [attr.aria-label]="('dateRangeInputAriaLabel' | l10n) || 'Selected date'"
    [ngModel]="dateString"
    uxFocusIndicatorOrigin
    (ngModelChange)="onDateChange($event)"
    [uxPopover]="popoverTemplate"
    placement="bottom"
    [popoverClass]="showNowBtn ? 'date-range-picker-now-btn-popover' :
                    'date-range-picker-popover'"
    class="form-control"
    (keydown.enter)="popover.show()">

<ng-template #popoverTemplate>
    <ux-date-range-picker
        [(start)]="start"
        [(end)]="end"
        [showTime]="showTime"
        [showTimezone]="showTimezone"
        [showSeconds]="showSeconds"
        [showMeridian]="showMeridian"
        [showSpinners]="showSpinners"
        [showNowBtn]="showNowBtn"
        [startTimezone]="startTimezone"
        [endTimezone]="endTimezone"
        [nowBtnText]="'dateInputNowBtnText' | l10n"
        [nowBtnAriaLabel]="'dateInputNowBtnAriaLabel' | l10n"
        [weekdays]="'dateInputWeekdays' | l10n"
        [meridians]="'dateInputMeridians' | l10n"
        [months]="'dateInputMonths' | l10n"
        [monthsShort]="'dateInputMonthsShort' | l10n"
        (startChange)="onRangeChange()"
        (endChange)="onRangeChange()"
        (keydown.escape)="popover.hide(); input.focus()"
        (startTimezoneChange)="onTimezoneChange(true, $event)"
        (endTimezoneChange)="onTimezoneChange(false, $event)">
    </ux-date-range-picker>
</ng-template>
