ux-toolbar-search {
    display: inline-block;

    [uxToolbarSearchField] {
        width: 100%;
        visibility: hidden;
        transition: visibility 0s 0.3s;
    }

    [uxToolbarSearchButton] {
        position: absolute;
        top: 3px;
        right: 0;
        z-index: 1;
        transition: right 0.3s;
    }

    &.left {
        right: 0;
    }

    &.expanded {
        [uxToolbarSearchField] {
            visibility: visible;
            transition: visibility 0s;
        }

        [uxToolbarSearchButton] {
            right: 3px;
        }
    }
}
