.fixed-header-loading-indicator {
    display: flex !important;
    align-items: center;
}

.fixed-header-loading-indicator .spinner {
    margin: 0 1em 0 0.5em;
}

.fixed-header-loading-indicator .fixed-header-loading-indicator-label {
    font-style: italic;
    margin: 0;
}