.virtual-scroll-container {
    width: 420px;
    height: 250px;
    border: 1px solid #ddd;
}

.virtual-scroll-container .virtual-cell {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.virtual-scroll-container .virtual-cell .employee-details {
    flex: 1 0 auto;
    color: #888;
}

.virtual-scroll-container .virtual-cell .employee-details .employee-name {
    color: black;
}

.virtual-scroll-container .virtual-cell .employee-details .employee-department {
    font-size: 90%;
    font-weight: 300;
    margin-right: 1em;
}

.virtual-scroll-container .virtual-cell .employee-details .employee-email {
    font-size: 90%;
    font-weight: 300;
}

.virtual-scroll-container .virtual-scroll-loading {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-style: italic;
}

.virtual-scroll-container .virtual-scroll-loading > .spinner {
    margin: 0 1em 0 0.5em;
}

.virtual-scroll-container .virtual-scroll-load-more {
    width: 100%;
    padding: 10px 20px;
    outline: none;
}