.icon-search-items-container {
    display: flex;
    align-items: center;
    padding: 5px 0;

    .icon-selector-text {
        flex: none;
        margin: 0 8px 0 0;
    }

    .icon-resize-button {
        text-transform: none;
        padding: 4px 12px;
    }
}