.icon-search-container {
    display: flex;

    .icon-search-items-container {
        display: inline-flex;
        align-items: center;

        &.icon-resize-container-alignment {
            justify-content: flex-end;
        }

        &.icon-set-selector-alignment {
            justify-content: center;
        }

        .icon-set-dropdown {
            width: 155px;
            min-width: 120px;
        }

        .icon-selector-text {
            justify-content: center;
            flex-direction: column;
            margin-right: 8px;
        }

        .icon-resize-button {
            text-transform: none;
            padding: 4px 12px;
        }
    }
}