<div class="calendar" role="grid">
  @for (row of yearService.grid$ | async; track trackRowByFn($index)) {
    <div class="calendar-row" role="row">
      @for (item of row; track trackYearByFn($index, item)) {
        <button
          uxFocusIndicator
          uxFocusIndicatorOrigin
          [programmaticFocusIndicator]="true"
          type="button"
          role="gridcell"
          class="calendar-item"
          [focusIf]="(yearService.focused$ | async) === item.year"
          [attr.aria-label]="item.year"
          [attr.aria-selected]="item.isActiveYear"
          [class.current]="item.isCurrentYear"
          [class.active]="item.isActiveYear && !getDisabled(item)"
          [disabled]="getDisabled(item)"
          (click)="select(item.year); $event.stopPropagation()"
          (focus)="announceRangeMode()"
          (keydown.ArrowLeft)="focusYear(item, -1); $event.preventDefault()"
          (keydown.ArrowRight)="focusYear(item, 1); $event.preventDefault()"
          (keydown.ArrowUp)="focusYear(item, -4); $event.preventDefault()"
          (keydown.ArrowDown)="focusYear(item, 4); $event.preventDefault()"
          [tabindex]="getTabbable(item) ? 0 : -1">
          {{ item.year }}
        </button>
      }
    </div>
  }
</div>
