<div class="calendar" role="grid">
  <div class="calendar-row" role="row" *ngFor="let row of yearService.grid$ | async">

    <div *ngFor="let item of row"
         role="gridcell"
         class="calendar-item"
         [attr.aria-label]="item.year"
         [attr.aria-selected]="item.isActiveYear"
         [class.current]="item.isCurrentYear"
         [class.active]="item.isActiveYear"
         (mousedown)="select(item.year)"
         (keyup.enter)="select(item.year)"
         tabindex="0">
         {{ item.year }}
    </div>
  </div>
</div>
