<div class="calendar" role="grid">
  <div class="calendar-row" *ngFor="let row of monthService.grid$ | async" role="row">

    <div role="gridcell"
         class="calendar-item"
         *ngFor="let item of row"
         [attr.aria-label]="item.name + ' ' + item.year"
         [attr.aria-selected]="item.isActiveMonth"
         [class.active]="item.isActiveMonth"
         [class.current]="item.isCurrentMonth"
         (mousedown)="select(item.month)"
         (keyup.enter)="select(item.month)"
         tabindex="0">
         {{ item.name }}
    </div>
  </div>
</div>
