<p class="current-time">{{ current | duration }}</p>

<div #timeline
     class="timeline-bar"
     tabindex="0"
     role="slider"
     [attr.aria-label]="mediaPlayerService.seekAriaLabel"
     aria-valuemin="0"
     [attr.aria-valuemax]="mediaPlayerService.duration | number: '0.0-0'"
     [attr.aria-valuenow]="mediaPlayerService.currentTime | number: '0.0-0'"
     attr.aria-valuetext="{{ mediaPlayerService.currentTime | duration }} of {{ mediaPlayerService.duration | duration }}"
     (keydown.ArrowLeft)="skip(-5)"
     (keydown.ArrowRight)="skip(5)"
     (mouseenter)="scrub.visible = true; tooltip.show()"
     (mouseleave)="scrub.visible = false; tooltip.hide()"
     (mousemove)="updateScrub($event); tooltip.reposition()"
     (mouseup)="updateScrub($event)"
     (mousedown)="mouseDown = true; $event.preventDefault()">

    <div class="buffered-bar"
         *ngFor="let buffer of buffered"
         [style.left.%]="buffer.start"
         [style.width.%]="buffer.end - buffer.start">
    </div>

    <div class="media-progress-bar" [style.width.%]="position">
        <div #progressThumb
             class="media-progress-bar-thumb"
             (mouseenter)="scrub.visible = false; tooltip.hide(); $event.stopPropagation()"
             (mouseleave)="scrub.visible = true; tooltip.show(); $event.stopPropagation()">
        </div>
    </div>

    <div #tooltip="ux-tooltip"
         class="scrub-handle"
         [class.scrub-handle-hidden]="!scrub.visible"
         [style.left.px]="scrub.position"
         [uxTooltip]="popTemplate"
         tooltipClass="ux-media-player-timeline-tooltip"
         placement="top"
         [showTriggers]="[]"
         [hideTriggers]="[]"
         [tooltipDelay]="100"
         [tooltipDisabled]="mediaPlayerService.duration === 0"></div>
</div>

<p class="duration-time">{{ mediaPlayerService.duration | duration }}</p>

<ng-template #popTemplate>
    <span>{{ scrub.time | duration }}</span>
</ng-template>