.landing-page-overview-title,
.landing-page-showcase-title,
.landing-page-social-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}

.landing-page-overview-description,
.landing-page-showcase-description,
.landing-page-social-description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: 300;
}

.landing-page-divider {
    margin-top: 50px;
    margin-bottom: 50px;
}