.btn-text {
    color: #676a6c;
    text-transform: none;
    font-size: 16px;
}

ux-tooltip {
    .tooltip {
        &.tooltip-copied {
            background-color: white;
            border-color: red;
            color: red;
        }
    }
}

.tooltip-copied {
    background-color: white;
    border-color: red;
    color: red;
}