<a id="top-focus" href="javascript:void(0)">Top focus target</a>

<div class="container p-lg">
  <ux-dashboard
    [options]="options"
    [layout]="layout$ | async"
    id="dashboardWidgetContainer"
    class="customizable-dashboard"
  >
    <ux-dashboard-widget
      id="widget-1"
      name="widget-1"
      [colSpan]="widget1ColSpan"
      [rowSpan]="widget1RowSpan"
    >
      <div
        class="widget-content"
        [class.widget-grabbing]="usageHandle.isGrabbing"
        uxDashboardWidgetDragHandle
      >
        <h3 class="widget-title">Widget 1</h3>

        <button
          class="widget-grab-handle"
          uxDashboardGrabHandle
          #usageHandle="ux-dashboard-grab-handle"
        >
          <ux-icon name="pan"></ux-icon>
        </button>
      </div>
    </ux-dashboard-widget>

    <ux-dashboard-widget id="widget-2" name="widget-2" [colSpan]="1">
      <div
        class="widget-content"
        [class.widget-grabbing]="handle2.isGrabbing"
        uxDashboardWidgetDragHandle
      >
        <h3 class="widget-title">Widget 2</h3>

        <button
          class="widget-grab-handle"
          uxDashboardGrabHandle
          #handle2="ux-dashboard-grab-handle"
        >
          <ux-icon name="pan"></ux-icon>
        </button>
      </div>
    </ux-dashboard-widget>

    <ux-dashboard-widget id="widget-3" name="widget-3" [colSpan]="1">
      <div
        class="widget-content"
        [class.widget-grabbing]="handle3.isGrabbing"
        uxDashboardWidgetDragHandle
      >
        <h3 class="widget-title">Widget 3</h3>

        <button
          class="widget-grab-handle"
          uxDashboardGrabHandle
          #handle3="ux-dashboard-grab-handle"
        >
          <ux-icon name="pan"></ux-icon>
        </button>
      </div>
    </ux-dashboard-widget>

    <ux-dashboard-widget
      id="widget-4"
      name="widget-4"
      [colSpan]="widget4ColSpan"
      [rowSpan]="widget4RowSpan"
    >
      <div
        class="widget-content"
        [class.widget-grabbing]="handle4.isGrabbing"
        uxDashboardWidgetDragHandle
      >
        <h3 class="widget-title">Widget 4</h3>

        <button
          class="widget-grab-handle"
          uxDashboardGrabHandle
          #handle4="ux-dashboard-grab-handle"
        >
          <ux-icon name="pan"></ux-icon>
        </button>
      </div>
    </ux-dashboard-widget>
  </ux-dashboard>
</div>

<div class="btn-container">
  <button
    id="change-layout"
    type="button"
    class="btn button-accent decrement"
    (click)="changeLayout()"
  >
    Change Layout
  </button>
</div>
<div class="options-container">
  <div id="widget-1-btns">
    <h4>Widget 1</h4>
    <div class="m-t-xs column-btns">
      <h5>Column</h5>
      <div class="btn-container">
        <button type="button" class="btn button-accent decrement" (click)="changeWidget1(0, -1)">
          -1
        </button>
        <button type="button" class="btn button-accent increment" (click)="changeWidget1(0, 1)">
          +1
        </button>
      </div>
    </div>
    <div class="m-t-xs row-btns">
      <h5>Row</h5>
      <div class="btn-container">
        <button type="button" class="btn button-accent decrement" (click)="changeWidget1(-1, 0)">
          -1
        </button>
        <button type="button" class="btn button-accent increment" (click)="changeWidget1(1, 0)">
          +1
        </button>
      </div>
    </div>
    <div class="m-t-xs both-btns">
      <h5>Both</h5>
      <div class="btn-container">
        <button type="button" class="btn button-accent decrement" (click)="changeWidget1(-1, -1)">
          -1
        </button>
        <button type="button" class="btn button-accent increment" (click)="changeWidget1(1, 1)">
          +1
        </button>
      </div>
    </div>
  </div>

  <div id="widget-4-btns">
    <h4>Widget 4</h4>
    <div class="m-t-xs column-btns">
      <h5>Column</h5>
      <div class="btn-container">
        <button type="button" class="btn button-accent decrement" (click)="changeWidget4(0, -1)">
          -1
        </button>
        <button type="button" class="btn button-accent increment" (click)="changeWidget4(0, 1)">
          +1
        </button>
      </div>
    </div>
    <div class="m-t-xs row-btns">
      <h5>Row</h5>
      <div class="btn-container">
        <button type="button" class="btn button-accent decrement" (click)="changeWidget4(-1, 0)">
          -1
        </button>
        <button type="button" class="btn button-accent increment" (click)="changeWidget4(1, 0)">
          +1
        </button>
      </div>
    </div>
    <div class="m-t-xs both-btns">
      <h5>Both</h5>
      <div class="btn-container">
        <button type="button" class="btn button-accent decrement" (click)="changeWidget4(-1, -1)">
          -1
        </button>
        <button type="button" class="btn button-accent increment" (click)="changeWidget4(1, 1)">
          +1
        </button>
      </div>
    </div>
  </div>
</div>
