.customizable-dashboard .widget-content {
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 #ccc;
    padding: 15px;
    overflow: hidden;
    transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
}

.customizable-dashboard .widget-content .widget-grab-handle {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: move;
}

.customizable-dashboard .widget-content .widget-grab-handle:focus {
    outline: 2px dotted;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00a7a2;
    outline-offset: 0;
}

.customizable-dashboard .widget-content.prominent:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-right: 25px solid #ff9048;
    border-bottom: 25px solid transparent;
}

.customizable-dashboard .widget-content .dashboard-split-panel {
    display: flex;
    height: 100%;
}

.customizable-dashboard .widget-content .dashboard-split-panel .dashboard-section-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 100%;
    padding: 15px;
}

.customizable-dashboard .widget-content .dashboard-split-panel .dashboard-section-large {
    flex: 1;
    height: 100%;
}

.customizable-dashboard .widget-content .dashboard-split-panel .dashboard-section-large.dashboard-section-divider {
    border-right: 1px solid #ccc;
}

.customizable-dashboard .widget-content .info-title {
    color: #999;
    margin: 0;
    font-weight: 300;
    font-size: 0.875rem;
}

.customizable-dashboard .widget-content .info-value {
    color: #666;
}

.customizable-dashboard .widget-content .widget-title {
    margin-top: 0;
    font-weight: 700;
    color: #333;
    font-size: 1.25rem;
}

.customizable-dashboard .widget-content .widget-chart {
    width: 100%;
    height: calc(100% - 30px);
}

.customizable-dashboard .widget-content .widget-feature-list {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

.customizable-dashboard .widget-content .widget-feature-list .widget-feature-list-item {
    position: relative;
    color: #666;
    padding: 3px 0;
}

.customizable-dashboard .widget-content .widget-feature-list .widget-feature-list-item:before {
    content: ' ';
    position: absolute;
    top: 9px;
    left: -20px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00a7a2;
}

.customizable-dashboard .widget-content .widget-feature-list .widget-feature-list-item.warning:before {
    border-radius: 0;
    background-color: transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #ff9048;
}

.customizable-dashboard .widget-content .widget-split {
    display: flex;
    justify-content: space-between;
}

.customizable-dashboard .widget-content .widget-split .text-count {
    margin: 0;
}

.customizable-dashboard .widget-content .widget-split .text-label {
    margin-top: 10px;
    color: #999;
    font-weight: 300;
    font-size: 0.875rem;
}

.customizable-dashboard.dashboard-grabbing .widget-content {
    opacity: 0.5;
}

.customizable-dashboard.dashboard-grabbing .widget-content.widget-grabbing {
    opacity: 1;
    outline: 2px dotted;
    outline: auto -webkit-focus-ring-color;
    outline-color: #00a7a2;
    outline-offset: 0;
    box-shadow: 0 4px 10px 0 #999;
    transform: translateX(10px) translateY(10px);
}

.customizable-dashboard.dashboard-grabbing .widget-content.widget-grabbing .widget-grab-handle {
    outline: none;
}