#legendHolderBar {
    margin-left: 33%;
}

#legendHolderBar .legendLabel {
    padding-right:40px;
    font-size:16px;
    padding-left: 6px;
}

#legendHolderBar .legendColorBox > div {
    border: 0px !important;
}

#legendHolderBar .legendColorBox > div > div {
    opacity:0.5;
}