<div class="floating-action-buttons">

    <button type="button" 
            class="btn btn-icon btn-circular button-primary" 
            tabindex="1" 
            aria-label="{{ fab.tooltip || fab.primary }}"
            ng-click="fab.expand($event)"
            tooltip="{{ fab.tooltip }}"
            tooltip-placement="{{ fab.tooltipPlacement || 'top' }}">

        <span class="hpe-icon" ng-class="fab.primary" aria-hidden="true"></span>
    </button>

    <div class="floating-action-button-list" ng-class="[fab.direction, fab.expanded ? 'expanded' : 'collapsed' ]">

        <button type="button" 
            class="btn btn-icon btn-circular button-secondary floating-action-button" 
            tabindex="1"             
            ng-repeat="item in fab.items"
            aria-label="{{ item.tooltip || item.icon }}" 
            ng-click="item.event(); collapse()"
            tooltip="{{ item.tooltip }}"
            tooltip-placement="{{ item.tooltipPlacement || 'top' }}">

        <span class="hpe-icon" ng-class="item.icon" aria-hidden="true"></span>
    </button>

    </div>

</div>