<div class="row">
    <div class="col-xs-6">
        <ux-select
            id="dropdown"
            [options]="options"
            [(recentOptions)]="recentOptions"
            [placeholder]="placeholder"
            [optionsHeadingTemplate]="demoHeader"
            [recentOptionsHeadingTemplate]="demoRecentHeaderOptions">
        </ux-select>

        <div>
            <ux-checkbox id="checkbox1" (valueChange)="recentOptions = $event ? [] : undefined">
                recentOptions
            </ux-checkbox>
        </div>
    </div>
</div>


<ng-template #demoHeader>
    <div id="Nodes">Nodes</div>
</ng-template>

<ng-template #demoRecentHeaderOptions>
    <div id="recentNodes">Recent Nodes</div>
</ng-template>
