.person-icon {
    width: 48px;
    height: 48px;
    background-image: url('https://uxaspects.github.io/UXAspects/assets/img/IconUser.png');
    background-size: 100% 100%;
}
          
.case-modal {
    height: 520px;
}

.case-modal .case-label {
    font-size: 18px;
}

.case-logo {
    color: #85D2BE;
}