<div ng-show="pp.previewOn" class="p-nil">
  <div class="hpebox" ng-show="previewFile">
    <div class="hpebox-content">
      <div ng-if="previewTitle || previewSubtitle" ng-class="{'preview-pane-shadow': shadow==true}">
        <div ng-if="previewTitle">
          <h2 class="m-b-nil" ng-bind="previewTitle"></h2>
        </div>
        <div ng-if="previewSubtitle">
          <small class="text-muted" ng-bind="previewSubtitle"></small>
        </div>
      </div>

      <div class="preview-pane-right p-md scroll-cardview" scroll-config="::{autoReinitialise: true, autoReinitialiseDelay:100, showOnlyOnHover:true, enableKeyboardNavigation:true, initialDelay: 0, isScrollableH: false}" scroll-pane id="previewPaneScroll">
        <div class="previewFile"></div>
      </div>
    </div>
  </div>
  <div ng-show="!previewFile" class="no-preview-pane-right p-md">
    <div class="preview-no-record">
      <i class="hpe-icon hpe-document"></i>
      <h2 ng-bind="previewEmptyText"></h2>
    </div>
  </div>
</div>
