<div class="row" *ngIf="editable; else uneditable">
    <div class="col-xs-3">
        <ux-select
            [value]="_field"
            [input]="_field?.label || null"
            (valueChange)="handleFieldSelected($event)"
            [allowNull]="true"
            [options]="fields"
            [display]="'label'"
            [key]="'name'">
        </ux-select>
    </div>
    <div class="col-xs-3">
        <ux-select
            *ngIf="_field?.name"
            [value]="_operator"
            (valueChange)="handleOperatorSelected($event)"
            [input]="_operator?.label || null"
            [allowNull]="true"
            [options]="operators"
            [display]="'label'"
            [key]="'name'">
        </ux-select>
    </div>
    <div class="col-xs-5">
        <div #inputContainer></div>
    </div>

    <div class="col-xs-1">
        <button
            (click)="confirmCondition()"
            type="button"
            class="btn btn-link btn-icon btn-lg button-secondary"
            aria-label="Confirm condition">
            <span class="ux-icon ux-icon-checkmark" aria-hidden="true"></span>
        </button>
    </div>
</div>

<ng-template #uneditable>
    <div class="row">
        <div class="col-xs-10">
            {{ _field.label }} {{ _operator.label }} {{ _value | json }}
        </div>

        <div class="col-xs-1">
            <button
                (click)="editCondition()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-primary"
                aria-label="Edit condition">
                <span class="ux-icon ux-icon-edit" aria-hidden="true"></span>
            </button>
        </div>

        <div class="col-xs-1">
            <button
                (click)="deleteCondition()"
                type="button"
                class="btn btn-link btn-icon btn-lg button-secondary"
                aria-label="Delete condition">
                <span class="ux-icon ux-icon-close" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</ng-template>
