ux-select-custom {
    width: 400px;
}

.radio-button-container {
    padding-top: 16px;
    padding-bottom: 16px;
}

ux-radio-button {
    padding: 4px 16px;
    margin-bottom: 0;
    font-size: 16px;
}
