<div class="component-list">
    <div class="component-stack">
        <div class="component-container" 
                ng-repeat="component in vm.components track by $index"
                ng-transclude>
        </div>
    </div>

    <div class="component-options" 
            tabindex="0" 
            ng-click="vm.addField()" 
            ng-keydown="$event.keyCode === 13 ? vm.addField() : null"
            ng-disabled="vm.addingDisabled">

            <div class="component-add-btn">
                <span class="hpe-icon hpe-add"></span>
            </div>
            <p class="component-add-text" ng-bind="::vm.buttonText"></p>
    </div>

</div>