ux-dashboard-enum-widget {
    ux-dashboard-widget {
        .widget-content {
            position: relative;
        }

        .widget-grab-handle {
            position: absolute;
            top: 0;
            right: 0;
        }

        .widget-title {
            margin-top: 0;
        }
    }
}
