.thumbnails-example-container {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-example {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 5px 10px;
}

.thumbnail-example .hpe-download {
    margin-left: auto;
    color: #989da0;
}

.thumbnail-example .hpe-download:hover {
    color: #676a6c;
    cursor: pointer;
}

.thumbnail-example p {
    margin-bottom: -4px;
}

.thumbnail-example p > span {
    font-size: 14px;
    color: #333131;
}

.thumbnail-example p > span + span {
    color: #828282;
    margin-left: 4px;
    font-size: 13px;
}

.thumbnail-example .word-icon {
    background: url(assets/img/doc-icons/IconWordColorized.png) no-repeat;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    background-size: cover;
}

.thumbnail-example .pdf-icon {
    background: url(assets/img/doc-icons/IconPDFColorized.png) no-repeat;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    background-size: cover;
}

.thumbnail-example .excel-icon {
    background: url(assets/img/doc-icons/IconExcelColorized.png) no-repeat;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    background-size: cover;
}

.thumbnail-example .html-icon {
    background: url(assets/img/doc-icons/IconHTMLColorized.png) no-repeat;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    background-size: cover;
}

.thumbnail-example .powerpoint-icon {
    background: url(assets/img/doc-icons/IconPowerPointColorized.png) no-repeat;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    background-size: cover;
}

.thumbnail-example .email-icon {
    background: url(assets/img/doc-icons/IconEmailColorized.png) no-repeat;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    background-size: cover;
}

.thumbnails-example-container .front, .thumbnails-example-container .back {
    box-shadow: none;
}

.thumbnails-example-container .front .thumbnail-example {
    padding: 10px;
}

.thumbnails-example-container .back {
    background-color: #f2eff6; 
    border: 1px solid #cfd2d6;
}

.thumbnails-example-container .thumbnail-title {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnails-example-container .back .thumbnail-example {
    height: 100%;
    align-items: flex-start;
    padding: 15px 10px;
}

.thumbnails-example-container .back .thumbnail-title {
    white-space: normal;
    line-height: 18px;
}

.thumbnails-example-container .back .hpe-download {
    bottom: 20px;
    position: absolute;
}