.hotkey-demo-box {
    width: 210px;
    height: 80px;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    display: inline-block;

    .hotkey-demo-button-layout {
        padding-left: 30px;
        padding-top: 20px;
    }

    .hotkey-demo-text {
        margin-top: 5px;
        text-align: center;
    }

    .hotkey-demo-hint {
        position: relative;
        width: 0;
        height: 0;

        .hotkey-group-hint {
            margin-left: -2px;
            margin-top: -2px;
        }
    }
}