<h4>Floating Action Button - Vertical (Bottom)</h4>

<div style="margin-bottom: 175px">

    <ux-floating-action-buttons id="actionButtonVerticalBottom" direction="bottom">

        <ux-floating-action-button fab-primary>
            <ux-icon name="contract"></ux-icon>
        </ux-floating-action-button>
        <ux-floating-action-button>
            <ux-icon name="add"></ux-icon>
        </ux-floating-action-button>
        <ux-floating-action-button>
            <ux-icon name="analytics"></ux-icon>
        </ux-floating-action-button>
        <ux-floating-action-button>
            <ux-icon name="app"></ux-icon>
        </ux-floating-action-button>

    </ux-floating-action-buttons>
</div>

<hr>

<h4>Floating Action Button - Horizontal (Right)</h4>

<ux-floating-action-buttons id="actionButtonHorizontalRight" direction="right">

    <ux-floating-action-button fab-primary>
        <ux-icon name="contract"></ux-icon>
    </ux-floating-action-button>
    <ux-floating-action-button>
        <ux-icon name="add"></ux-icon>
    </ux-floating-action-button>
    <ux-floating-action-button>
        <ux-icon name="analytics"></ux-icon>
    </ux-floating-action-button>
    <ux-floating-action-button>
        <ux-icon name="app"></ux-icon>
    </ux-floating-action-button>

</ux-floating-action-buttons>
<hr>

<h4>Floating Action Button - Vertical (Up)</h4>

<ux-floating-action-buttons id="actionButtonVerticalUp" direction="top">

    <ux-floating-action-button fab-primary>
        <ux-icon name="contract"></ux-icon>
    </ux-floating-action-button>
    <ux-floating-action-button>
        <ux-icon name="add"></ux-icon>
    </ux-floating-action-button>
    <ux-floating-action-button>
        <ux-icon name="analytics"></ux-icon>
    </ux-floating-action-button>
    <ux-floating-action-button>
        <ux-icon name="app"></ux-icon>
    </ux-floating-action-button>

</ux-floating-action-buttons>
<hr>

<h4>Floating Action Button - Horizontal (Left)</h4>

<div style="margin-left: 175px;">
    <ux-floating-action-buttons id="actionButtonHorizontalLeft" direction="left">

        <ux-floating-action-button fab-primary>
            <ux-icon name="contract"></ux-icon>
        </ux-floating-action-button>
        <ux-floating-action-button>
            <ux-icon name="add"></ux-icon>
        </ux-floating-action-button>
        <ux-floating-action-button>
            <ux-icon name="analytics"></ux-icon>
        </ux-floating-action-button>
        <ux-floating-action-button>
            <ux-icon name="app"></ux-icon>
        </ux-floating-action-button>

    </ux-floating-action-buttons>
</div>