<div class="row">
    <div class="col-sm-6">
        <div class="btn-group">
            <button id="buttonPrimaryLeft" type="button" class="btn button-toggle-primary"
                [(ngModel)]="primaryRadioValue" btnRadio="left">Left</button>
            <button id="buttonPrimaryCentre" type="button" class="btn button-toggle-primary"
                [(ngModel)]="primaryRadioValue" btnRadio="center">Center</button>
            <button id="buttonPrimaryRight" type="button" class="btn button-toggle-primary"
                [(ngModel)]="primaryRadioValue" btnRadio="right">Right</button>
        </div>
        <p id="textPrimary" class="m-t-md" [style.textAlign]="primaryRadioValue">
            The quick brown fox jumped over the lazy dog.
        </p>
    </div>
    <div class="col-sm-6">
        <div class="btn-group">
            <button id="buttonAccentLeft" type="button" class="btn button-toggle-accent"
                [(ngModel)]="accentRadioValue" btnRadio="left">Left</button>
            <button id="buttonAccentCentre" type="button" class="btn button-toggle-accent"
                [(ngModel)]="accentRadioValue" btnRadio="center">Center</button>
            <button id="buttonAccentRight" type="button" class="btn button-toggle-accent"
                [(ngModel)]="accentRadioValue" btnRadio="right">Right</button>
        </div>
        <p id="textAccent" class="m-t-md" [style.textAlign]="accentRadioValue">
            The quick brown fox jumped over the lazy dog.
        </p>
    </div>
</div>