<div class="input-group-sm expand-input" ng-class="{ 'input-group': vm.expanded }">

    <!-- Text Input Field -->
    <input type="text" 
           ng-class="vm.className" 
           placeholder="{{ ::vm.placeHolder }}" 
           name="{{ ::vm.name }}" 
           ng-model="vm.value"
           ng-focus="vm.updateState(true)"
           ng-blur="vm.updateState(false)" 
           ng-keypress="vm.keyPressed($event)"
           ng-keydown="vm.keyDown($event)">

    <!-- Clear Text Button -->
    <div class="input-group-btn input-group-btn-append" ng-show="vm.expanded">
        <button class="btn btn-white expand-input-clear" ng-mousedown="vm.clear($event)">
            <i ng-class="[vm.iconBase, vm.clearTextIcon]"></i>
        </button>
    </div>

    <!-- Close Button -->
    <div class="input-group-addon" ng-show="vm.expanded">
        <button class="btn btn-link button-secondary btn-sm expand-input-close" ng-bind="vm.closeSearch" ng-click="vm.close()"></button>
    </div>

</div>


