@import "~source-sans-pro/source-sans-pro.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../../dist/library/styles/ux-aspects.min.css";

* {
    caret-color: transparent;
}

/* Prevent animations as they can cause screenshot tests to become flaky when using screenshot comparison. */
*,
*:before,
*:after {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
}

.form-control {
    transition: none;
}

pre,
code {
    font-family: "Source Sans Pro";
}
