#legendHolderLine {
    margin-left: 33%;
}

#legendHolderLine .legendLabel {
    padding-right:40px;
    font-size:16px;
    padding-left: 6px;
}

#legendHolderLine .legendColorBox > div {
    border: 0px !important;
}

#legendHolderLine .legendColorBox > div > div {
    opacity: 1;
}