@import '../../assets/styles/variables.less';

.api-property {
    border: 1px solid @table-grid-border;
    padding: 8px;
    vertical-align: initial;

    .highlight {
        color: #c7254e;
        font-style: normal;
    }

    .italic {
        font-style: italic;
    }
}