.hierarchy-bar-popover {
    border-radius: 0;

    .popover-content {
        padding: 0;
    }

    .hierarchy-bar-node-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &.hierarchy-bar-node-list-separator {
            ux-hierarchy-bar-popover-item {
                border-bottom: 1px solid #e2e2e2;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }

    .hierarchy-bar-loading-indicator {
        display: flex;
        align-items: center;
        padding: 6px 20px;
        font-size: 1rem;
        color: @organization-chart-hierarchy-bar-color;
        cursor: pointer;
    }

    .hierarchy-bar-loading-icon {
        flex: none;
        margin-right: 5px;
        min-width: 16px;
        display: inline-flex;
        justify-content: center;
    }
}