<div class="ux-side-panel-host ux-item-display-panel" #panel
    [class.box-shadow]="boxShadow"
    [style.position]="position"
    [style.width]="hostWidth"
    [style.top]="cssTop"
    [@panelState]="animationPanelState"
    [tabindex]="open ? 0 : -1"
    [focusIf]="open && focusOnShow"
    *ngIf="open">

    <div class="ux-side-panel-header" [class.item-display-panel-shadow]="shadow">
        <h3>{{ header }}</h3>

        <button *ngIf="closeVisible"
                uxFocusIndicator
                aria-label="Close"
                i18n-aria-label
                type="button"
                class="btn btn-lg btn-link btn-icon button-secondary"
                (click)="visible = false">

            <ux-icon name="close"></ux-icon>
        </button>
    </div>

    <div class="ux-side-panel-content">
        <ng-content select="[uxItemDisplayPanelContent]"></ng-content>
    </div>

    <div class="ux-side-panel-footer" *ngIf="footer">
        <ng-content select="[uxItemDisplayPanelFooter]"></ng-content>
    </div>

</div>
