<div class="btn-group">
    <button
        type="button"
        class="filter-dropdown btn dropdown-toggle"
        [class.active]="selected !== initial"
        [uxMenuTriggerFor]="menu">

        {{ selected?.title }} <span class="hpe-icon hpe-down"></span>
    </button>

    <ux-menu #menu menuClass="ux-filter-menu">
        <button
            type="button"
            *ngFor="let filter of filters"
            uxMenuItem
            [attr.aria-selected]="filter === selected"
            (click)="selectFilter(filter, $event)"
            (keydown.enter)="selectFilter(filter, $event)">

            <i class="hpe-icon" [class.hpe-checkmark]="filter === selected"></i>
            <span class="filter-dropdown-title">{{ filter.name }}</span>
        </button>
    </ux-menu>
</div>