ux-filter-dropdown {
    .filter-dropdown {
        padding: 6px;
        padding-right: 7px;
        padding-left: 6px;

        &:hover {
            background-color: @filter-dropdown-hover-bg;
            border-radius: 0;
            border-color: @filter-dropdown-hover-border;
            text-decoration: none;
        }

        &:focus {
            background-color: @filter-dropdown-focus-bg;
            border-radius: 0;
            border-color: @filter-dropdown-focus-border;
            text-decoration: none;
        }
    }

    .dropdown-menu {
        .dropdown-list-item {
            .dropdown-item {
                padding-left: 10px;

                .hpe-icon {
                    width: 16px;
                }

                .filter-dropdown-title {
                    padding-left: 10px;
                }
            }
        }
    }
}