.notification-modal {
    width: 340px;
}

.notification-scroll-container {
    height: 100%;
}

.inset-scroll {
  overflow: auto;
  height: 100%; 
}

.notification-header, 
.notification-icon-header {
  position: relative;
  width: 100%;
  height: 57px;
  box-shadow: 0px 5px 5px -2px #c3c3c3;
  padding: 16px 0 10px 20px;
  font-size: 15px;
  color: #fff;
}

.notification-header {
  margin-bottom: 15px;
  background-color: #333;
}

.notification-icon-header {
  margin-top: -15px;
  background-color: #2a2a2a;
}

.notification-header .breadcrumb {
  display: inline-block;
  font-size: 15px;
  margin-top: 2px;
}

.notification-header .breadcrumb > li:after {
  content: none;
}

.notification-header .breadcrumb > li i {
  transform: rotate(90deg);
  font-size: 11px;
  vertical-align: middle;
  padding: 9px 5px 5px 3px;
  display: inline-block;
  opacity: 0.8;
}
.notification-header .breadcrumb > li i.hpe-more {
  transform: none;
}

.notification-header .nav-buttons, .notification-icon-header .nav-buttons {
  position: absolute;
  top: 8px;
  right: 5px;
  list-style-type: none;
  bottom: 8px;
  margin: 0;
  padding: 0;
}

.notification-header .nav-buttons .dropdown, .notification-icon-header .nav-buttons .dropdown {
  position: relative;
  display: inline-block;
  width: 40px;
  color: #333;
  cursor: pointer;
}

.notification-header .nav-buttons .dropdown:hover,
.notification-header .nav-buttons .dropdown.open,
.notification-icon-header .nav-buttons .dropdown:hover,
.notification-icon-header .nav-buttons .dropdown.open {
  background-color: #4d4d4d;
}

.notification-header .nav-buttons .dropdown .dropdown-toggle,
.notification-icon-header .nav-buttons .dropdown .dropdown-toggle {
  display: inline-block;
  padding: 10px;
  color: #fff;
}

.notification-header .nav-buttons .dropdown .dropdown-menu,
.notification-icon-header .nav-buttons .dropdown .dropdown-menu {
  width: 310px;
  color: #666;
  right: 0;
  left: auto;
}

.notification-header .heading {
  display: inline-block;
  font-size: 15px;
}

/*
  Notification Dropdown Example
*/

.dropdown-notification {
  display: table !important;
  width: 100%;
  min-height: 40px;
  font-size: 16px;
  padding: 10px !important;
  margin: 0 !important;
  border-bottom: 1px solid #e5e5e5;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dropdown-notification .notification-icon {
  display: table-cell;
  width: 30px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  color: #888;
}

.dropdown-notification .notification-text {
  display: table-cell;
  vertical-align: middle;
  color: #888;
  font-size: 17px;
}

.dropdown-notification .notification-text span,
.dropdown-notification .notification-time span {
  white-space: normal;
}

.dropdown-notification  .notification-time {
  display: table-cell;
  width: 90px;
  text-align: right;
  vertical-align: middle;
}

.no-notifications-dropdown {
  height: 47px;
  margin: 0;
  text-align: center;
  line-height: 47px;
  color: #888;
  border-bottom: 1px solid #e5e5e5;
}

.dropdown-notification-options {
  height: 40px;
  font-size: 17px;
  padding: 6px 10px 10px;
  cursor: default;
}

.dropdown-notification-options .hyperlink {
  color: #01A982 !important;
  padding: 0 !important;
  border-color: #01A982 !important;
}

.dropdown-notification-options .hide-notifications {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #888888;
}

.dropdown-notification-options .hide-notifications span {
  display: inline-block;
  padding-top: 0px;
  height: 23px;
  line-height: 23px;
  vertical-align: bottom;
}