ux-predefined-widget {
    ux-dashboard-widget {
        .widget-content {
            position: relative;
            display: flex;
            flex-flow: column nowrap;

            .widget-title {
                margin-right: 20px;
                margin-top: 0;
            }

            .widget-content-wrapper {
                flex: 1 1 auto;
                min-height: 0;
                overflow: hidden;
                position: relative;

                .widget-side-panel-opener {
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    &:active {
                        outline: none;
                    }
                }
            }
        }

        .widget-grab-handle {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
