<ux-dashboard-widget #widget
                     class="widget-element"
                     [ngClass]="{ resizable: resizable && fixedMode }"
                     [id]="id"
                     [colSpan]="colSpan"
                     [rowSpan]="rowSpan"
                     [name]="name"
                     [resizable]="!fixedMode || resizable">
    <div class="widget-header">
        <h3 class="widget-title" *ngIf="heading">{{ heading }}</h3>
        <button #handle
                [hidden]="fixedMode"
                class="widget-grab-handle"
                uxDashboardGrabHandle
                uxDashboardWidgetDragHandle>
            <ux-icon name="pan"></ux-icon>
        </button>
    </div>
    <div class="widget-content-wrapper">
        <ng-content></ng-content>
    </div>
</ux-dashboard-widget>
