<ux-facet-header [header]="header" [(expanded)]="expanded"></ux-facet-header>

<div class="facet-typeahead-list-container" role="listbox" *ngIf="expanded">

    <div class="facet-typeahead-list-selected-container" tabindex="-1" *ngIf="suggestions?.length > 0">

        <ux-facet-typeahead-list-item
            *ngFor="let facet of suggestions; let index = index"
            [facet]="facet"
            [tabbable]="activeIndex === index"
            [selected]="isFacetSelected(facet)"
            (selectedChange)="toggleFacet(index, facet)"
            (keydown)="onKeydown($event)"
            (itemFocus)="onFocus(index)">
        </ux-facet-typeahead-list-item>

    </div>

    <div class="facet-typeahead-list-control">

        <!-- Create Typeahead Control -->
        <input type="text"
            class="form-control"
            [placeholder]="typeaheadConfig?.placeholder"
            [attr.aria-activedescendant]="highlightedElement?.id"
            aria-autocomplete="list"
            aria-multiline="false"
            [attr.aria-controls]="typeaheadId"
            [ngModel]="query$ | async"
            (ngModelChange)="query$.next($event); updateTypeahead($event)"
            (keydown)="typeaheadKeyService.handleKey($event, typeahead)"
            (blur)="typeaheadOpen = false">

        <ux-typeahead #typeahead
            [id]="typeaheadId"
            [(open)]="typeaheadOpen"
            [loading]="loading"
            display="title"
            [options]="typeaheadOptions"
            [optionTemplate]="facetOptionTemplate"
            [selectOnEnter]="true"
            (optionSelected)="select($event)"
            (highlightedElementChange)="highlightedElement = $event">
        </ux-typeahead>

    </div>

</div>

<ng-template #facetOptionTemplate let-option="option" let-api="api">
    <p class="facet-typeahead-list-option" [attr.aria-label]="option.title">
        <span [innerHTML]="option.title | facetTypeaheadHighlight: (query$ | async)"></span>
        <span class="facet-typeahead-list-option-count"
            *ngIf="option.count">
            ({{ option.count }})
        </span>
    </p>
</ng-template>