<ux-facet-header [header]="header" [(expanded)]="expanded"></ux-facet-header>

<div class="facet-typeahead-list-container" *ngIf="expanded">

    <div class="facet-typeahead-list-selected-container">

        <div class="facet-typeahead-list-selected-option" tabindex="0" *ngFor="let facet of selected" (click)="deselectFacet(facet)"
            (keyup.enter)="deselectFacet(facet)">

            <span class="facet-typeahead-list-selected-check hpe-icon hpe-active"></span>
            <span class="facet-typeahead-list-selected-option-title">{{ facet.title }}</span>
            <span class="facet-typeahead-list-selected-option-count" *ngIf="facet.count">({{ facet.count }})</span>
            
        </div>

    </div>

    <div class="facet-typeahead-list-control">

        <!-- Create Typeahead Control -->
        <input type="text" class="form-control" [placeholder]="typeaheadConfig?.placeholder" [typeahead]="typeaheadOptions" [(ngModel)]="searchQuery"
            [typeaheadMinLength]="typeaheadConfig?.minCharacters" [typeaheadOptionsLimit]="typeaheadConfig?.maxResults" [typeaheadWaitMs]="typeaheadConfig?.delay"
            (typeaheadOnSelect)="selectOption($event)" [typeaheadItemTemplate]="facetTypeaheadListOptionTemplate">

    </div>

</div>

<ng-template #facetTypeaheadListOptionTemplate let-model="item" let-index="index">
    <p class="facet-typeahead-list-option">{{ model.title }} <span class="facet-typeahead-list-option-count" *ngIf="model.count">({{ model.count }})</span></p>
</ng-template>