.contact-overflow-scroll-pane {
    height: 300px;
}
.contact-overflow-modal-item-row {
    padding: 5px 8px;
    border-bottom: 1px solid lightgray;
    margin-right: 7px;
}
.contact-overflow-modal-item-label {
    width: 30px;
    text-align: center;
    color: #fff;
    background-color: #835996;
    padding: 2px 0;
}