.changelog-title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 400;
    color: #333;
    margin-top: 0;
}

.changelog-date {
    display: inline-block;    
    color: #999;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    margin-left: 10px;
}