.landing-feature-image {
    display: block;
    margin: 0 auto 15px auto;
    height: 100px;
}

.landing-feature-title {
    text-align: center;
    font-weight: 300;
}

.landing-feature-description {
    font-weight: 300;
    text-align: center;
}

.landing-feature-link {
    display: block;
    text-align: center;
    text-decoration: none;
}