<div class="row">
    <div class="col-md-5">
        <ux-input-dropdown
            id="dropdown"
            [disabled]="disabled"
            [placeholder]="placeholder"
            [selected]="selected">

            <ng-template #displayContent>
                <b>Selection:</b> {{ selected ? selected : '(none)' }}
            </ng-template>

            <div class="radio-button-container"
                uxTabbableList>
                <ux-radio-button
                    uxTabbableListItem
                    *ngFor="let option of filteredOptionList"
                    name="group"
                    [(value)]="selected"
                    [option]="option"
                    (keydown.space)="selectOption($event, option)">
                    <span [innerHTML]="option"></span>
                </ux-radio-button>
            </div>

        </ux-input-dropdown>
    </div>
</div>
<div>
    <ux-checkbox id="disabledBtn" [(value)]="disabled">
        disabled
    </ux-checkbox>
</div>
