<div id="buttonGroup" class="btn-group">
    <button id="dropdownButton" data-toggle="dropdown" class="btn button-secondary dropdown-toggle" aria-expanded="false">
        Action
        <span class="hpe-icon hpe-down"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="btnDropDown">
        <li><a id="link1" href="#">Action</a></li>
        <li><a id="link2" href="#">Another action</a></li>
        <li><a id="link3" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a id="link4" href="#">Separated link</a></li>
    </ul>
</div>
