.table-hover.leb-table tbody tr:hover {
    background-color: @table-hover-bg;
}

.table.leb-table tbody tr {
    padding: @spacing-xs;
    border: none;
}

table.table.leb-table {
    border: none;
}

.table.leb-table tbody tr td {
    vertical-align: middle;
    border: none;
}
