ux-logical-expression-builder {
    .table-hover tbody tr:hover {
        background-color: @table-hover-bg;
    }

    table.table {
        border: none;
    }

    .table tbody tr td {
        vertical-align: middle;
        border: none;
    }
}
