ux-logical-expression-builder .table.leb-table {
    border: none;

    .leb-group .leb-cell {
        vertical-align: middle;
        border: none;
    }
}

.leb-expression-row {
    display: table-row;
}
