<button
    *ngIf="isExpressionEmpty(); else queryItems"
    (click)="addCondition()"
    type="button"
    class="btn btn-icon-with-text button-primary"
    [attr.aria-label]="('addConditionBtnAriaLabel' | l10n) || 'Add condition'">
    <span class="ux-icon ux-icon-add"
          aria-hidden="true"></span><span>{{ ('addConditionBtnText' | l10n) || 'Add condition'}}</span>
</button>

<ng-template #queryItems>
    <table class="table table-hover leb-table">
        <tbody>
        <ux-leb-group
            *ngIf="expression?.type === 'group'; else conditionBlock"
            [subExpression]="expression"
            (groupChange)="handleGroupChange($event)"
            [path]="[0]"
            [logicalOperatorName]="getLogicalOperatorName()">
        </ux-leb-group>
        </tbody>
    </table>
</ng-template>

<ng-template #conditionBlock>
    <table class="table table-hover leb-table">
        <tbody>
        <ux-leb-condition
            *ngIf="expression?.type === 'condition'"
            (conditionChange)="handleGroupChange($event)"
            [condition]="expression"
            [path]="[0]"
            (conditionDeleted)="deleteCondition()"
            (conditionEmbedded)="addGroup()">
        </ux-leb-condition>

        <tr expressionRow [rowPath]="[1]">
            <td>
                <button
                    (click)="addGroup()"
                    type="button"
                    class="btn btn-icon button-primary"
                    [attr.aria-label]="('addConditionBtnAriaLabel' | l10n) || 'Add condition'">
                    <span class="ux-icon ux-icon-add" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>
