<div class="container-fluid">

    <a id="top-focus" href="javascript:void(0)">Top focus target</a>

    <div class="row">
        <div class="col-md-6 p-r-md p-b-md">
            <p class="text-black p-b-md">Button Handle - Custom Labels</p>
            <ux-slider
                id="single-value-custom-labels"
                [value]="singleValueCustomLabels.value"
                [options]="singleValueCustomLabels.options"
                [disabled]="disabled"
            ></ux-slider>
        </div>
        <div class="col-md-6 p-l-md p-b-md">
            <p class="text-black p-b-md">Line Handle - Callout on Drag</p>
            <ux-slider
                id="single-value-callout-on-drag"
                [value]="singleValueCalloutOnDrag.value"
                [options]="singleValueCalloutOnDrag.options"
                [disabled]="disabled"
            ></ux-slider>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 p-r-md p-b-md">
            <p class="text-black p-b-md">Narrow - Track Styling - Snapping</p>
            <ux-slider
                id="single-value-narrow-snapping"
                [value]="singleValueNarrowSnapping.value"
                [options]="singleValueNarrowSnapping.options"
                [disabled]="disabled"
            ></ux-slider>
        </div>
        <div class="col-md-6 p-l-md p-b-md">
            <p class="text-black p-b-md">Narrow - Gradient Track Styling - Callout on Hover</p>
            <ux-slider
                id="single-value-narrow-callout-on-hover"
                [value]="singleValueNarrowCalloutOnHover.value"
                [options]="singleValueNarrowCalloutOnHover.options"
                [disabled]="disabled"
            ></ux-slider>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 p-l-md p-b-md">
            <p class="text-black p-b-lg">Range Track Style - Custom Callout Styles</p>
            <ux-slider
                id="range-callout-custom"
                [value]="rangeCalloutCustom.value"
                [options]="rangeCalloutCustom.options"
                [disabled]="disabled"
            ></ux-slider>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-black p-b-lg">Range Slider with Text Inputs</p>
            <ux-slider
                id="range-text-inputs"
                [value]="rangeWithTextInputs.value"
                (valueChange)="valueHasChanged($event)"
                [options]="rangeWithTextInputs.options"
                [disabled]="disabled"
            ></ux-slider>
        </div>
    </div>

    <div class="row m-t-sm p-t-xs">
        <div class="col-sm-2">
            <input
                id="input1"
                type="text"
                class="form-control m-b"
                [(ngModel)]="lowerValue"
                [disabled]="disabled"
                (blur)="updateValues()"
                (keyup.enter)="updateValues()"
            />
        </div>
        <div class="col-sm-offset-8 col-sm-2">
            <input
                id="input2"
                type="text"
                class="form-control m-b"
                [(ngModel)]="upperValue"
                [disabled]="disabled"
                (blur)="updateValues()"
                (keyup.enter)="updateValues()"
            />
        </div>
    </div>

    <a id="bottom-focus" href="javascript:void(0)">Bottom focus target</a>

    <div class="btn-container">
        <button id="track-color-change-btn" class="btn button-secondary" (click)="trackColorChange()">
            Track Color Change
        </button>
        <button id="disabled-btn" class="btn button-secondary" (click)="disableSliders()">
            Disable Sliders
        </button>
    </div>
</div>
