ux-time-picker {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    .time-picker {
        display: inline-flex;
    }

    .time-picker-column {
        display: inline-flex;
        flex-direction: column;
        flex: none;
    }

    .time-picker-separator {
        display: inline-flex;
        flex: none;
        width: 14px;
        justify-content: center;
        align-items: center;
    }

    .time-picker-meridian {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 14px;

        .btn-group {
            .btn {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    .time-spinner {
        width: 33px !important;
    }
}
