<div id="group" class="btn-group" dropdown>
    <button id="button1" dropdownToggle type="button" class="btn button-secondary dropdown-toggle">
        Actions <span class="hpe-icon hpe-down dropdown-icon-inline"></span>
    </button>
    <ul id="dropdown-menu1" *dropdownMenu class="dropdown-menu dropdown-menu-demo" role="menu">
        <li role="menuitem" class="dropdown-submenu">
            <a href="javascript:void(0);" class="dropdown-menu-item">
                <span class="dropdown-menu-icon"></span>
                <span class="dropdown-menu-text">
                    Mark as
                </span>
                <span class="dropdown-menu-right dropdown-menu-hint">
                    <i class="hpe-icon hpe-next"></i>
                </span>
            </a>
            <ul id="dropdown-menu2" class="dropdown-menu dropdown-menu-demo" role="menu">
                <li role="menuitem">
                    <a href="javascript:void(0);" class="dropdown-menu-item">
                        <span class="dropdown-menu-icon">
                            <i class="hpe-icon hpe-more"></i>
                        </span>
                        <span class="dropdown-menu-text">
                            Pending
                        </span>
                        <span class="dropdown-menu-right dropdown-menu-hint">
                            ALT+P
                        </span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="javascript:void(0);" class="dropdown-menu-item">
                        <span class="dropdown-menu-icon">
                            <i class="hpe-icon hpe-link-up"></i>
                        </span>
                        <span class="dropdown-menu-text">
                            Escalated
                        </span>
                        <span class="dropdown-menu-right dropdown-menu-hint">
                            ALT+E
                        </span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="javascript:void(0);" class="dropdown-menu-item">
                        <span class="dropdown-menu-icon">
                            <i class="hpe-icon hpe-checkmark"></i>
                        </span>
                        <span class="dropdown-menu-text">
                            Closed
                        </span>
                        <span class="dropdown-menu-right dropdown-menu-hint">
                            ALT+C
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
            <a href="javascript:void(0);" class="dropdown-menu-item">
                <span class="dropdown-menu-icon"></span>
                <span class="dropdown-menu-text">
                    Export
                </span>
            </a>
        </li>
        <li role="menuitem" class="dropdown-submenu">
            <a href="javascript:void(0);" class="dropdown-menu-item">
                <span class="dropdown-menu-icon"></span>
                <span class="dropdown-menu-text">
                    Add to case
                </span>
                <span class="dropdown-menu-right dropdown-menu-hint">
                    <i class="hpe-icon hpe-next"></i>
                </span>
            </a>
            <div id="dropdown-menu3" class="dropdown-menu case-dropdown">
                <div class="case-filter">
                    <div class="inner-addon right-addon">
                        <i class="hpe-icon hpe-search"></i>
                        <input type="text" class="form-control" [(ngModel)]="caseFilter"
                            (click)="$event.stopPropagation();" />
                    </div>
                </div>
                <div id="menu-items">
                    <div class="case-items">
                        <ul id="list-items">
                            <li role="menuitem" *ngFor="let case of cases | stringFilter: caseFilter">
                                <a href="javascript:void(0);">{{case}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li role="menuitem">
            <a href="javascript:void(0);" class="dropdown-menu-item">
                <span class="dropdown-menu-icon"></span>
                <span class="dropdown-menu-text">
                    Save list
                </span>
                <span class="dropdown-menu-right dropdown-menu-hint">
                    ALT+L
                </span>
            </a>
        </li>
        <li role="menuitem">
            <a href="javascript:void(0);" class="dropdown-menu-item">
                <span class="dropdown-menu-icon"></span>
                <span class="dropdown-menu-text">
                    Save search query
                </span>
                <span class="dropdown-menu-right dropdown-menu-hint">
                    ALT+S
                </span>
            </a>
        </li>
        <li role="menuitem">
            <a href="javascript:void(0);" class="dropdown-menu-item">
                <span class="dropdown-menu-icon">
                    <i class="hpe-icon hpe-edit"></i>
                </span>
                <span class="dropdown-menu-text">
                    Annotate
                </span>
                <span class="dropdown-menu-right dropdown-menu-hint">
                    ALT+A
                </span>
            </a>
        </li>
    </ul>
</div>
