.dropdown-menu-demo {
    width: 250px;
}

.dropdown-submenu > .case-dropdown {
    top: -52px;
}

.case-filter {
    margin: 9px;
}

.case-items {
    height: 195px;
    width: 160px;
    overflow: auto;
}

.case-items ul {
    width: 100%;
    list-style: none outside none;
    padding: 0;
}

.case-items ul > li > a {
    color: inherit;
    line-height: 25px;
    text-align: left;
    font-weight: normal;
    font-size: 1rem;
    display: block;
    padding: 7px 20px;
    clear: both;
    white-space: nowrap;
}
