.hotkey-group-hint {
  width: auto;
  min-width: 25px;
  padding: 0px 2px;
  height: 25px;
  color: inherit;
  border-radius: 2px;
  border: 2px solid @hotkey-hint-color;
  text-align: center;
  text-transform: lowercase;
  transition: opacity 0.2s;
  &:hover{
    .opacity(0.3);
  }
}
