.hp-icon, .hpe-icon {
  vertical-align: baseline;
}

.hp-rotate-90, .hpe-rotate-90{
  .rotate(90deg);
}
.hp-rotate-180, .hpe-rotate-180{
  .rotate(180deg);
}
.hp-rotate-270, .hpe-rotate-270{
  .rotate(270deg);
}
.hp-flip-vertical, .hpe-flip-vertical{
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.hp-flip-horizontal, .hpe-flip-horizontal{
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.hp-fw, .hpe-fw{
  width: 1.28571429em;
  text-align: center;
}

.hp-lg, .hpe-lg{
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.hp-2x, .hpe-2x{
  font-size: 2em;
}
.hp-3x, .hpe-3x{
  font-size: 3em;
}
.hp-4x, .hpe-4x{
  font-size: 4em;
}
.hp-5x, .hpe-5x{
  font-size: 5em;
}

//===================
// additional icons
//===================

.hpe-document-placeholder {
  content: url('../img/hDoc.svg');
  height: 24px;
  margin: 10px 0px;
}

.hpe-detail-view-icon {
  padding-top: 5px;
  padding-bottom: 14px;
}
