ux-dashboard {
    .dashboard-container {
        position: relative;
        display: block;
        width: 100%;

        .dashboard {
            width: 100%;
            height: 100%;
        }

        .position-indicator {
            position: absolute;
            border: 1px solid @grey6;
            background-color: @grey7;
        }
    }
}