ux-dashboard {
    position: relative;
    display: block;
    width: 100%;

    .dashboard-container {
        width: 100%;
        height: 100%;
    }

    .position-indicator {
        position: absolute;
        border: 1px solid #d8d9db;
        background-color: #e2e3e5;
    }
}