<div class="form-group m-b-nil" [ngClass]="{ 'has-error': !_valid }">
    <ux-input-dropdown [hideFilter]="true" [style.width.%]="100">
        <ng-template #displayContent>
            {{ date ? (date | date:_dateFormat) : '' }}
        </ng-template>

        <ux-date-time-picker
            [(date)]="date"
            [showTime]="_showTime"
            [showTimezone]="true"
            [showMeridian]="true"
            [showSpinners]="true"
            [showNowBtn]="_showNowBtn"
            [nowBtnText]="'dateInputNowBtnText' | l10n"
            [nowBtnAriaLabel]="'dateInputNowBtnAriaLabel' | l10n"
            [weekdays]="'dateInputWeekdays' | l10n"
            [meridians]="'dateInputMeridians' | l10n"
            [months]="'dateInputMonths' | l10n"
            [monthsShort]="'dateInputMonthsShort' | l10n">
        </ux-date-time-picker>
    </ux-input-dropdown>
</div>
