.search-history-container {
  width: 350px;
  height: 600px;
  overflow: auto;
}

.search-history-scrollpane {
  height: 100%;
}

.search-history-container .search-history {
	display: flex;
	flex-direction: row;
  padding: 10px 10px 8px 15px;
}

.search-history-container .search-history .search-history-icon {
	flex: none;
  vertical-align: middle;
  margin-top: 3px;
} 

.search-history-container .search-history .search-history-detail {
	flex: 1;
  padding: 0px 15px;
  overflow: hidden;
}

.search-history-container .search-history .search-history-detail p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  margin-bottom: 3px;
}

.search-history-container .search-history .search-history-detail .search-criteria {
	font-size: 13px;
}

.search-history-container .search-history .search-history-detail .search-criteria span {
 	font-size: 16px;
  margin-left: 5px;
}

.search-history-container .search-history .search-history-detail .search-criteria:last-of-type span {
	color: #CE6A79;
  font-size: 16px;
  margin-left: 5px;
}

.search-history-container li:last-of-type hr {
	display: none;
}

.search-history-container li hr {
	margin: 0px;
}

.search-history-container li:hover {
	background-color: #F6F7F8;
	cursor: pointer;
}

.search-history-modal-header {
	display: flex;
	background-color: #f2f2f2;
	padding: 20px;
}

.search-history-modal-header-title {
	margin-top: 0px;
	color: black;
}

.search-history-modal-content {
	padding: 0px 20px 10px 20px;
}

.search-history-modal-content .section {
	margin-top: 20px;
}

.search-history-modal-footer {
	padding: 20px;
	text-align: right;
}