.demo-toolbar {
    display: flex;
    width: 100%;
}

.demo-toolbar > * {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.demo-toolbar-right {
    justify-content: flex-end;
}
