<header class="header">

  <button type="button"
          uxFocusIndicator
          [disabled]="isPreviousDisabled()"
          class="header-navigation"
          (click)="previous(); $event.stopPropagation()"
          [attr.aria-label]="previousAria$ | async"
          tabindex="0">

    <ux-icon name="previous" class="header-navigation-previous-icon"></ux-icon>
  </button>

  <button type="button"
          uxFocusIndicator
          class="header-title"
          [attr.aria-label]="headerAria$ | async"
          [class.active]="canAscend$ | async"
          (click)="ascend(); $event.stopPropagation()"
          [tabindex]="(canAscend$ | async) ? 0 : -1">
       {{ datepicker.header$ | async }}
  </button>

  <button type="button"
          uxFocusIndicator
          [disabled]="isNextDisabled()"
          class="header-navigation"
          (click)="next(); $event.stopPropagation()"
          [attr.aria-label]="nextAria$ | async"
          tabindex="0">

    <ux-icon name="next" class="header-navigation-next-icon"></ux-icon>
  </button>
</header>