.nested-donut-example {
    width: 100%;
    margin-top: 15px;
}

.nested-donut-example:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.nested-donut-example .nested-donut-text {
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

.nested-donut-example .nested-donut-container {
    vertical-align: middle;
}

.nested-donut-text p {
    font: 18px "Source Sans Pro";
    font-weight: 600;
}

.nested-donut-text p.documents {
    color: #00a7a2;
}

.nested-donut-text p.reviewed {
    color: #7b63a3;
}

.nested-donut-text p.produced {
    color: #3baa43;
}

.nested-donut-text p span + span {
    font: 14px "Source Sans Pro";
    color: #999;
}