.loading-indicator {
    display: flex;
    align-items: center;  
}

.loading-indicator .spinner {
    margin: 0 1em 0 0.5em;
}

.loading-indicator .loading-indicator-label {
    margin: 0;
    font-style: italic;
}