<button #button
        uxFocusIndicator
        [programmaticFocusIndicator]="true"
        type="button"
        class="btn floating-action-button"
        [class.button-primary]="primary"
        [class.button-secondary]="!primary"
        [attr.aria-label]="ariaLabel"
        [tabIndex]="tabindex$ | async"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (click)="primary ? fab.toggle() : close()">

    <span *ngIf="icon"
          class="floating-action-button-icon"
          [class.hpe-icon]="_isLegacyIcon"
          [class.ux-icon]="!_isLegacyIcon"
          [ngClass]="_icon">
    </span>

    <ng-content *ngIf="!_icon"></ng-content>

</button>