ux-floating-action-button {
    .btn();
    .button-secondary();

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;

    .floating-action-button-icon {
        line-height: 1;
        transform: translateX(0.5px) translateY(-0.5px);
    }
}