<input type="number"
    [id]="inputId"
    role="spinbutton"
    class="form-control number-picker-input"
    [(ngModel)]="value"
    (ngModelChange)="_emitValueChange($event)"
    [min]="min"
    [max]="max"
    [required]="required"
    [attr.placeholder]="placeholder"
    (focus)="_touchedChange()"
    (keydown.ArrowDown)="decrement($event)"
    (keydown.ArrowUp)="increment($event)"
    (wheel)="onScroll($event)"
    step="any"
    [disabled]="disabled"
    [attr.aria-valuemin]="min"
    [attr.aria-valuenow]="value"
    [attr.aria-valuemax]="max"
    [attr.aria-labelledby]="labelledBy">

<div class="number-picker-controls">

    <div class="number-picker-control number-picker-control-up"
         (click)="increment($event)"
         (focus)="_touchedChange()"
         [class.disabled]="disabled || value >= max">

        <ux-icon name="up"></ux-icon>
    </div>

    <div class="number-picker-control number-picker-control-down"
         (click)="decrement($event)"
         (focus)="_touchedChange()"
         [class.disabled]="disabled || value <= min">

         <ux-icon name="down"></ux-icon>
    </div>

</div>
