ux-page-header-icon-menu {
    display: inline-flex;
    cursor: pointer;

    .page-header-icon-menu {
        display: inline-flex;
        position: relative;
        width: 40px;

        .page-header-icon-menu-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            color: #fff;
            background-color: transparent;
            border: none;
            transition: background-color 0.3s ease-in-out;

            &:hover,
            &:focus {
                background-color: rgba(247, 247, 247, 0.1);
            }

            &:focus {
                .native-focus-outline;
            }
        }
    }

    .label {
        line-height: 12px;
        padding: 2px 5px;
        position: absolute;
        right: 6px;
        top: 13px;
    }
}

.ux-page-header-icon-menu {
    width: 310px;

    .ux-menu-item {
        display: flex;
        justify-content: space-between;
        padding: 6px 20px;
        min-height: 0;
        font-size: 1rem;

        &:focus {
            .native-focus-outline;
        }

        .hpe-icon {
            color: #888;
        }

        .dropdown-item-subtitle {
            font-size: 87%;
            color: #888;
        }
    }

    .dropdown-header {
        padding: 3px 20px 8px;
        margin: 4px;
        font-size: 1rem;
        cursor: default;
    }
}