<div class="page-header-icon-menu">
  <button
    type="button"
    class="page-header-icon-menu-button"
    [attr.aria-label]="menu.label"
    [uxMenuTriggerFor]="iconMenu"
    (click)="select(menu)">

    <!-- Support all icon types -->
    @if (_getIconType(menu.icon) !== 'component') {
      <i
        [ngClass]="[_getIconType(menu.icon), menu.icon]">
      </i>
    }

    @if (_getIconType(menu.icon) === 'component') {
      <ux-icon
        [name]="menu.icon">
      </ux-icon>
    }

    @if (menu?.badge) {
      <span class="label label-primary" aria-hidden="true">{{ menu.badge }}</span>
    }
  </button>

  <ux-menu #iconMenu alignment="end" menuClass="ux-page-header-icon-menu">
    @for (dropdown of menu?.dropdown; track dropdown) {
      @if (dropdown.header) {
        <div class="dropdown-header">
          <span class="font-bold">{{ dropdown.title }}</span>
        </div>
      }
      @if (!dropdown.header) {
        <button
          type="button"
          uxMenuItem
          (click)="select(dropdown)"
          (keydown)="keydownHandler(dropdown, $event)">
          <span class="dropdown-item-title">
            <!-- Support all icon types -->
            @if (_getIconType(dropdown.icon) !== 'component') {
              <i
                class="ux-fw"
                [ngClass]="[_getIconType(dropdown.icon) || 'ux-icon', dropdown.icon || '']">
              </i>
            }
            @if (_getIconType(dropdown.icon) === 'component') {
              <ux-icon
                class="m-r-xs"
                [name]="dropdown.icon">
              </ux-icon>
            }
            {{ dropdown.title }}
          </span>
          @if (dropdown.subtitle) {
            <span class="dropdown-item-subtitle">{{ dropdown.subtitle }}</span>
          }
        </button>
      }
      @if (dropdown.divider) {
        <ux-menu-divider></ux-menu-divider>
      }
    }
  </ux-menu>
</div>
