ux-side-navigation-item {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 0.9375rem;

    &.no-children {
        &.active {
            font-weight: 600;
        }
    }

    &.collapse[style] {
        height: auto !important;
    }

    &.active {
        & > .menu-item {
            & > .menu-item-title {
                font-weight: bold;
            }
        }
    }

    &.fourth-level {
        font-size: 0.875rem;
        line-height: 1.2;
    }

    &.fifth-level {
        font-size: 0.8125rem;
        line-height: 0.9;
    }

    .menu-item {
        display: flex;
        color: #333;
        padding: 14px 20px 14px 25px;
        align-items: center;
        cursor: pointer;
    }

    .menu-item-icon {
        margin-right: 6px;
        font-size: 1rem;
        flex: none;
    }

    .menu-item-title {
        flex: 1;
    }

    .menu-item-state-icon {
        flex: none;
        font-size: 0.625rem;
        margin-top: 4px;
        margin-right: 3px;
    }

    .menu-item-state-icon.expanded {
        transform: rotate(-90deg);
    }

    .menu-item-children {
        padding-left: 27px;

        ux-side-navigation-item {
            .menu-item {
                padding: 5px 20px 5px 25px;
            }

            &.active {
                border-left-width: 0;
            }
        }
    }
}
