<div *ngIf="item.children && item.children.length > 0 && !(secondary$ | async)">

    <button #navigationBtn
        type="button"
        [tabindex]="_tabindex | async"
        [uxMenuTriggerFor]="menu"
        [disabled]="item.disabled"
        role="menuitem"
        class="horizontal-navigation-button"
        [class.disabled]="item.disabled"
        [class.selected]="item.selected"
        [class.open]="isOpen"
        [attr.aria-selected]="item.selected">

        <span class="hpe-icon navigation-item-icon" *ngIf="item.icon" [ngClass]="item?.icon"></span>
        <span class="navigation-item-label">{{ item?.title }}</span>
        <span class="hpe-icon hpe-down"></span>

    </button>

    <ux-menu
        #menu
        menuClass="horizontal-navigation-dropdown-menu"
        (opened)="isOpen = true"
        (closed)="isOpen = false">

        <ux-page-header-horizontal-navigation-dropdown-item
            *ngFor="let item of item?.children"
            [item]="item">
        </ux-page-header-horizontal-navigation-dropdown-item>
    </ux-menu>

</div>

<button *ngIf="!item.children || item.children.length === 0 || (secondary$ | async)"
    uxFocusIndicator
    #navigationBtn
    type="button"
    [tabindex]="_tabindex | async"
    role="menuitem"
    class="horizontal-navigation-button"
    [class.disabled]="item.disabled"
    [class.selected]="item.selected"
    [attr.aria-selected]="item.selected"
    (click)="select()"
    [disabled]="item.disabled">

    <span class="hpe-icon navigation-item-icon" *ngIf="item.icon" [ngClass]="item?.icon"></span>
    <span class="navigation-item-label">{{ item?.title }}</span>

</button>