@import "../../../../styles/variables.less";

ux-page-header-horizontal-navigation-item {

    .horizontal-navigation-button {
        position: relative;
        display: block;
        padding: 17px;
        color: @grey4;
        background-color: @navbar-bg-dark;
        cursor: pointer;
        outline: none;
        white-space: nowrap;

        .navigation-item-icon {
            font-size: 0.875rem;
        }

        .navigation-item-label {
            margin-left: 5px;
            font-size: 0.875rem;
        }

        .hpe-down {
            margin-left: 5px;
            font-size: 0.75rem;
        }

        &:hover,
        &:focus {
            color: @white;
            background-color: lighten(@navbar-bg-dark, 5%);
        }

        &.active,
        &.open {
            color: @white;
            background-color: lighten(@navbar-bg-dark, 5%);
        }

        &.selected {
            color: @white;            
            box-shadow: inset 0 3px 0 0 @primary;
        }
    }
}

// Cannot be scoped to the component selector as it can be appended to body
.horizontal-navigation-dropdown-menu,
.horizontal-navigation-dropdown-submenu {
    background-color: darken(@navbar-bg-dark, 5%);
    box-shadow: none;
    margin-top: 0;
    border-radius: 0;
        
    .dropdown-item {
        display: flex;
        align-items: center;
        color: @grey4;
        padding: 8px 10px 8px 20px;
        min-width: 200px;
        outline: none;

        &:hover,
        &:focus {
            background-color: lighten(@navbar-bg-dark, 5%);
            color: @grey4;
        }

        .dropdown-item-title {
            flex: 1;
            font-size: 0.875rem;
        }

        .dropdown-item-icon {
            color: @grey5;
            font-size: 0.625rem;
            font-weight: 600;
        }

        &.selected {
            .dropdown-item-title {
                color: @white;
            }
        }
    }
}

.horizontal-navigation-dropdown-submenu {
    margin-top: -21px;
}