.popover-example {
    display: inline-block;
    margin-left: 20px;
}

.popover-example .popover-example-highlight {
    background-color: rgba(123, 99, 163, 0.3);
    color: black;
}

.popover-example-class {
    min-width: 400px;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 1px 2px 8px -2px #999999;
}

.popover-example-class.bottom {
    margin-top: 0px;
}

.popover-example-class > .arrow {
    display: none;
}

.popover-example-class .popover-content {
    padding: 0px;
}

.popover-email-example {
    padding: 20px 10px 15px 20px;
}

.popover-email-example .hpe-more {
    right: 20px;
    position: absolute;
    margin-top: 5px;
    transition: all 0.1s;
}

.popover-email-example .hpe-more:hover {
    color: #3f3f3f;
    cursor: pointer;
}

.popover-recipient {
    display: flex;
}

.popover-recipient-to-from {
    opacity: 0.9;
    width: 60px;
}

.popover-person-container {
    display: flex;
}

.popover-person-container p {
    margin-bottom: -5px;
}

.popover-person-details-container {
    margin-left: 12px;
}

.popover-person-name {
    color: black;
}

.popover-person-search {
    display: inline-block;
    opacity: 0.9;
    margin-left: 5px;
    font-size: 11px;
}

.popover-person-container .hpe-user, .popover-person-container .hpe-user-manager {
    color: #999;
    margin-top: 8px;
}

.popover-footer {
    height: 40px;
    background-color: #D6DDE5;
    padding: 0px 10px;
    align-items: center;
}

.popover-footer .icon-left {
    position: absolute; 
    left: 20px;
    opacity: 0.8;
    margin-top: 7px;
}

.popover-footer .icon-right {
    position: absolute; 
    right: 25px;
    opacity: 0.8;
    margin-top: 7px;
}

.radio-popover {
    width: 200px;
    border-radius: 1px;
    box-shadow: 1px 2px 8px -5px #999999;
}

.radio-popover .popover-content {
    padding: 9px 14px;
}

.radio-popover label {
    display: block;
}