ux-dashboard-enum-widget {
    .widget-status {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;

        .widget-status-icon {
            margin-right: 4px;
        }
    }

    .ux-side-panel.open > .ux-side-panel-host {
        border-left: none;
    }
}
