<ux-predefined-widget class="widget-element"
                      [id]="id"
                      [colSpan]="colSpan"
                      [rowSpan]="rowSpan"
                      [name]="name"
                      [heading]="heading"
                      [fixedMode]="fixedMode">

    <ux-input-dropdown class="enum-dropdown"
                       [hideFilter]="true"
                       [(selected)]="value"
                       (dropdownOpenChange)="dropdownOpenChange($event)">
        <ng-template #displayContent>
            <ng-container *ngIf="enums | getEnumByValue : value as statusEnum">
                <span class="widget-status-icon" *ngIf="statusEnum.icon || statusEnum.iconTemplate">
                    <ux-icon *ngIf="statusEnum.icon" name="{{ statusEnum.icon }}"></ux-icon>
                    <ng-container *ngIf="statusEnum.iconTemplate">
                        <ng-container *ngTemplateOutlet="statusEnum.iconTemplate"></ng-container>
                    </ng-container>
                </span>
                <span class="widget-status-label">{{ statusEnum.label }}</span>
            </ng-container>
        </ng-template>
        <ul class="enum-widget-dropdown-list"
            role="list"
            cdkTrapFocus
            uxTabbableList
            [focusOnShow]="true"
            [returnFocus]="true">
            <li #enumItems
                class="enum-item"
                role="listitem"
                uxTabbableListItem
                *ngFor="let enumItem of enums"
                [ngClass]="{ selected: enumItem.value === value }"
                (click)="selectValue(enumItem.value, null)"
                (keydown)="selectValue(enumItem.value, $event.which)">

                <span class="enum-icon" *ngIf="enumItem.icon || enumItem.iconTemplate">
                    <ux-icon *ngIf="enumItem.icon" name="{{ enumItem.icon }}"></ux-icon>
                    <ng-container *ngIf="enumItem.iconTemplate">
                        <ng-container *ngTemplateOutlet="enumItem.iconTemplate"></ng-container>
                    </ng-container>
                </span>
                {{ enumItem.label }}
            </li>
        </ul>
    </ux-input-dropdown>
</ux-predefined-widget>
