<ux-predefined-widget class="widget-element"
                      [id]="id"
                      [colSpan]="colSpan"
                      [rowSpan]="rowSpan"
                      [name]="name"
                      [heading]="heading"
                      [fixedMode]="fixedMode">
    <div class="widget-status" *ngIf="enums | getEnumByValue : value as statusEnum">
        <ng-container *ngIf="statusEnum.iconTemplate">
            <ng-container *ngTemplateOutlet="statusEnum.iconTemplate"></ng-container>
        </ng-container>
        <ux-icon *ngIf="statusEnum.icon" name="{{ statusEnum.icon }}"></ux-icon>
        {{ statusEnum.label }}
    </div>
    <button class="widget-side-panel-opener" (click)="openSidePanel()">
        <ux-icon name="chevron-right"></ux-icon>
    </button>
</ux-predefined-widget>
<ux-side-panel #sidePanel
               class="widget-side-panel"
               [attachTo]="'container'"
               [width]="'100%'">
    <div class="ux-side-panel-header">
        <h3>{{ heading }}</h3>
        <button uxSidePanelClose
                aria-label="Close Side Panel"
                type="button"
                class="btn btn-lg btn-link btn-icon button-secondary">
            <ux-icon name="close"></ux-icon>
        </button>
    </div>
    <ux-select-list #enumList
                    class="ux-side-panel-content"
                    [selected]="selected"
                    (selectedChange)="changeSelection($event)">
        <ux-select-list-item *ngFor="let enumItem of enums" [data]="enumItem">
            <ng-container *ngIf="enumItem.iconTemplate"></ng-container>
            <ux-icon *ngIf="enumItem.icon" name="{{ enumItem.icon }}"></ux-icon>
            {{ enumItem.label }}
        </ux-select-list-item>
    </ux-select-list>
    <div class="ux-side-panel-footer">
        <button type="button" class="m-b btn button-primary" (click)="save()">Save</button>
        <button type="button" class="m-b btn button-secondary" (click)="cancel()">Cancel</button>
    </div>
</ux-side-panel>
