ux-dashboard-enum-widget {
    .enum-dropdown {
        cursor: pointer;
        width: 100%;

        .widget-status-icon {
            margin-right: 4px;
        }
    }
}

.enum-widget-dropdown-list {
    padding: 0;
    margin: 0;

    .enum-item {
        padding: 8px 12px;

        &:hover {
            background: #e6e6e6;
        }

        &:active {
            background: #ccc;
        }

        &.selected {
            background: rgba(0, 0, 0, 0.1);
        }

        &:not(.selected) {
            cursor: pointer;
        }

        .enum-icon {
            margin-right: 4px;
        }
    }
}
