timepicker a .glyphicon {
    font-family: 'hpe-icons';
}

timepicker a .glyphicon-chevron-down:before {
    content: "\F176";
}

timepicker a .glyphicon-chevron-up:before {
    content: "\F226";
}

timepicker td .btn-default, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: #7b63a3;
    border-color: #7b63a3;
    color: #fff;
}
