.demo-side-panel-container {
    position: relative;
    height: 300px;
    border: 1px solid #afafaf;

    &.modal-open .demo-content {
        overflow-y: hidden;
    }

    .demo-content {
        padding: 8px;
        overflow-y: auto;
    }
}