.ux-custom-filter {
    &.active {
        font-weight: 600;
    }

    .hpe-down {
        font-size: 0.625rem;
    }

    .dropdown-menu {
        .dropdown-list-item {
            .dropdown-item {
                padding-left: 10px;

                .hpe-icon {
                    width: 16px;
                }

                .filter-dropdown-title {
                    padding-left: 10px;
                }
            }
        }
    }
}