.custom-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.custom-icon > .hpe-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.custom-icon.disabled > .hpe-icon {
    cursor: default;
}