.employee-list {
    width: 100%;
    height: 250px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.employee-list > ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.employee-list > ol > li {
    width: 100%;
}

li.employee-item {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.employee-details {
    flex: 1 0 auto;
    color: #888;
}

.employee-name {
    color: black;
}

.employee-department {
    font-size: 90%;
    font-weight: 300;
    margin-right: 1em;
}

.employee-email {
    font-size: 90%;
    font-weight: 300;
}

.employee-load-more {
    width: 100%;
    padding: 10px 20px;
}

.employee-loading {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.employee-loading > .spinner {
    margin: 0 1em 0 0.5em;
}
