<div class="ux-resizable-table-column-content">
  <ng-content></ng-content>
</div>

<div class="ux-resizable-table-column-actions">
  <ng-content select="ux-column-sorting"></ng-content>
</div>

@if (!disabled && handleVisible) {
  <div
    #handle
    uxDrag
    uxFocusIndicator
    tabindex="0"
    role="separator"
    aria-label="Column resize handle. Use arrow keys to change the column width."
    class="ux-resizable-table-column-handle"
    [attr.aria-valuemin]="minWidth"
    [attr.aria-valuenow]="width"
    (onDragStart)="onDragStart($event)"
    (onDrag)="onDragMove($event, handle)"
    (onDragEnd)="onDragEnd()"
    (keydown.ArrowLeft)="onMoveLeft()"
    (keydown.ArrowRight)="onMoveRight()"
    (click)="$event.stopPropagation()"
  >
    <div class="ux-resizable-table-column-handle-icon"></div>
  </div>
}
