tr.leb-group {
    width: 100%;
    display: inline-flex;
    align-items: center;

    td.logical-operator-delete {
        margin-left: auto;
    }

    .delete-btn {
        .button-warning;

        &:disabled {
            background-color: @btn-warning-disabled-bg;
            color: @btn-warning-disabled-color;
            border-color: @btn-warning-disabled-border;
        }
    }
}
