<tr
    expressionRow
    [rowPath]="path"
    class="leb-group"
    uxHoverActionContainer
    [style.padding-left.px]="indent || 8">

    <!--<td [style.max-width.px]="100">
        <ux-select
            uxFocusIndicatorOrigin
            [disabled]="!_dropdownOpen && (_editBlocked$ | async)"
            [value]="selectedLogicalOperator"
            (dropdownOpenChange)="onDropdownOpenChange($event)"
            (valueChange)="handleSelectedOperatorChange($event)"
            [readonlyInput]="true"
            [options]="_logicalOperatorOptions"
            [display]="'label'"
            [key]="'name'">
        </ux-select>
    </td>-->

    <td>
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-link button-primary dropdown-toggle dropdown-button"
                [disabled]="_editBlocked$ | async"
                uxFocusIndicatorOrigin
                (keydown.down)="$event.stopPropagation();"
                [uxMenuTriggerFor]="logicalOperatorMenu">
                <span>{{ selectedLogicalOperator?.label | uppercase }}</span>
                <ux-icon name="chevron-down" class="dropdown-icon-inline"></ux-icon>
            </button>
        </div>

        <ux-menu #logicalOperatorMenu (opening)="handleMenuOpening()" (closing)="handleMenuClosing()">
            <button
                *ngFor="let logicalOperator of logicalOperators; index as index"
                (activate)="handleSelectedOperatorChange(index)"
                type="button"
                uxMenuItem>
                <span class="dropdown-menu-text">{{logicalOperator.label | uppercase}}</span>
            </button>
        </ux-menu>
    </td>

    <td *ngIf="!_valid" class="m-l-md text-error">
        <ux-icon name="status-error-filled" class="m-r-xs"></ux-icon>
        {{ _errorMessage }}
    </td>

    <td class="logical-operator-delete">
        <button
            uxHoverAction
            uxFocusIndicatorOrigin
            (click)="deleteGroup()"
            type="button"
            class="btn btn-link btn-icon btn-lg button-warning"
            [disabled]="_editBlocked$ | async"
            [attr.aria-label]="('deleteLogicalOperatorAriaLabel' | l10n) || 'Delete logical operator'">
            <span class="ux-icon ux-icon-trash" aria-hidden="true"></span>
        </button>
    </td>
</tr>

<ng-container *ngFor="let child of _children; index as index">
    <ux-leb-condition
        *ngIf="child.type === 'condition'"
        (conditionChange)="handleSubExpressionChange($event, index)"
        [condition]="child"
        [path]="index | rowPath:path"
        (conditionDeleted)="removeConditionAtIndex($event)"
        (conditionEmbedded)="embedConditionAtIndex($event)"
        [indent]="indent + additionalIndent">
    </ux-leb-condition>

    <ux-leb-group
        *ngIf="child.type === 'group'"
        [subExpression]="child"
        [path]="index | rowPath:path"
        (subExpressionChange)="handleSubExpressionChange($event, index)"
        [indent]="indent + additionalIndent">
    </ux-leb-group>
</ng-container>

<ng-container *ngIf="_showAddBtn">
    <tr
        expressionRow
        [rowPath]="(_children?.length || 0) | rowPath:path"
        class="leb-group"
        [style.padding-left.px]="indent + additionalIndent">
        <td>
            <button
                [uxMenuTriggerFor]="addMenu"
                [disabled]="_editBlocked$ | async"
                uxFocusIndicatorOrigin
                type="button"
                class="btn btn-icon group-add-btn"
                [ngClass]="(_editBlocked$ | async) ? 'button-primary-disabled' : 'button-primary'"
                aria-label="Add">
                <span class="ux-icon ux-icon-add" aria-hidden="true"></span>
            </button>
        </td>
    </tr>

    <ux-menu
        (opening)="handleMenuOpening()" (closing)="handleMenuClosing()"
        #addMenu>
        <button
            type="button"
            uxMenuItem
            uxFocusIndicatorOrigin
            (activate)="addCondition()">
            <span class="dropdown-menu-text">{{ ('addConditionBtnText' | l10n) || 'Add condition' }}</span>
        </button>

        <button
            type="button"
            uxMenuItem
            uxFocusIndicatorOrigin
            (activate)="addGroup()">
            <span class="dropdown-menu-text">{{ ('addLogicalOperatorBtnText' | l10n) || 'Add logical operator'}} </span>
        </button>
    </ux-menu>
</ng-container>
