<table class="calendar">
  <thead>
    <tr>
      <th *ngFor="let day of datePicker.weekdays$ | async" class="weekday" [attr.aria-label]="day">{{ day }}</th>
    </tr>
  </thead>

  <tbody role="grid">
    <tr role="row" *ngFor="let week of dayService.grid$ | async">
      <td *ngFor="let day of week"
          class="date-cell"
          role="gridcell"
          [attr.aria-label]="day.date | date"
          [class.current]="day.isToday"
          [class.active]="day.isActive"
          [class.preview]="!day.isCurrentMonth"
          (mousedown)="select(day.date)"
          (keyup.enter)="select(day.date)"
          [tabindex]="day.currentMonth ? 0 : -1">
          {{ day.date.getDate() }}
      </td>
    </tr>
  </tbody>
</table>
