<table class="calendar">
    <thead>
        <tr>
            <th *ngFor="let day of datePicker.weekdays$ | async | weekDaySort: (datePicker.startOfWeek$ | async)" class="weekday" [attr.aria-label]="day">{{ day }}</th>
        </tr>
    </thead>

    <tbody role="grid">
        <tr role="row" *ngFor="let row of dayService.grid$ | async; trackBy: trackWeekByFn">

            <td *ngFor="let item of row; trackBy: trackDayByFn" class="date-cell" role="gridcell">

                <button type="button"
                        uxFocusIndicator
                        [programmaticFocusIndicator]="true"
                        class="date-button"
                        [class.range-start]="isRangeStartDate(item.date)"
                        [class.range-between]="isWithinRange(item.date) || isDateHovered(item.date)"
                        [class.range-end]="isRangeEndDate(item.date)"
                        [focusIf]="(dayService.focused$ | async)?.day === item.day && (dayService.focused$ | async)?.month === item.month && (dayService.focused$ | async)?.year === item.year"
                        [attr.aria-label]="item.date | date"
                        [attr.aria-selected]="isItemActive(item.date, item.isActive)"
                        [attr.aria-hidden]="!item.isCurrentMonth"
                        [class.current]="item.isToday"
                        [class.active]="isItemActive(item.date, item.isActive)"
                        [class.preview]="!item.isCurrentMonth"
                        [tabindex]="getTabbable(item) ? 0 : -1"
                        [disabled]="getDisabled(item.date)"
                        (click)="select(item.date); $event.stopPropagation()"
                        (mouseenter)="onRangeMouseEnter(item.date)"
                        (mouseleave)="onRangeMouseLeave(item.date)"
                        (keydown.ArrowLeft)="focusDate(item, -1); $event.preventDefault()"
                        (keydown.ArrowRight)="focusDate(item, 1); $event.preventDefault()"
                        (keydown.ArrowUp)="focusDate(item, -7); $event.preventDefault()"
                        (keydown.ArrowDown)="focusDate(item, 7); $event.preventDefault()">

                    {{ item.date.getDate() }}
                </button>

            </td>
        </tr>
    </tbody>
</table>