@import '../../../assets/styles/variables.less';

:host {
    display: inline-block;
    margin-left: 15px;

    a {
        color: @text-color;
    }
}

::ng-deep .ux-migrate-popover {
    max-width: 400px;
}

.uau-icon {
    height: 22px;
    position: relative;
    top: -1px;
    padding-right: 4px;
}

.migrate-popover {
    width: 100%;

    tr {
        border-bottom: 1px solid @grey5;

        th {
            text-align: center;
            padding-bottom: 10px;
            font-size: 16px;
        }

        td {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 14px;

            &.caveats-title {
                vertical-align: top;
            }

            ul {
                padding-left: 28px;
            }
        }

        &:first-child {
            td {
                padding-top: 0;
            }
        }

        &:last-child {
            border-bottom: none;

            td {
                padding-bottom: 0;
            }
        }
    }
}
