.tree-view-custom-class.tree-node {
    background-color: #00a7a2;
    color: #fff;
}

.tree-view-custom-class.tree-node.highlight {
    background-color: #025662;
}

.tree-view-custom-class.tree-node .hpe-icon {
    color: #fff;
}