.dnd-cards-demo {
    display: flex;
    height: 400px;
}

.dnd-cards-demo > * {
    margin: 20px;
    background-color: #f2f2f2;
}

.dnd-cards-container > .card {
    display: block;
    width: 100%;
}

.dnd-list-container {
    flex: 1;
}

.card.ux-reorderable-moving {
    visibility: hidden;
}