<div *ngIf="item.children && item.children.length > 0"
    dropdown
    #subMenu="bs-dropdown"
    [isOpen]="dropdownOpen"
    container="body"
    placement="right"
    (mouseenter)="hoverStart()"
    (mouseleave)="hoverLeave()">

    <a role="menuitem"
        #button
        class="dropdown-item"
        [class.selected]="item.selected"
        dropdownToggle
        aria-haspopup="true"
        [attr.aria-expanded]="dropdownOpen"
        [attr.aria-selected]="item.selected"
        tabindex="-1"
        (click)="select(item)"
        (keyup)="submenuKeyupHandler($event)">

        <span class="dropdown-item-title">{{ item.title }}</span>
        <span class="dropdown-item-icon hpe-icon hpe-next"></span>

    </a>

    <ul *dropdownMenu
        role="menu"
        class="dropdown-menu horizontal-navigation-dropdown-submenu"
        uxMenuNavigation
        #menuNavigation="uxMenuNavigation"
        menuOrigin="left"
        (navigatedOut)="dropdownOpen = false; button.focus();"
        (mouseenter)="hoverStart()"
        (mouseleave)="hoverLeave()">

        <li *ngFor="let subItem of item.children" role="none">

            <a role="menuitem"
                class="dropdown-item"
                [class.selected]="subItem.selected"
                uxMenuNavigationItem
                [attr.aria-selected]="subItem.selected"
                tabindex="-1"
                (click)="select(subItem, item)"
                (keyup)="keyupHandler($event, subItem)">

                <span class="dropdown-item-title">{{ subItem.title }}</span>

            </a>

        </li>
    </ul>

</div>

<div *ngIf="!item.children || item.children.length === 0"
    (mouseenter)="hoverStart()"
    (mouseleave)="hoverLeave()">

    <a role="menuitem"
        #button
        class="dropdown-item"
        [class.selected]="item.selected"
        [attr.aria-selected]="item.selected"
        tabindex="-1"
        (click)="select(item)"
        (keyup)="keyupHandler($event, item)">

        <span class="dropdown-item-title">{{ item.title }}</span>

    </a>

</div>