<div *ngIf="item.children && item.children.length > 0">

    <button
        type="button"
        uxMenuItem
        [disabled]="item.disabled"
        [class.selected]="item.selected"
        [attr.aria-selected]="item.selected"
        [uxMenuTriggerFor]="menu">

        <span class="dropdown-item-title">{{ item.title }}</span>
        <span class="dropdown-item-icon hpe-icon hpe-next"></span>
    </button>

    <ux-menu #menu placement="right" menuClass="horizontal-navigation-dropdown-submenu">
        <button
            type="button"
            *ngFor="let subItem of item.children"
            uxMenuItem
            [disabled]="subItem.disabled"
            [class.selected]="subItem.selected"
            [attr.aria-selected]="subItem.selected"
            (click)="select(subItem)"
            (keydown)="keydownHandler($event, subItem)">

            <span class="dropdown-item-title">{{ subItem.title }}</span>
        </button>
    </ux-menu>

</div>

<div *ngIf="!item.children || item.children.length === 0">

    <button
        type="button"
        uxMenuItem
        [disabled]="item.disabled"
        [class.selected]="item.selected"
        [attr.aria-selected]="item.selected"
        (click)="select(item)"
        (keydown)="keydownHandler($event, item)">

        <span class="dropdown-item-title">{{ item.title }}</span>
    </button>

</div>