:host::ng-deep {
    .nav-tabs {
        margin-bottom: 15px;
    }

    .tab-content {
        pre[class*="language-"] {
            border-top: 1px solid #ddd;
        }
    }
}

h3 {
    margin-top: 40px;

    &.initial-heading {
        margin-top: 10px;
    }
}

em {
    text-decoration: underline;
}
