<a *ngIf="routerLinkNormalized"
    [class.has-arrow]="children.length > 0"
    [class.no-arrow]="indentWithoutArrow"
    [routerLink]="routerLinkNormalized"
    uxTabbableListItem>

    <span class="nav-title">{{header}}</span>

</a>

<a *ngIf="!routerLinkNormalized"
    [class.has-arrow]="children.length > 0"
    [class.no-arrow]="indentWithoutArrow"
    (click)="expanded = !expanded"
    uxTabbableListItem>

    <span class="nav-title">{{header}}</span>

</a>

<ng-content *ngIf="expanded"></ng-content>
