<button
    *ngIf="isQueryEmpty(); else queryItems"
    (click)="addCondition()"
    type="button"
    class="btn btn-icon-with-text button-primary">
    <span class="ux-icon ux-icon-add" aria-hidden="true"></span><span>{{addButtonText}}</span>
</button>

<ng-template #queryItems>
    <ux-hierarchical-search-builder-group
        *ngIf="query?.type === 'group'; else conditionBlock"
        [subquery]="query"
        (groupChange)="handleGroupChange($event)"
        [logicalOperatorName]="getLogicalOperatorName()">
    </ux-hierarchical-search-builder-group>
</ng-template>

<ng-template #conditionBlock>
    <div class="row m-b-sm">
        <ux-hierarchical-search-builder-condition
            *ngIf="query?.type === 'condition'"
            (conditionChange)="handleGroupChange($event)"
            [condition]="query"
            (conditionDeleted)="deleteCondition()">
        </ux-hierarchical-search-builder-condition>
    </div>

    <div class="row m-b-sm">
        <div class="col">
            <button
                (click)="addGroup()"
                type="button"
                class="btn btn-icon button-primary"
                aria-label="Add">
                <span class="ux-icon ux-icon-add" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</ng-template>
