.organization-chart {
    width: 100%;
    height: 700px;
}

.organization-chart-node {
    padding: 16px;
    user-select: none;
}

.employee-name {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.employee-job-title {
    margin-top: 0;
    margin-bottom: 6px;
    color: #656668;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.employee-email {
    margin: 0;
    color: #656668;
    font-size: 14px;
}