.organization-chart-demo-container {
    width: 100%;
    height: 700px;
    border: 1px solid #E2E2E2;
    border-top: none;
}

.org-node {
    position: relative;
    padding: 10px 15px;
}

.org-node .org-node-corner-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0;
    border-color: transparent #ff8d6d transparent transparent;
}

.org-node .org-node-indicators {
    position: absolute;
    top: 8px;
    right: 13px;
}

.org-node .org-node-indicators .org-node-collapse {
    display: none;
    font-size: 1.063rem;
}

.org-node:hover .org-node-indicators.expanded .org-node-collapse {
    display: block;
    color: #666;
}

.org-node .org-node-indicators .org-node-reports .hpe-user-manager {
    color: #cccccc;
    transition: color 0.3s ease-in-out;
    font-size: 1.063rem;
}

.org-node:hover .org-node-indicators .org-node-reports .hpe-user-manager {
    color: #797979;
}

.org-node:hover .org-node-indicators.expanded .org-node-reports {
    display: none;
}

.org-node .org-node-indicators .org-node-reports .org-node-child-count {
    margin: 0;
    text-align: center;
    color: #666;
    line-height: 10px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.org-node:hover .org-node-indicators .org-node-reports .org-node-child-count {
    opacity: 1;
}

.org-node .org-node-name {
    margin: 0;
    color: #333;
    font-weight: 600;
    font-size: 1.125rem;
    width: calc(100% - 25px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.org-node .org-node-position {
    color: #999;
    font-size: 1.063rem;    
    margin-top: 0;
    margin-bottom: 5px;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    width: calc(100% - 25px);
}

.org-node .org-node-email {
    color: #999;
    font-size: 0.9375rem;    
    margin: 0;                    
}