<a id="top-focus" href="javascript:void(0)">Top focus target</a>

<div class="container">
    <div class="row">
        <div class="col-md-6 justify-content-center">
            <div class="btn-group">
                <button
                    type="button"
                    id="open-menu"
                    class="btn button-primary dropdown-toggle dropdown-button"
                    [uxMenuTriggerFor]="menu">
                    <span>Menu</span><ux-icon name="chevron-down" class="dropdown-icon-inline"></ux-icon>
                </button>
            </div>
        </div>
    </div>

    <ux-menu id="menu" #menu menuClass="ux-menu-demo"
        [alignment]="(alignment$ | async)">

        <button id="menu-item-1" type="button" uxMenuItem>
            <span class="dropdown-menu-icon"></span>
            <span class="dropdown-menu-text">Menu Item</span>
        </button>

        <ux-menu-divider></ux-menu-divider>

        <button id="menu-item-2" type="button" uxMenuItem>
            <span class="dropdown-menu-icon"></span>
            <span class="dropdown-menu-text">Export</span>
        </button>

    </ux-menu>


    <span>menu alignment</span>
    <div class="btn-container">
        <button id="alignment-start" type="button" class="btn button-secondary" (click)="changeAlignment('start')">Alignment Start</button>
        <button id="alignment-center" type="button" class="btn button-secondary" (click)="changeAlignment('center')">Alignment Center</button>
        <button id="alignment-end" type="button" class="btn button-secondary" (click)="changeAlignment('end')">Alignment End</button>
    </div>
</div>